<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<include file="Public/head"/>

<body>
<include file="Public/header"/>
    <!--头部结束-->
    <div class="myperson-con">
        <div class="people-left fl">
            <div class="people-left-top">
                <dl>
                    <dt class="fl"><img src="__IMG__/peoplelefttu.png" /></dt>
                    <dd>
                        <a href="#">
                            <img src="__IMG__/peopletou.png" style=" vertical-align:middle;"/>
                            <span style=" vertical-align:middle;">修改头像</span>
                        </a>
                        <a href="#"><b>2000</b>积分</a>
                        <a href="#" class="bornone">
                            <img src="__IMG__/author.png" style=" vertical-align:middle;"/>
                            <span style=" vertical-align:middle;">作者简介</span>
                        </a>
                    </dd>

                </dl>
                <div class="clear"></div>
            </div>
            <include file="Public/left"/>
        </div>
        <!--左侧内容结束-->
        <div class="myperson-right fr"><!--右侧内容-->
            <div class="myperson-top"><!--上半部-->
                <div class="myperson-left fl"><!--左侧开始-->
                    <div class="myperson-left-top">
                        <dl>
                            <dt><img src="__IMG__/persontu.jpg" width="110px" /></dt>
                            <dd>萌萌萌萌萌控</dd>
                            <dd>个人设计师</dd>
                            <dd class="mybornone">
                                <img src="__IMG__/personjia.png" style=" vertical-align:middle;" />
                                <span class="myzi">加关注</span>
                            </dd>
                        </dl>
                        <div class="clear"></div>
                    </div>
                    <div class="myperson-left-bottom">
                        <ul>
                            <li><img src="__IMG__/personpoint1.png" style=" vertical-align:middle;"/> <span class="zi">51454123积分</span></li>
                            <li><img src="__IMG__/personpoint2.png" style=" vertical-align:middle;"/> <span class="zi">3201525人气</span></li>
                            <li><img src="__IMG__/personpoint3.png" style=" vertical-align:middle;"/> <span class="zi">5041积分</span></li>
                            <li class="mylihov">
                                <span>个人简介：看大尸的才了解...</span>
                                <!--<span class="mydiscripion"><p>对方攻击对方结好地方就告诉大家回复收到回复收复失地凤凰山东方还不是都就凤凰山东方的凤凰山东方黑色的就凤凰山东方发挥地方好地方 返回师傅师傅就是打发时间的方式地方果</p> </span>-->
                            </li>
                        </ul>
                    </div>

                </div><!--左侧结束-->
                <div class="mypersonal-right fr"><img src=__IMG__/personda.jpg" height="272px" width="480px" /></div>
                <div class="clear"></div>
            </div><!--上半部分结束-->
            <div class="myperson-bottom"><!--下半部分-->
                <h3>作品展示</h3>
                <div class="mybottom-title tab">
                    <ul>
                        <li class="work" title="persontotal">全部作品</li>
                        <li title="mypersonmodel">模型作品</li>
                        <li title="mypersonpic">图片作品</li>
                        <li title="mypersonvideo">视频作品</li>
                    </ul>
                </div>
                <div class="mybottom-title-con">
                    <div class="mypersontotal mypubuliu">
                        <div class="myjiazai">
                            <span class="myjiazaisp myspimg"><img src="__IMG__/findimg.png" /> </span>
                            <span class="myjiazaisp mybor">标签名称福建人</span>
                                            <span class="myjiazaisp">
                                              <span>￥1200起</span>
                                              <span><img src="__IMG__/xing.png" style="vertical-align:middle;"/> <b style="color:#333; vertical-align:middle;">100</b></span>
                                              <span>成品图片</span>
                                         </span>
                        </div>
                        <div class="myjiazai">
                            <span class="myjiazaisp myspimg"><img src="__IMG__/findimg3.jpg" /> </span>
                            <span class="myjiazaisp mybor">标签名称福建人</span>
                     
                                           <span class="myjiazaisp">
                                               <span>￥1200起</span>
                                               <span><img src="__IMG__/xing.png" style="vertical-align:middle;"/> <b style="color:#333; vertical-align:middle;">100</b></span>
                                              <span>成品图片</span>
                                           </span>
                        </div>

                        <div class="myjiazai">
                            <span class="myjiazaisp myspimg"><img src="__IMG__/findimg2.jpg" /> </span>
                            <span class="myjiazaisp mybor">标签名称福建人</span>
                         
                                          <span class="myjiazaisp">
                                               <span>￥1200起</span>
                                               <span><img src="__IMG__/xing.png" style="vertical-align:middle;"/> <b style="color:#333; vertical-align:middle;">100</b></span>
                                               <span>成品图片</span>
                                         </span>
                        </div>
                        <div class="myjiazai">
                            <span class="myjiazaisp myspimg"><img src="__IMG__/findimg.png" /> </span>
                            <span class="myjiazaisp mybor">标签名称福建人</span>
                                            <span class="myjiazaisp">
                                              <span>￥1200起</span>
                                              <span><img src="__IMG__/xing.png" style="vertical-align:middle;"/> <b style="color:#333; vertical-align:middle;">100</b></span>
                                              <span>成品图片</span>
                                         </span>
                        </div>
                        <div class="myjiazai">
                            <span class="myjiazaisp myspimg"><img src="__IMG__/findimg3.jpg" /> </span>
                            <span class="myjiazaisp mybor">标签名称福建人</span>
                     
                                           <span class="myjiazaisp">
                                               <span>￥1200起</span>
                                               <span><img src="__IMG__/xing.png" style="vertical-align:middle;"/> <b style="color:#333; vertical-align:middle;">100</b></span>
                                              <span>成品图片</span>
                                           </span>
                        </div>

                        <div class="myjiazai">
                            <span class="myjiazaisp myspimg"><img src="__IMG__/findimg2.jpg" /> </span>
                            <span class="myjiazaisp mybor">标签名称福建人</span>
                         
                                          <span class="myjiazaisp">
                                               <span>￥1200起</span>
                                               <span><img src="__IMG__/xing.png" style="vertical-align:middle;"/> <b style="color:#333; vertical-align:middle;">100</b></span>
                                               <span>成品图片</span>
                                         </span>
                        </div>







                    </div>
                    <div class="personmodel" style=" display:none;">是地方很近</div>
                    <div class="personpic" style="display:none;">上到飞机上的空房间是的看来你</div>
                    <div class="personvideo" style="display:none;">速度发货速度开发你说的快乐</div>
                </div>
            </div><!--下半部分结束-->
        </div><!--右侧内容结束-->
        <div class="clear"></div>
    </div>
<include file="Public/footer"/>
</div>
<script>
    $(function(){
        $('.tab ul li').click(function(){
            $(this).addClass('work').siblings().removeClass('work');
            var $tab = $(this).attr('title');
            $("." + $tab).show().siblings().hide();
        })


    })
    var margin = 14;
    var li=$(".myjiazai");
    var    li_W = li[0].offsetWidth+margin;
    function myperson(){
        var h=[];
        var n = 750/li_W|0;
        for(var i = 0;i < li.length;i++) {
            li_H = li[i].offsetHeight;
            if(i < n) {
                max_H =Math.max.apply(null,h);
                h[i]=li_H;
                li.eq(i).css("top",0);
                li.eq(i).css("left",i * li_W);
            }
            else{
                min_H =Math.min.apply(null,h) ;
                minKey = getarraykey(h, min_H);
                h[minKey] += li_H+margin ;
                li.eq(i).css("top",min_H+margin);
                li.eq(i).css("left",minKey * li_W);
            }

        }
        max =Math.max.apply(null,h) ;
        $(".mypubuliu").css("height",max+6);
    }

    function getarraykey(s, v) {for(k in s) {if(s[k] == v) {return k;}}}
    window.onload = function() {myperson();};
    window.onresize = function() {myperson();};
</script>
</body>
</html>
