<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<include file="Public/head"/>

<body>
<div class="zhengti">

    <include file="Public/header"/>

    <div class="gr_main">

        <div class="people-left fl">
            <div class="people-left-top">
                <dl>
                    <dt class="fl"><img src="__IMG__/peoplelefttu.png" /></dt>
                    <dd>
                        <a href="#">
                            <img src="__IMG__/peopletou.png" style=" vertical-align:middle;"/>
                            <span style=" vertical-align:middle;">修改头像</span>
                        </a>
                        <a href="#"><b>2000</b>&nbsp;积分</a>
                        <a href="#" class="bornone">
                            <img src="__IMG__/author.png" style=" vertical-align:middle;"/>
                            <span style=" vertical-align:middle;">作者简介</span>
                        </a>
                    </dd>

                </dl>
                <div class="clear"></div>
            </div>
            <include file="Public/left"/>
        </div>
        <!--左侧内容结束-->

        <!--右侧-->
        <div class="ge_right">
            <div class="renzheng">认证状态</div>
            <div class="rzzt">未认证</div>
            <a class="rzan">我要认证</a>
            <div class="sfrz">已认证</div>
            <div class="rzwz">昵图网</div>
            <div class="xiadan">我要下单</div>
            <div class="shangchuan">上传作品</div>

            <div class="woddbg">
                <div class="dingdanl">我的订单</div>
                <div class="qbdingdan"><a href="#">查看全部订单</a></div>
                <div class="dingdan_xiangqing">
                    <img src="__IMG__/tu1.png" width="100" height="100" class="dingdan_tu" />
                    <div class="ddyhm">用户订单</div>
                    <div class="dd_video">视频</div>
                    <div class="dd_time">2015-12-10<br />11:20:23</div>
                    <div class="dd_money"><font>￥</font>1100</div>
                    <div class="dd_ok">已完成</div>
                    <div class="dd_ck"><a href="#">查看</a></div>
                </div>
                <div class="dingdan_xiangqing">
                    <img src="__IMG__/tu1.png" width="100" height="100" class="dingdan_tu" />
                    <div class="ddyhm">用户订单</div>
                    <div class="dd_video">视频</div>
                    <div class="dd_time">2015-12-10<br />11:20:23</div>
                    <div class="dd_money"><font>￥</font>1100</div>
                    <div class="dd_ok">已完成</div>
                    <div class="dd_ck"><a href="#">查看</a></div>
                </div>
                <div class="dingdan_xiangqing">
                    <img src="__IMG__/tu1.png" width="100" height="100" class="dingdan_tu" />
                    <div class="ddyhm">用户订单</div>
                    <div class="dd_video">视频</div>
                    <div class="dd_time">2015-12-10<br />11:20:23</div>
                    <div class="dd_money"><font>￥</font>1100</div>
                    <div class="dd_ok">已完成</div>
                    <div class="dd_ck"><a href="#">查看</a></div>
                </div>
            </div>


        </div>


        <!--右侧结束-->
    </div>

    <div class="clear"></div>
    <include file="Public/footer"/>
</div>

<div class="gjl">
    <a href=""><div class="gjl_1"></div></a>
    <a href=""><div class="gjl_2"></div></a>
    <a href=""><div class="gjl_3"></div></a>
    <a href=""><div class="gjl_4"></div></a>
    <a href=""><div class="gjl_5"></div></a>
    <a href="#heads"><div class="gjl_6"></div></a>
</div>

</body>
</html>
