<extend name="Index/index" />
<block name="title">
后台管理--文章修改页
</block>
<block name="con">
<div class="page-title">
    <div class="title_left">
        <h3>文章管理</h3>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <h2>文章修改 <small></small></h2>
        <ul class="nav navbar-right panel_toolbox">
           
            <li class="dropdown">
                <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"> 
                </a>
            </li>   
            
        </ul>
        <div class="clearfix"></div>
    </div>
	<div class="x_content">
	    <br>
	    <form action="{:U(upload)}" class="form-horizontal form-label-left" data-parsley-validate="" id="demo-form2" name="goods_insert" novalidate="" method="post" enctype="multipart/form-data">
				
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">文章标题
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="text" style="width: 500px;" class="form-control col-md-7 col-xs-12" required="required" id="title" name="title" data-parsley-id="4702" value="{$art.title}">
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">作者
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="text" style="width: 500px;"  class="form-control col-md-7 col-xs-12" required="required" id="author" name="author" data-parsley-id="4702" value="{$art.author}">
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">文章出处
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="text" style="width: 500px;" class="form-control col-md-7 col-xs-12" required="required" id="derivation" name="derivation" data-parsley-id="4702" value="{$art.derivation}">
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">文章类型
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	            	<select style="width:200px;height: 35px;font-size:18px;opacity: 0.7;" name="type">
	            		<option <eq name="art.type" value="媒体合作">selected</eq>>媒体合作</option>
	            		<option <eq name="art.type" value="招贤纳士">selected</eq>>招贤纳士</option>
	            		<option <eq name="art.type" value="呼叫中心">selected</eq>>呼叫中心</option>
	            		<option <eq name="art.type" value="订单相关">selected</eq>>订单相关</option>
	            		<option <eq name="art.type" value="支付类">selected</eq>>支付类</option>
	            		<option <eq name="art.type" value="购物指南">selected</eq>>购物指南</option>
	            		<option <eq name="art.type" value="会员权益">selected</eq>>会员权益</option>
	            		<option <eq name="art.type" value="配送服务">selected</eq>>配送服务</option>
	            	</select> 
	            </div>
	        </div>
	        <neq name="art.image" value="">
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">原图
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <img style="width:210px;padding:5px;border: 1px solid #ddd;" src="{$art.image}">
	            </div>
	        </div>
	        </neq>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">新图
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="file" id="images" name="image" data-parsley-id="4702" value="" onchange="javascript:setImagePreview();"><span></span>
	            </div>
	            <div id="localImag" style="margin-left: 250px;margin-top:35px;width:210px;height:auto;border: 1px solid #ddd;padding:5px;display: none;" ><img  id="preview" width=-1 height=-1 style="diplay:none" />
				</div>
			</div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">文章内容
	            </label>
	            <!-- 文本编辑区 开始 -->
			<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    		<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.js"> </script>
			<script id="editor" type="text/plain" style="width:624px;height:400px;margin-left: 250px;">{$art.content|htmlspecialchars_decode|strip_tags}</script>
			<script type="text/javascript">
				var ue = UE.getEditor('editor');
			</script>

			

            <!-- 文本编辑区 结束 -->
	          <!--   <div class="col-md-6 col-sm-6 col-xs-12">
	                <textarea style="border-radius: 3px;width: 500px;height: 300px;" rows="20"  name="content"  class="form-control col-md-7 col-xs-12" required="required" id="content" data-parsley-id="4702" >{$art.content}</textarea>
	            </div> -->
	        </div>

	        <div class="ln_solid"></div>
	        <div class="form-group">
	        <input type="hidden" name="id" value="{$art.id}" />
	            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
	                <button class="btn btn-success" type="submit">更新</button>
	                <button class="btn btn-primary" type="reset">重置</button>
	            </div>
	        </div>

	    </form>
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/Admin/production/js/parsley/parsley.min.js"></script>
<script type="text/javascript">

/*图片上传预览 开始*/
$('#images').focus(function(){
	$('#localImag').show();
})
function setImagePreview() {  
        var docObj=document.getElementById("images");  
   
        var imgObjPreview=document.getElementById("preview");  
                if(docObj.files &&    docObj.files[0]){  
                        //火狐下，直接设img属性  
                        imgObjPreview.style.display = 'block';  
                        imgObjPreview.style.width = '200px';  
                        imgObjPreview.style.height = 'auto';                     
      //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式    
      imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);  
  
  
                }
                return true;    
        }
/*图片上传预览 结束*/


	/*修改内容判断  以及样式 开始*/
	var T = false;
	var A = false;
	var D = false;
	var C = false;
	
	// $('#title').blur(function(){
	// 	var tit = $(this).val();
	// 	var re = /^\S+$/;
	// 	var r = tit.match(re);
	// 	// alert(r);
	// 	if(tit=='' || tit.length>20 || r==null){
	// 		$(this).css({border:'1px solid rgba(230,3,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(230,3,3,0.2)'});
	// 		var s = '[ 标题 ]不能为空,且不能超出20个字符'
	// 		$(this).siblings('span').html(s);
	// 		return T=false;
	// 	}else{
	// 		$(this).css({border:'1px solid rgba(3,130,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(3,230,3,0.2)'});
	// 		$(this).siblings('span').remove();
	// 		return T=true;
	// 	}
	// })

	// $('#author').blur(function(){
	// 	var aut = $(this).val();
	// 	var re = /^\S+$/;
	// 	var r  = aut.match(re);
	// 	if(aut=='' || aut.length>20 || r==null){
	// 		$(this).css({border:'1px solid rgba(230,3,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(230,3,3,0.2)'});
	// 		var s = '[ 作者 ]不能为空,且不能超出20个字符'
	// 		$(this).siblings('span').html(s);
	// 		return A=false;
	// 	}else{
	// 		$(this).css({border:'1px solid rgba(3,130,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(3,230,3,0.2)'});
	// 		$(this).siblings('span').remove();
	// 		return A=true;
	// 	}
	// })
	// $('#derivation').blur(function(){
	// 	var der = $(this).val();
	// 	var re = /^\S+$/;
	// 	var r  = der.match(re);
	// 	if(der=='' || der.length>20 || r==null){
	// 		$(this).css({border:'1px solid rgba(230,3,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(230,3,3,0.2)'});
	// 		var s = '[ 出处 ]不能为空,且不能超出20个字符';
	// 		$(this).siblings('span').html(s);
	// 		return D=false;
	// 	}else{
	// 		$(this).css({border:'1px solid rgba(3,130,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(3,230,3,0.2)'});
	// 		$(this).siblings('span').remove();
	// 		return D=true;
	// 	}
	// })
	// $('#content').blur(function(){
	// 	var con = $(this).val();
	// 	if(con=='' || con.length>1000){
	// 		$(this).css({border:'1px solid rgba(230,3,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(230,3,3,0.2)'});
	// 		var s = '[ 内容 ]不能为空,且不能超出1000个字符';
	// 		$(this).siblings('span').html(s);
	// 		return C=false;
	// 	}else{
	// 		$(this).css({border:'1px solid rgba(3,130,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(3,230,3,0.2)'});
	// 		$(this).siblings('span').remove();
	// 		return C=true;
	// 	}
	// })
	$('form').submit(function(){

		//如果没有上传图片,就不处理图片
		if($('#images').val()==""){
			$('form').removeAttr('enctype');
			$('#images').attr('name','');
		}
		
		var tit = $('#title').val();
		if(tit=='' || tit.length>20){
			$('#title').css({border:'1px solid rgba(230,3,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(230,3,3,0.2)'});
			alert('标题不能为空,且不能超出20个字符');
			return T;
		}
		var aut = $('#author').val();
		if(aut=='' || aut.length>20){
			$('#author').css({border:'1px solid rgba(230,3,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(230,3,3,0.2)'});
			alert('作者不能为空,且不能超出20个字符');
			return A;
		}
		var der = $('#derivation').val();
		if(der=='' || der.length>20){
			$('#derivation').css({border:'1px solid rgba(230,3,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(230,3,3,0.2)'});
			alert('文章出处不能为空,且不能超出20个字符');
			return D;
		}
		var con = $('#content').val();
		if(con=='' || con.length>1000){
			$('#content').css({border:'1px solid rgba(230,3,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(230,3,3,0.2)'});
			alert('文章内容不能为空,且不能超出1000个字符');
			return C;
		}
		if(T==false || A==false || D==false || C==false){
			return false;
		}

	})
	/*修改内容判断  以及样式 结束*/

</script>
        
       
</block>