@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	background:#fff;
	font-family:'Microsoft YaHei','微软雅黑','黑体','SimHei';
	font-size:12px;
	color:#767676;
}
input{font-family:'Microsoft YaHei','微软雅黑','黑体','SimHei';}


a:link,a:visited,a:active {
	color: #767676;
	text-decoration: none;
}
a:hover {
	color: #b0916a;
	text-decoration: none;
}

a.Gold:link,a.Gold:visited,a.Gold:active{
	color: #b0916a;
	}
a.Gold:hover{
	color: #b0916a;
	text-decoration:underline
}


a.Grey:link,a.Grey:visited,a.Grey:active{
	color: #8C8C8C;
	}
a.Grey:hover{
	color: #ABABAB;
	text-decoration:underline
}

samp,span,div,li{font-family:'Microsoft YaHei','微软雅黑','黑体','SimHei';}
ul,li,ol,dl,dt,dd,p,label{padding:0; margin:0; list-style:none}
img{border:none}
.clear{padding:0; margin:0; clear:both}


.inner_box{ width:100%; height:auto;position:relative}
.inner_box.ching{background:#E6FAF9;height:630px;z-index:22; }
.inner_box.ching div.n_btn{position:absolute; width:253px; height:249px; z-index:23; bottom:-130px; left:50%; margin-left:-127px;}
.inner_box.ching a#nm{position:absolute; top:530px;left:0; display:block}

.xunwei{ margin:auto; text-align:center; padding-top:100px}
.Napoleon_t{text-align:center; padding-top:60px;}
ul.pro_raw_list{margin:auto; width:1100px;}
ul.pro_raw_list li{ float:left; width:33.3%; height:160px; text-align:center; cursor:pointer;}
ul.pro_raw_list li a{ padding:60px 0; height:40px; display:block}
ul.pro_raw_list li a span{display:block; text-align:center}
ul.pro_raw_list li#Vanilla a{ margin:auto; width:181px;}
ul.pro_raw_list li#Blueberry a{ margin:auto; width:245px;}
ul.pro_raw_list li#npl1893 a{ margin:auto; width:148px;}
ul.pro_raw_list li a:hover img{display:none}
ul.pro_raw_list li a:hover span{display:none}
ul.pro_raw_list li#Vanilla a:hover{ background:url(../napolen_images/Pro_cp_01.png) no-repeat center 0;}
ul.pro_raw_list li#Blueberry a:hover{ background:url(../napolen_images/Pro_cp_02.png) no-repeat center 25px;}
ul.pro_raw_list li#npl1893 a:hover{ background:url(../napolen_images/Pro_cp_03.png) no-repeat center 11px;}





.inner_box.Violet{ background:#f5eef7; height:630px; overflow:hidden}
.inner_box.Violet .big_img_box{ height:630px; background:url(../napolen_images/Blueberry.jpg) no-repeat center 0;}
.inner_box.Violet a#xc{position:absolute; top:530px;left:0; display:block}

.inner_box.Dark_green{ background:#e8ffdc; height:630px; overflow:hidden}
.inner_box.Dark_green .big_img_box{ height:630px; background:url(../napolen_images/Vanilla.jpg) no-repeat center 0;}
.inner_box.Dark_green a#m1893{position:absolute; top:530px;left:0; display:block}

.inner_box.Cream-colored{ background:#fffcde; height:630px; overflow:hidden}
.inner_box.Cream-colored .big_img_box{ height:630px; background:url(../napolen_images/lpo1893.jpg) no-repeat center 0;}
.inner_box .show_box{height:0; display:none; position:relative; width:1200px; margin:auto;}
.inner_box .show_box a.link_map{display:block; height:630px; position:absolute; width:100%; top:0; left:0; z-index:12;}
.pro_k_box{ width:385px; border:4px #fff solid; position:absolute; }
.pro_k_box p{padding:20px;}
.pro_k_box p span{display:block; font-size:14px; color:#b0916a}
.pro_k_box p.border_top{border-top:2px #fff solid; color:#9b9b9b;}
.pro_k_box p.w_bg{ padding:0; background:#fff; height:26px; color:#a5002f; line-height:26px; text-align:center}

.inner_box.Violet  .pro_k_box{right:95px; top:160px;}
.inner_box.Dark_green  .pro_k_box{left:120px; top:195px;}
.inner_box.Cream-colored  .pro_k_box{right:60px; top:155px;}

.Pro_lm{position:absolute; top:135px; left:100px; width:597px; height:458px; background:url(../napolen_images/Pro_lm.png) no-repeat}

.Pro_xc{position:absolute; top:160px; right:-20px; background:url(../napolen_images/Pro_xc.png) no-repeat; width:698px; height:480px;}
.Pro_lpl1893{position:absolute; top:200px; left:100px; width:761px; height:548px;background:url(../napolen_images/Pro_lpl1893.png) no-repeat;}

.Blueberry_right{ position:absolute; left:780px; z-index:10; top:345px; background:url(../napolen_images/Blueberry.png) no-repeat; width:505px; height:283px;}
.Stir_right{ position:absolute; left:1000px; z-index:10; top:385px; background:url(../napolen_images/Stir.png) no-repeat; width:264px; height:225px;}
.Vanilla_left{position:absolute;  z-index:10; left:450px;top:390px; background:url(../napolen_images/Vanilla.png) no-repeat; width:269px; height:190px;}

.inner_box .big_img_box{position:relative; cursor:pointer;}
.inner_box .big_img_box span{position:absolute; bottom:0; left:50%; height:59px;margin-left:-65px;}

.inner_box.Naturals{ background:#B1916A;}
.Napoleon_Secret{width:1200px; margin:auto; color:#FFF }
.Napoleon_Secret h1{font-weight:normal; font-size:22px; margin:45px 0 6px 0; float:left; width:100%}
.Napoleon_Secret h1,.Napoleon_Secret p{padding:0 15px; line-height:24px;}
.Napoleon_Secret ul{overflow:hidden; padding:30px 0;}
.Napoleon_Secret ul li{float:left; width:33.3%; text-align:center; cursor:pointer; position:relative; overflow:hidden; line-height:0;}
.Napoleon_Secret ul li p{position:absolute; width:370px; height:230px; bottom:-230px; display:block; background:rgba(255,255,255,.8);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff); /* For IE 8*/ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff)"; padding:0; margin:0; left:50%; margin-left:-185px; color:#B1916A; font-size:14px;}
.Napoleon_Secret ul li p span{ padding-top:85px; display:block}

.Napoleon_Secret ul li:hover p{
	bottom:0;
	animation:mtop .7s;
	-moz-animation:mtop .7s; /* Firefox */
	-webkit-animation:mtop .7s; /* Safari and Chrome */
	-o-animation:mtop .7s; /* Opera */
}
p.Event_rules{ text-align:center; border-top:3px #fff solid; margin:0 15px; background:url(../napolen_images/triangle.png) no-repeat  center 0; padding:20px 0 40px 0}


@keyframes mtop 
{
from {bottom:-230px;}
to {bottom:0;}

}
@-moz-keyframes mtop /* Firefox */
{
from {bottom:-230px;}
to {bottom:0;}
}

@-webkit-keyframes mtop /* Safari 和 Chrome */
{
from {bottom:-230px;}
to {bottom:0;}
}

@-o-keyframes mtop /* Opera */
{
from {bottom:-230px;}
to {bottom:0;}
}