<extend name="Index/index" />
<block name="con">

    
<div class="page-title">
    <div class="title_left">
        <h3>权限添加</h3>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <h2>权限信息 <small>请认真填写</small></h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </li>
            <li class="dropdown">
                <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul role="menu" class="dropdown-menu">
                    <li>
                        <a href="#">Settings 1</a>
                    </li>
                    <li>
                        <a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <form class="form-horizontal form-label-left" method="post" action="{:U('Admin/Group/update')}" data-parsley-validate="" id="demo-form2" novalidate="">
            <input type="hidden" name="id" value="{$info['id']}">
            <div class="form-group">
                <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">管理组 <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" name="title" value="{$info['title']}"><span></span>
                </div>
            </div>
            <div class="form-group">
                <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">组权限 <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12" style="width:600px">
                <foreach name="res" item="vo">
                    <label class="">
                       <div class="icheckbox_flat-green <if condition="in_array($vo['id'],$id)">checked</if>" style="position: relative;margin-top:7px"><input name="name[]" value="{$vo['id']}" type="checkbox" <if condition="in_array($vo['id'],$id) eq true">checked="checked"</if> class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> <span style="display:block;float:right;margin-top:8px">&nbsp;{$vo['title']}</span>
                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                </foreach>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">状态</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div data-toggle="buttons" class="btn-group" id="gender">
                        <label data-toggle-passive-class="btn-default" data-toggle-class="btn-primary" class="btn btn-default <eq name="info['status']" value="1">active</eq>">
                            <input type="radio" value='1' name="status" data-parsley-multiple="gender" data-parsley-id="5600" <eq name="info['status']" value="1">checked="checked"</eq>> &nbsp; 启用 &nbsp;
                        </label>
                        <label data-toggle-passive-class="btn-default" data-toggle-class="btn-primary" class="btn btn-default <eq name="info['status']" value="0">active</eq>">
                            <input type="radio"  value='0' name="status" data-parsley-multiple="gender" data-parsley-id="5600" <eq name="info['status']" value="0">checked="checked"</eq>> &nbsp; 禁用 &nbsp; 
                        </label>
                    </div>
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-success" type="submit">修改</button>
                    <button class="btn btn-primary" type="reset">重置</button>
                </div>
            </div>

        </form>
    </div>
</div>

<!-- <script type="text/javascript" src="__PUBLIC__/Admin/production/js/parsley/parsley.min.js"></script> -->
       
</block>
