/* CSS Document */
*{margin:0; padding:0;}
body{font-family:"宋体"; font-size:9pt;}
table{font-family:"宋体"; font-size:9pt;}
ul{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
img{border:none;}
.clear{width:0; height:0; line-height:0; clear:both; font-size:0;}

.main_add{width:1300px; height:auto; margin:0 auto; _height:711px; min-height:711px; background:url(../images/main_01.gif) repeat-x; clear:both;}
.left{ width: 259px;   }
.left1_bottom{ }
.left_top{  }
.right_r{width:1000px;height:621px; float:right; /*background:url(../images/right.jpg) no-repeat; background:#dedede;padding-top:10px;*/ }
.content{width:100%; height:437px; margin:0 auto 0; padding-top:8px;  overflow-x:scroll; }
.content h2{width:762px; height:24px; background:url(../images/h2bg.gif) repeat-x; line-height:24px; font-size:14px; color:#2060ad; padding-left:15px;}
.content .table{width:575px; margin-left:20px; margin-top:30px; font-weight:bold;}
.content .table .title{width:107px; height:22px; font-size:14px; color:#2060ad; text-align:right; font-weight:bold;}
.content .table .t1{width:330px; height:18px;}
.content .table .s1,.content table .t2{width:124px; height:18px;}
.content .table .t3{width:142px; height:18px;}
.content .table .t4{width:76px; height:18px;}
.content .table .s2{width:196px; height:18px;}
.content .table .s3{width:122px; height:18px;}
.content .table .t5{width:267px; height:36px;}
.content .table .bt{width:92px; height:25px; margin-right:7px;}
.nav{width:259px; margin:0 auto; padding:12px 12px;}
.nav img{margin:0; padding:0;}
.logo{width:185px; height:51px; padding:7px 0 14px 20px; clear:both;}
.footer{width:1225px; height:27px; margin:0 auto; background:url(../images/footer.gif) no-repeat;}
.content1{width:230px; height:124px;background:#f0f0f0; margin:0; padding:0; color:#333;}
.content1 a{color:#666; text-align:center; display:block; width:230px; height:24px; line-height:24px; font-weight:bold; font-size:13px;}
.content1 a:hover,.content1 a.focus{background:white; text-decoration:none;}
.content1{height:auto; padding-bottom:10px;}
.title1 img{display:block;}

.wrap{width:1024px; height:768px; background:url(../images/bg.jpg) no-repeat; margin:0 auto;}
.logo1{padding:17px 0 0 20px;}
.login1{width:654px; height:321px; background:url(../images/login1.gif) no-repeat; margin:145px auto 0; clear:both;}
.login1 .img{float:left; padding:35px 0 0 12px;}
.login1 .logincon{float:left; padding:120px 0 0 30px; line-height:2.8em; font-size:16px;}
.login1 .logincon .text{width:217px; height:27px; line-height:27px;}
.login1 .logincon .login2{padding-left:70px; line-height:35px; padding-top:15px;}
.login1 .logincon .login2 a{color:#e35719; font-size:16px; text-decoration:underline; margin-right:35px;}
.login1 .logincon .login2 .but1{width:88px; height:35px; background:url(../images/but1.gif) no-repeat; border:none; margin-left:35px; cursor:pointer;}
.login1 .logincon .login2 .but{width:88px; height:35px; background:url(../images/but.gif) no-repeat; border:none; cursor:pointer;}
html{overflow-x:hidden;}
.table2{ border-collapse:collapse; width:928px; margin:0; }
.table2 tr th{background:url(../images/line.gif) left bottom repeat-x;}
.table2 tr td{background:url(../images/line.gif) left bottom repeat-x;}
.table2 tr.none{background:none;}
.table2 td,.table2 th{text-align:center; height:25px; line-height:25px;}
.table2 table tr{background:none;}
/*.table2 table td{height:0;}*/
.table2 .page_bar_css a,.table2 .bgt3 a,.table2 .bgt3 span,.table2 .page_bar_css{margin:0 8px;}
/*.table2 .th{background:#09F; font-weight:bold; color:#fff;}*/
.table2 td.td_left,.table2 th.th_left{text-align:left;}
.table2 td.td_right,.table2 th.th_right{text-align:right;}
.table3,.table4{ border-collapse:collapse; width:700px; margin:0 auto; }
.table3 td,.table3 th{text-align:center; height:25px; line-height:25px;}
.table4{width:280px; clear:both;}
.table4 td,.table4 th{text-align:center; height:33px; line-height:33px; color:#0093fa;}
.table4 .text1{width:194px; height:18px; line-height:18px;}
.tj{width:230px; float:right;}
.tj input{width:92px; height:25px; margin-left:10px; border:none; cursor:pointer}
.tj .tj1{background:url(../images/dlg_ok.gif) no-repeat;}
.tj .tj2{background:url(../images/dlg_cancl.gif) no-repeat;}
td.td_left,th.th_left{text-align:left;}
td.td_right,th.th_right{text-align:right;}
.blue{color:#0093fa;}
.content{height:auto!important; height:437px; min-height:437px;}
.upload{background:url(../images/bg1.gif) repeat-y; padding-bottom:20px;}

.module_con{/*background:url(../images/top1.gif) no-repeat;*/ padding-top:4px; width:961px; margin:0 auto;}
.module_con .module_con1{/*background:url(../images/mid1.gif) repeat-y;*/ padding:10px 0;} 
.caozuo{color:#000; margin-right:5px;}
.nav2{width:861px; height:24px; margin-left:10px; }
.nav2 li{float:left; padding-left:25px;}
.nav2 li a{font-size:14px; color:#2060ad; font-weight:bold; display:block; height:19px; text-align:center; line-height:19px; padding-top:5px; padding-right:25px; float:left;}
.nav2 li a:hover{text-decoration:none;}
.nav2 li.li1{background:url(../images/abg.gif) no-repeat;}
.nav2 li.li1 a{background:url(../images/abg.gif) right top no-repeat;}
.nav2 li.li2{background:url(../images/abg1.gif) no-repeat;}
.nav2 li.li2 a{background:url(../images/abg1.gif) right top no-repeat;}

.alert_confirm{ position:absolute; padding-left:84px; *padding-left:73px; bottom:15px;}
.alert_confirm input{margin-left:10px; width:92px; height:25px; cursor:pointer; border:none; padding:0;}
.alert_confirm .ok{background:url(../images/ok.gif) no-repeat;}
.alert_confirm .cancel{background:url(../images/dlg_cancl.gif) no-repeat;}
.ui-dialog { position: relative; width: 371px; background:url(../images/alter_bg.jpg) left bottom no-repeat; padding-bottom:20px; }
.ui-dialog-titlebar{padding:0; margin:0; height:30px; position:relative; background:url(../images/alter_title.gif) left 3px repeat-x;}
.ui-dialog .ui-dialog-titlebar-close { position:absolute; right:10px; top:7px; width:29px; height:15px; background:url(../images/close.gif) no-repeat; text-indent:-9999em;}
.ui-dialog .alert_con { zoom: 1;clear:both; padding:10px 15px 30px; font-size:14px; line-height:1.6em; }
.ui-dialog .alert_con .img{float:left; width:35px; margin-right:15px;}
.ui-dialog .ui-dialog-buttonpane {text-align:center; clear:both; margin:0; padding:0; position:relative; z-index:20; }
.ui-dialog .ui-dialog-buttonpane button {margin-left:10px; width:92px; height:25px; cursor:pointer; border:none; background:none;filter:alpha(opacity=0); opacity:0; }
.ui-draggable .ui-dialog-titlebar { cursor: move; line-height:30px; padding-left:10px; color:#fff; font-weight:bold; font-size:14px;}
.ui-widget-overlay{position:absolute; top:0; left:0; background:url(../images/alter_new.gif); opacity:0.6; filter:alpha(opacity=60);}

.logout{width:750px; height:175px; background:url(../images/logout.png) no-repeat; margin:145px auto 0; clear:both; padding-top:70px;}
.logout .logout_con{background:url(../images/logout1.png) no-repeat; width:410px; height:75px; margin:0 auto; padding:5px 0 0 40px;}
.logout .logout_con h2{font-size:16px; color:#515151;}
.logout .logout_con h1{font-size:16px; color:#0071fd; margin:30px 0 0 20px;}
.logout .logout_con h1 a{color:#0071fd;}

.img_wrap{clear:both; overflow:hidden; zoom:1; padding:5px 0; width:100%;}
.img_wrap .img{float:left; display:inline; margin:5px 10px;}
.img_wrap img{display:block; margin-bottom:5px;}
.img_wrap input{width:125px;}
.table2 td.first{width:88px;}
/*.left_bottom{background:url(../images/left_2.jpg) no-repeat; width:207px; height:5px;}*/
.tablediv{ width:700px; overflow:hidden; margin: 0 auto; clear:both;}
.table5{ border-collapse:collapse; width:350px; float:left;/*table-layout:fixed;*/word-wrap: break-word;}
.table5 tr{background:url(../images/line.gif) left bottom repeat-x;}
.table5 tr.none{background:none;}
.table5 td,.table2 th{text-align:center; height:25px; line-height:25px;}
.table5 table tr{background:none;}
.table5 table td{height:0;}
.table5 .page_bar_css a,.table5 .page_bar_css span{margin:0 8px;}

/*.table5 .th{background:#09F; font-weight:bold; color:#fff;}*/
.table5 td.td_left,.table5 th.th_left{text-align:left;}
.table5 td.td_right,.table5 th.th_right{text-align:right;}
.admin_top a{width:45px; height:42px; display:block;}
.adm_input{ float:left; margin-left:3px;}
.admin_top{width:85px; height:42px; right:0px; bottom: auto; top:100px;position: fixed; z-index: 999;cursor:pointer}
* html .admin_top{position:absolute;right:auto;left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,0)||0)-(parseInt(this.currentStyle.marginRight,0)||0));} 
* html,* html body {background-image:url(about:blank);background-attachment:fixed;}
.tablex{ width: 895px;}
.tablex td{ text-align: center; width: 80px;}
.table_list{border-collapse: collapse; width: 100%;}
.table_list td{height: 40px;}
.table_list .deep{background-color:#D2D2D2;}
.table2 .deep{background-color:#D2D2D2;}
.deep{background-color:#D2D2D2;}
.rmdword{height: 60px;}
.rmdword li{width: 185px; float: left; height: 48px; display: block; line-height: 48px;}
.rmdword select{margin-top:10px;}
.table_border td {border-right: #000 1px solid}

#wrapper{
	background: url(../images/left_bg.png) no-repeat;
	width:259px;
	height:39px;
	margin-top:4px;
}
#wrapper .bj_img{ float:left; }
#wrapper h2{
	font-size:16px;
	color:#8a8a8b;
	font-family:"微软雅黑";
	text-indent:30px;
	lie-height:39px;
	
}
h2.navbar2{
	text-shadow: 1px 1px  3px #ccc;
	color:#69696a;
	height:35px;
	line-height:35px;
	text-align:center;
	 float:left;
}
.bj_img{ background:url(../images/jia1.png) no-repeat 15px 10px; width:50px; height:39px;}
.bj_img2{background:url(../images/jia11.png) no-repeat 15px 10px; }
.nav a{cursor:pointer;text-decoration:none;}

.today{width: 1000px;height: auto;}
.today tr{width: 100px;float:left;}
.today tr td{width: 100px;height: 40px;float:left;border-bottom: 1px #333 solid;border-right:1px #333 solid;border-left:1px #333 solid;line-height: 40px; text-align: center;}

.special{width:300px;text-align:center;}
.special ul {list-style:none;}
.special ul li{line-height:30px;border-bottom:1px #333 solid;}

.li1{background: #fff;}