<extend name="Index/index" />
                <block name="con">
                <table>
<form action="__CONTROLLER__/packsave" method="post" >
                    <tr>
                        <td>订单编号</td>
                        <td><input type="text" value="{$ordersData['oid']}" name="oid"><span>系统提供，切勿更改</span></td>
                    </tr>
                    <tr>
                        <td>包装名称</td>
                        <td><input type="text"value="{$packData['name']}" name="name"></td>
                    </tr>
                    <tr>
                        <td>包装费用</td>
                        <td><input type="text" value="{$packData['pay']}" name="pay"></td>
                    </tr>
                    <tr>
                        <td>免费额度</td>
                        <td><input type="text" value="{$packData['free']}" name="free"></td>
                    </tr>
                    <tr>
                        <td colspan="2">包装描述</td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="text"width="300px" height="300px" value="{$packData['describe']}" name="describe"></td>
                    </tr>
                    <input type="hidden"name="id" value="{$packData['id']}">
                    <button>生成包装</button>
                </form>
                </table>
              
                </block>
 