<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Language" content="zh-CN">
        <title>MCAKE-一直都是巴黎的味道</title>
        <meta name="Keywords" content="Mcake,M'cake,蓝莓轻乳拿破仑,经典香草拿破仑,拿破仑莓恋,拿破仑，胡桃布拉吉，榛果摩卡布拉吉，魅影歌剧院，巧克力格调，天使巧克力，魔鬼巧克力，蒸清抹茶，蔓越莓红丝绒，沙布雷巴菲，巧克力狂想曲，卡法香缇，瑞可塔厚爱，法香奶油可丽，莓果青柠慕斯＂">
        <meta name="Description" content="Mcake把法国传统蛋糕文化带入中国，提供纯正的欧式味觉体验，同时也将欧洲的上好材质、经典工艺以及优雅的文艺气质，融入产品的每一个细节之中，带给客户更多的享受与愉悦。">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta http-equiv="cache-control" content="max-age=1800">

        <!-- 引入外部css -->
        <link rel='icon' href='__PUBLIC__/Index/images/favicon.png' type='image/x-ico'/>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Index/css/comm_header.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Index/css/Landing_city.css">

        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Index/css/ebsig.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Index/css/goods.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Index/css/index.css">

        <!-- 引入外部js -->
        <script src="__PUBLIC__/Index/js/goods.js" async="" type="text/javascript"></script>
        <script src="__PUBLIC__/Index/js/mv.js" async="" type="text/javascript"></script>
        <script src="__PUBLIC__/Index/js/mba.js" async="" type="text/javascript"> </script>
        <script src="__PUBLIC__/Index/js/s.js" async="" type="text/javascript"></script>
        <script src="__PUBLIC__/Index/js/mvl.js" async="" type="text/javascript"></script>
        <script src="__PUBLIC__/Index/php/core.php" charset="utf-8" async="" type="text/javascript"></script>
        <script src="__PUBLIC__/Index/js/v.htm" charset="utf-8"></script>
        <script type="text/javascript" src="__PUBLIC__/Index/js/jquery.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Index/js/LandingDialog.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Index/js/superscrollorama.js"></script>

        <script src="__PUBLIC__/Index/js/goods.js" async="" type="text/javascript"></script>

        <script type="text/javascript" src="__PUBLIC__/Index/js/uaredirect.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Index/php/iplookup.php"></script>
        <script type="text/javascript"></script>
        
    </head>
    <body>
<!--header 开始 -->
    <a name="top"></a>

    <div class="header">
        
        <div class="header_top_box">
            <div class="header_top">
                <div style="width:100%; height:100px; background:#FFF; position:absolute; z-index:9;webkit-box-shadow: 3px 3px 3px #e1e1e1;-moz-box-shadow: 3px 3px 3px #e1e1e1;box-shadow: 3px 3px 3px #e1e1e1
    ">
                    <div style="width:100%; height:30px; border-bottom:1px solid #eaeaea">
                        <div class="wallbox wall_top">
                            <div id="scrollobj" style="position:absolute; left:50%;margin-left:-300px;top:0; width:560px; line-height:30px;white-space:nowrap;overflow:hidden; color:#F00"></div>
        <script language="javascript" type="text/javascript">
        $(function(){
             E.ajax_post({
                 action: 'activity',
                 operFlg: 999,
                 data:{
                     config_code:'rolling_tips'
                 },
                call: function( o ) {
                     if(o.code == 200){
          $("#scrollobj").html('<span>'+ o.message+'</span>');
          setInterval("scroll(document.getElementById('scrollobj'))",25);
                     }
                 }
             });
             if($("#activity_list")){
                 E.ajax_get({
                     action: 'content',
                     operFlg: 3,
                     call: function( o ) {
          var html = '';
          $.each(o.data,function(k, v){
              html += '<li>';
              html += '<a href="'+v.link+'" target="_blank">';
              html += '<img src="__PUBLIC__/Index/images/>';
              html += '</a>';
              html += '</li>';
          });
          if(html != ''){
              $("#activity_list").html(html);
          }
                     }
                 });
             }
                                });
                                
             function scroll(obj) {
             var tmp = (obj.scrollLeft)++;
             
             if (obj.scrollLeft==tmp) obj.innerHTML += obj.innerHTML;
             
             if (obj.scrollLeft>=obj.firstChild.offsetWidth) obj.scrollLeft=0;
                                }
            </script>
            <div class="logoer">
                <a href="{:U(Home/Index/index)}">
                    <img src="__PUBLIC__/Index/images/logo/logo.png">
                </a>
            </div>
            <ul class="navbar" id="welcome">
                <li>
                    <a href="http://www.mcake.com/shop/login.html" class="Gold">LOG IN 登录</a>
                </li>
                <li>
                    <a href="http://www.mcake.com/shop/register.html" class="Gold">SIGN UP 注册</a>
                </li>
            </ul>
            <ul class="navbar">
                <li class="m_mail" style="display: none;">
                    <a href="http://www.mcake.com/shop/member_message.html" class="Gold" target="_blank"><i></i> <span id="msg_count">0</span>封</a>
                </li>
                <li class="m_cart">
                    <a href="http://www.mcake.com/shop/cart.html" class="Gold" target="_blank"><i></i> <span id="cart_amount">0</span>件</a>
                </li>
           </ul>
            <div class="clear"></div>
            </div>
            </div>
            <div class="wallbox">

                <div class="header_right">
                    <ul class="phone_delivery">
                        <li class="phone">
                            <span>4006-678-678</span><i></i>
                        </li>
                        <li class="delivery">
                            <span>
                                <a href="http://www.mcake.com/shop/article-48.html#city_675" target="_blank">北京配送范围内免费配送</a>
                            </span><i></i>
                        </li>
                    </ul>
                <div class="city" id="city">
                    <ul>
                        <li id="city-110" data-id="110">
                            <a href="javascript:%20void(0);">上海市</a>
                        </li>
                        <li id="city-641" data-id="641">
                            <a href="javascript:%20void(0);">杭州市</a>
                        </li>
                        <li id="city-665" data-id="665">
                            <a href="javascript:%20void(0);">苏州市</a>
                        </li>
                        <li class="cur" id="city-675" data-id="675">
                            <a href="javascript:%20void(0);">北京市</a>
                        </li>
                    </ul>
                    <samp></samp>
                </div>
            </div>
                <ul class="menu">
                    <li>
                        <a href="http://www.mcake.com/shop/675/index.html#mainer" class="ebsig_all_goods" target="_blank"><samp>Nos Produits</samp><span>全部产品</span>
                        </a>
                    </li>
                    <li>
                                
                        <a href="http://www.mcake.com/shop/napoleon_cake.html" target="_blank"><samp>Napoléon</samp><span>拿破仑系列</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.mcake.com/r.php?i=activity" target="_blank"><samp>Nouveauté</samp><span>最新活动</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.mcake.com/shop/member_center.html" target="_blank">
             <samp>Mon M'CAKE</samp>
             <span>会员中心</span>
                        </a>
                    </li>
                </ul>
                    <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!--header 结束 -->

    <!-- banner-content样式开始 -->
    <style>
        .banner-content{position:relative; width:100%; height:580px; background:url(__PUBLIC__/Index/images/2015082109555360923.png) top center repeat; margin-bottom:20px; overflow:hidden;
        margin-top: -100px;
        }
        .banner-content .banner{ position: relative; width:1200px; height:580px; margin:0 auto; position:relative;  }

        .banner .step-1{ position: absolute; top:92px; right: 194px; width: 526px; height: 550px; background: url(__PUBLIC__/Index/images/2015082109555346101.png) no-repeat; z-index: 2; display: none;}

        .banner .step-1-yin{ position: absolute; top:92px; right: 194px;  width: 526px; height: 550px; background: url(__PUBLIC__/Index/images/2015082109555342493.png) no-repeat; z-index: 1; display: none;}

        .banner .step-2{ position: absolute; top: 182px; left: 60px; width: 373px; height: 271px;  background: url(__PUBLIC__/Index/images/2015082109555347053.png) no-repeat; display: none;}

        .banner .step-3{ position: absolute; top: 9px; left: 244px; width: 347px; height: 212px; background: url(__PUBLIC__/Index/images/2015082109555326275.png) no-repeat; display: none;}

        .banner .step-4 {position: absolute; width: 388px;height: 122px; top:428px; left: 150px;line-height: 24px; z-index: 1; padding-top: 30px; background: rgba(0, 0, 0, 0) url(__PUBLIC__/Index/images/2015082109555195137.png) no-repeat scroll top right; cursor: pointer; display: none;}
        .banner .step-4 img{ width: 227px;}
        .banner .step-4 p {color: #b9b9b9; font-family: "Arial Narrow"; line-height: 13px; padding:0 40px 0 0;  font-size: 11px;}
        .banner .step-4 p.b { font-weight: bold;}

        .banner .step-4  .banner_btn {margin-top: 5px; border-top:#d1d1d1 1px solid ;padding-top: 5px;width: 310px;}
        .banner .step-4 .banner_btn a {  cursor: pointer; float: right; padding: 1px 35px; background: #b0916a none repeat scroll 0 0; border-radius: 2px; color: #fff;}

        .banner .step-5{ position: absolute; bottom: -80px; right: 28px; width: 276px; height: 520px; background: url(__PUBLIC__/Index/images/2015082109555311153.png) no-repeat; display: none;}


        </style> 
         <block name="con">
 
 </block>


<!-- footer开始 -->

    <div id="footer">
        <!-- 底部小活动li 开始 -->
        <div id="wallbox" class="wallbox">
            <ul class="activity_list" id="activity_list">
                <li>
                    <a href="http://www.mcake.com/shop/goods-11275.html" target="_blank">
                        <img src="__PUBLIC__/Index/images/2015072811191115080.jpg" alt="" width="100%">
                    </a>
                </li>
                <li>
                    <a href="http://www.mcake.com/activity/2015/mojito.html?clickpoint=botomad" target="_blank">
                        <img src="__PUBLIC__/Index/images/2015082009154299636.jpg" alt="" width="100%">
                    </a>
                </li>
                <li>
                    <a href="http://www.mcake.com/shop/activity/recomm.html" target="_blank"><img src="__PUBLIC__/Index/images/2015070313312260770.jpg" alt="" width="100%">
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <!-- 底部小活动li 结束 -->
        <div class="wallbox_1000">
            <div class="m_copy">
                <ul class="Share">
                    <li class="Swb">
                        <a href="http://weibo.com/mcake1893" target="_blank"></a>
                    </li>
                    <li class="Twx">
                        <a href="javascript:void(0);"></a>
                    </li><!--<li class="Tkj"><a href="#"></a></li>-->
                </ul>
                <div class="wxqr"><samp></samp></div>
                <p>Copyright © 2012-2015            </p>
                <p>上海卡法电子商务有限公司 版权所有</p>
                <p class="icp_no">沪ICP备12022075号</p>
                <p class="icp_no">地址：上海市普陀区同普路1130弄3号</p>
                <p class="icp_no">客服热线：4006-678-678</p>
                <p class="icp_no">客服邮箱：cs@mcake.com</p>
            </div>
            <div class="foot_nav_bar">
                 <dl>
                    <dt>
                        <a href="http://www.mcake.com/shop/article-48.html">发现</a>
                    </dt>
                    <dd>
                        <a href="http://www.mcake.com/shop/article-48.html" target="_blank">配送服务</a>
                    </dd>
                    <dd>
                        <a href="http://weibo.com/mcake1893" target="_blank">微博</a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="http://www.mcake.com/shop/article-62.html">关于我们</a>
                    </dt>
                    <dd>
                        <a href="http://www.mcake.com/shop/article-62.html" target="_blank">媒体合作</a>
                    </dd>
                    <dd>
                        <a href="http://www.mcake.com/shop/article-61.html" target="_blank">招贤纳士</a>
                    </dd>
                    <dd>
                        <a href="http://www.mcake.com/shop/article-47.html" target="_blank">呼叫中心</a>
                    </dd>
                    </dl>
                    <dl>
                        <dt>
                            <a href="http://www.mcake.com/shop/article-59.html">帮助中心</a>
                        </dt>
                        <dd>
                            <a href="http://www.mcake.com/shop/article-59.html" target="_blank">会员权益</a>
                        </dd>
                        <dd>
                            <a href="http://www.mcake.com/shop/article-58.html" target="_blank">购物指南</a>
                        </dd>
                        <dd>
                            <a href="http://www.mcake.com/shop/article-57.html" target="_blank">支付类</a>
                        </dd>
                        <dd>
                            <a href="http://www.mcake.com/shop/article-56.html" target="_blank">订单相关</a>
                        </dd>
                 </dl>
        </div>
            <div class="m_wb" style="text-align: center;"><img src="__PUBLIC__/Index/images/icons/wx_icon.png" <="" div="">
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- footer结束 -->
    
    </body>
</html>