<extend name="Index/index" />
<block name="con">
<div class="__PUBLIC__/Admin/production/col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>会员列表</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div role="grid" class="dataTables_wrapper" id="example_wrapper">
	            
	        	<div class="clear"></div>
	        	<form action="{:U('Admin/user/index')}" method="get">
	        	<div id="example_length" class="dataTables_length">
	        		<label>显示 <select name="xianshi" style="width: 56px;height:30px;padding: 6px;" size="1" aria-controls="example">
	        		<option value="6" <eq name='xianshi' value='6'>selected="selected"</eq>>6</option>
	        		<option value="10" <eq name='xianshi' value='10'>selected="selected"</eq>>10</option>
	        		<option value="15" <eq name='xianshi' value='15'>selected="selected"</eq>>15</option>
	        		<option value="30" <eq name='xianshi' value='30'>selected="selected"</eq>>30</option>
	        		</select> 条</label>
	        	</div>
		        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
		            <div class="input-group">
		                <input type="text" style="width:150px;height:30px;float:right" placeholder="用户查找..." class="form-control" name="sou" value="{$sou}" />
		                <span class="input-group-btn">
		                	<button class="btn btn-default" style="height:30px;">搜索</button>
		    			</span>
		            </div>
		        </div>
		        </form>
	        	<table class="table table-striped responsive-utilities jambo_table dataTable" id="example" aria-describedby="example_info">
	                <thead>
	                    <tr class="headings" role="row">
	                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 40px;" aria-label="Invoice : activate to sort column ascending">ID </th>
	                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 120px;" aria-label="Invoice Date : activate to sort column ascending">用户名 </th>
	                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 70px;" aria-label="Order : activate to sort column ascending">姓名 </th>
	                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 50px;" aria-label="Bill to Name : activate to sort column ascending">性别</th>
	                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 150px;" aria-label="Status : activate to sort column ascending">邮箱</th>
	                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 80px;" aria-label="Amount : activate to sort column ascending">电话</th>
	                        <th class="no-link last sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width:90px;" aria-label="Action: activate to sort column ascending"><span class="nobr">注册日期</span></th>
	                         <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 70px;" aria-label="Amount : activate to sort column ascending">状态</th>
	                        <th class="no-link last sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width:130px;" aria-label="Action: activate to sort column ascending"><span class="nobr">操作</span></th>
	                    </tr>
	                </thead>
	            	<tbody role="alert" aria-live="polite" aria-relevant="all">
	            		<foreach name='users' item='vo'>
	                    <tr class="pointer even">
	                        <td class="  ">{$vo['id']}</td>
	                        <td class="  ">{$vo['usercount']}</td>
	                        <td class="  ">{$vo['name']}</td>
	                        <td class="  ">{$sex[$vo['sex']]}</td>
	                        <td class="  ">{$vo['email']}</td>
	                        <td class="  ">{$vo['phone']}</td>
	                        <td class="  ">{$vo['addtime']}</td>
	                        <td class="  ">{$state[$vo['state']]}</td>
	                        <td>
	                        	 <ul class="nav navbar-right panel_toolbox">
					                
					                <li>
					                    <a href="{:U('Admin/User/edit',array('id'=>$vo['id']))}"><i class="fa fa-wrench"></i></a>
					                </li>
					                <li>
					                	<a href="{:U('Admin/User/delete',array('id'=>$vo['id']))}" class="del"><i class="fa fa-close"></i></a>
					                </li>
					                <li>
					                	<a href="{:U('Admin/User/editpass',array('id'=>$vo['id']))}">修改密码</a>
					                </li>
					            </ul>
	                        </td>
	                    </tr>
	                   </foreach>
	                </tbody>
                </table>
                <!-- <div class="dataTables_info" id="example_info">显示 {$aa} ~ {$bb} 条 共 {$count} 条</div> -->

                <div class="dataTables_paginate paging_full_numbers" style="width:600px;" id="example_paginate">
                	{$pages}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	//双击修改用户名
	$('.pointer td:nth-child(2)').dblclick(function() {
		var v = $(this).html();
		var input = $('<input type="text" />')
		input.val(v);
		var td = $(this);
		$(this).empty();
		$(this).append(input);
		//获取焦点
		input.focus();
		input.select();
		//绑定失去焦点事件
		input.blur(function(){
			//获取值
			var usercount = $(this).val();
			//获取id
			var id = $(this).parents('tr').find('td:first').html();
			//发送ajax
			$.post("{:U('Admin/User/update')}", {id:id,usercount:usercount}, function(data){
				if(data == 0){
					td.html(usercount);
					alert('更新成功!')
				}else{
					td.html(v);
					alert('更新失败!');
				}
			})
		})
	});

	//删除事件绑定
	$('.del').click(function(){
		var res = confirm('是否要删除此用户?')
		if(res){
			return true;
		}else{
			return false;
		}
	});
</script>
</block>