<extend name="Index/index" />
<block name="title">
后台管理--广告修改页
</block>
<block name="con">

<div class="page-title">
    <div class="title_left">
        <h3>广告管理</h3>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <h2>广告修改 <small></small></h2>
        <ul class="nav navbar-right panel_toolbox">
           
            <li class="dropdown">
                <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"> 
                </a>
            </li>
                
            
        </ul>
        <div class="clearfix"></div>
    </div>
	<div class="x_content">
	    <br>
	    <form action="{:U(upload)}" class="form1 form-horizontal form-label-left" data-parsley-validate="" id="demo-form2" name="goods_insert" novalidate="" method="post">
				<input type="hidden" name="id" value="{$art.id}">
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">广告标题
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="text" style="width: 300px;" class="form-control col-md-7 col-xs-12" required="required" id="title" name="title" data-parsley-id="4702" value="{$art.title}"><span></span>
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">广告图片(原)
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	              <img width="200px" src="__ROOT__/Uploads/Admin/images/{$art.image}" />
				</div>
			</div>
	         <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">广告图片(新)
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="file" id="image" name="image" data-parsley-id="4702" value="" onchange="javascript:setImagePreview();"><span style="line-height: 10px;display: none;" class="tupian_guige">[ 上传广告图片规格 ] <p>header:1280px(像素)*500px(像素)</p> <p>left&right:150px(像素)*400px(像素)</p> <p>footer:1280px(像素)*400px(像素)</p></span>
	            </div>
	            <div id="localImag" style="margin-left: 250px;margin-top:35px;width:310px;height:auto;border: 1px solid #ddd;padding:5px;display: none;" ><img  id="preview" width=-1 height=-1 style="diplay:none" />
				</div>
	        </div>
	        <div class="form-group">
	        	<label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">是否开启广告前提示语
	            </label>
	            <label class="tishi_zong">
                       <div class="icheckbox_flat-green checked tishi" style="position: relative;margin-left: 10px;"><input name="prompt" value="{$art.prompt}" type="checkbox" checked="checked" class="flat tishi_text" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins></div> 
                    </label>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">广告位置
	            </label>
	            <input class="position_ad" type="hidden" name="position" value="{$art.position}">
	            <div class="col-md-6 col-sm-6 col-xs-12" style="margin-left: -10px;margin-bottom: -10px;">
	            	<ul style="width:200px;list-style: none;padding:10px;">
	            	<li>
	                <div class="header_ad" style="width:200px;height: 50px;background: #26b99a;color:#fff;text-align: center;line-height: 50px;cursor: pointer;border-radius: 3px;">header</div>
	                </li>
	                <li style="margin-left: -40px;margin-top: 10px;margin-bottom: 10px;">
		                <ul style="list-style: none;">
		                	<li style="float: left;"><div class="left_ad" style="width:50px;height:120px;background: #ddd;margin-left: 0px;text-align: center;line-height: 100px;cursor: pointer;border-radius: 3px;">left</div></li>
		                	<li><div class="right_ad" style="width:50px;height:120px;background: #ddd;margin-left: 150px;text-align: center;line-height: 100px;cursor: pointer;border-radius: 3px;">right</div></li>
						</ul>
	                </li>
	                <li><div class="footer_ad" style="width:200px;height: 50px;background: #ddd;text-align: center;line-height: 50px;cursor: pointer;border-radius: 3px;">footer</div></li>
	                </ul>
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">广告出现的时间
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	            	<select style="width:100px;height: 25px;font-size:18px;opacity: 0.7;" name="adtime">
	            		<option <eq name="art.adtime" value="5">selected</eq>>5</option>
	            		<option <eq name="art.adtime" value="10">selected</eq>>10</option>
	            		<option <eq name="art.adtime" value="50">selected</eq>>50</option>
	            		<option <eq name="art.adtime" value="100">selected</eq>>100</option>
	            		<option <eq name="art.adtime" value="600">selected</eq>>600</option>
	            		<option <eq name="art.adtime" value="3600">selected</eq>>3600</option>
	            	</select> 秒后 
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">广告出现的次数
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="number" style="width: 100px;height: 30px;" class="form-control col-md-7 col-xs-12" min='0' max="1" required="required" name="num" data-parsley-id="4702" value="{$art.num}">&nbsp;次<span></span>
	            </div>
	        </div>
	        
	        <div class="ln_solid"></div>
	        <div class="form-group">
	            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
	                <button class="btn btn-success" type="submit">修改</button>
	                <button class="btn btn-primary" type="reset">重置</button>
	            </div>
	        </div>

	    </form>
	</div>
</div>

<script type="text/javascript" src="__PUBLIC__/Admin/production/js/parsley/parsley.min.js"></script>
<script type="text/javascript">

//加载页面完成后,判断
	$(document).ready(function(){
		setTimeout(function(){
			if($('.tishi_text').val()==1){
				$('.tishi').children('div').addClass('checked');
				$('.tishi').attr('d','d');
			}else if($('.tishi_text').val()=="0"){
				$('.tishi').children('div').removeClass('checked');
			}

			if($('.position_ad').val()=='header'){
				$('.header_ad').css({background:'#26b99a',color:'#fff'});
				$('.left_ad').css({background:'#ddd',color:'#999'});
				$('.right_ad').css({background:'#ddd',color:'#999'});
				$('.footer_ad').css({background:'#ddd',color:'#999'});
			}else if($('.position_ad').val()=='left+right'){
				$('.left_ad').css({background:'#26b99a',color:'#fff'});
				$('.right_ad').css({background:'#26b99a',color:'#fff'});
				$('.header_ad').css({background:'#ddd',color:'#999'});
				$('.footer_ad').css({background:'#ddd',color:'#999'});
			}else if($('.position_ad').val()=='footer'){
				$('.footer_ad').css({background:'#26b99a',color:'#fff'});
				$('.left_ad').css({background:'#ddd',color:'#999'});
				$('.right_ad').css({background:'#ddd',color:'#999'});
				$('.header_ad').css({background:'#ddd',color:'#999'});
			}
		},1);

	})
/*广告位置定位 开始*/
		
	//广告位置 选择

		$('.header_ad').click(function(){
			$(this).css({background:'#26b99a',color:'#fff'});
			$('.left_ad').css({background:'#ddd',color:'#999'});
			$('.right_ad').css({background:'#ddd',color:'#999'});
			$('.footer_ad').css({background:'#ddd',color:'#999'});
			$('.position_ad').val('header');
		})
		$('.left_ad').click(function(){
			$(this).css({background:'#26b99a',color:'#fff'});
			$('.right_ad').css({background:'#26b99a',color:'#fff'});
			$('.header_ad').css({background:'#ddd',color:'#999'});
			$('.footer_ad').css({background:'#ddd',color:'#999'});
			$('.position_ad').val('left+right');

		})
		$('.right_ad').click(function(){
			$(this).css({background:'#26b99a',color:'#fff'});
			$('.left_ad').css({background:'#26b99a',color:'#fff'});
			$('.header_ad').css({background:'#ddd',color:'#999'});
			$('.footer_ad').css({background:'#ddd',color:'#999'});
			$('.position_ad').val('left+right');
		})
		$('.footer_ad').click(function(){
			$(this).css({background:'#26b99a',color:'#fff'});
			$('.left_ad').css({background:'#ddd',color:'#999'});
			$('.right_ad').css({background:'#ddd',color:'#999'});
			$('.header_ad').css({background:'#ddd',color:'#999'});
			$('.position_ad').val('footer');
		})

	//广告提示语的 选择
		$('.tishi').click(function(){
			if(!$(this).attr('d')){
			$(this).attr('d','d');
			$('.tishi_text').attr('value',"0");
			}else{
				$(this).removeAttr('d');
				$('.tishi_text').attr('value','1');
			}

		})

/*广告位置定位 结束*/


/*图片上传预览 开始*/
$('#image').focus(function(){
	$('#localImag').show();
})
function setImagePreview() {  
        var docObj=document.getElementById("image");  
   
        var imgObjPreview=document.getElementById("preview");  
                if(docObj.files &&    docObj.files[0]){  
                        //火狐下，直接设img属性  
                        imgObjPreview.style.display = 'block';  
                        imgObjPreview.style.width = '300px';  
                        imgObjPreview.style.height = 'auto';                     
      //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式    
      imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
	$('.tupian_guige').hide();

  
  
                }
                return true;    
        }
/*图片上传预览 结束*/


/*添加内容判断  以及样式 开始*/
	var T = false;
	var A = false;
	
	$('#title').blur(function(){
		var tit = $(this).val();
		var re = /^\S+$/;
		var r = tit.match(re);
		// alert(r);
		if(tit=='' || tit.length>20 || r==null){
			$(this).css({border:'1px solid rgba(230,3,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(230,3,3,0.2)'});
			var s = '[ 标题 ]不能为空,且不能超出20个字符'
			$(this).siblings('span').html(s);
			return T=false;
		}else{
			$(this).css({border:'1px solid rgba(3,130,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(3,230,3,0.2)'});
			$(this).siblings('span').remove();
			return T=true;
		}
	})

	
	$('form').submit(function(){

		//如果没有上传图片,就不处理图片
		if($('#image').val()!=""){
			$('form').attr('enctype','multipart/form-data');
		}else{
			$('#image').removeAttr('name');
		}
		
		var tit = $('#title').val();
		if(tit=='' || tit.length>20){
			$('#title').css({border:'1px solid rgba(3,3,230,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(3,3,230,0.2)'});
			alert('广告标题确认是否有误');
			return T;
		}
		如果没有上传图片,就不处理图片
		var img = $('#image').val();
		if(img==''){
			alert('没有上传广告图片');
			return A;
		}else{
			return A=true;
		}
		
		if(T==false ||A==false){
			return false;
		}
		return true;
		
	})
/*添加内容判断  以及样式 结束*/
</script>
        
       
</block>