
{template index_header}
<script type="text/javascript">

    /*-------------------------------------------*/
    var InterValObj1; //timer变量，控制时间
    var count1 = 60; //间隔函数，1秒执行
    var curCount1;//当前剩余秒数
    var code1 = ""; //验证码
    var codeLength1 = 4;//验证码长度
    function sendMessage1() {
           var mphone_reg = /^(13|18|15|17)\d{9,9}$/;
           var mphone = $("#phone").val();
           if(mphone){
               
                  if (mphone_reg.test(mphone)) {
                          $.getJSON('register.php?action=ChkMoblie', "mobile=" + mphone, function (msg) {
                                       if (msg == -4) {
                                            $(".dl_tishi").html("没有此帐号");
                                            $(".dl_tishi").show();
                                        }else{
                                              $("#btnSendCode1").removeClass("yanBtn1");
                                                $("#btnSendCode1").addClass("class1_2");
                                                curCount1 = count1;
                                                //设置button效果，开始计时
                                                $("#btnSendCode1").attr("disabled", "true");
                                                $("#btnSendCode1").val(curCount1 + "秒后重新发送");
                                                InterValObj1 = window.setInterval(SetRemainTime1, 1000); //启动计时器，1秒执行一次
                                                //向后台发送处理数据
                                               var  mobile = $("#phone").val();
                                                $.ajax({
                                                    type: "POST", //用POST方式传输
                                                    dataType: "text", //数据格式:JSON
                                                    data: "mobile=" + mobile,
                                                    url: '/login.php?action=SendCode', //目标地址
                                                    success: function (msg) {
                                                    }
                                                });
                                                $(".dl_tishi").hide();
                                        } 
                          })
                          
                 } else {
                           $(".dl_tishi").html("手机号填写有误");
                           $(".dl_tishi").show();

                 }
            }else{
                 $(".dl_tishi").html("请填写手机号");
            }
            
       
    }
    //timer处理函数
    function SetRemainTime1() {
        if (curCount1 == 0) {
            window.clearInterval(InterValObj1);//停止计时器
            $("#btnSendCode1").removeClass("class1_2");
            $("#btnSendCode1").addClass("class1_3");
            $("#btnSendCode1").removeAttr("disabled");//启用按钮
            $("#btnSendCode1").val("重新发送验证码");
            code1 = ""; //清除验证码。如果不清除，过时间后，输入收到的验证码依然有效    
        }
        else {
            curCount1--;
            $("#btnSendCode1").val(curCount1 + "秒后重新发送");
        }
    }

    $(function () {
        $("#phone").blur(function () {
            var mphone_reg = /^(13|18|15|17)\d{9,9}$/;
            var mphone = $(this).val();
            if(mphone){
                     if (mphone_reg.test(mphone)) {
                               $.getJSON('register.php?action=ChkMoblie', "mobile=" + mphone, function (msg) {
                                       if (msg == -4) {
                                            $(".dl_tishi").html("没有此帐号");
                                            $(".dl_tishi").show();
                                        }else{
                                             $(".dl_tishi").hide();
                                        } 
                              })
                           
                       } else {
                           $(".dl_tishi").html("手机号填写有误");
                           $(".dl_tishi").show();

                       }
            }else{
                 $(".dl_tishi").html("请填写手机号");
            }
       
        })

        $("#password").blur(function () {
            var password_reg = /^.{6,18}$/;
            var password = $(this).val();
            if(password){
                 if (password_reg.test(password)) {
                        $(".dl_tishi").hide();

                         $(".password_state").show()
                    } else {
                        $(".dl_tishi").show();
                        $(".dl_tishi").html("密码长度不符合规则");
                        $(".password_state").hide()

                    }
            }else{
                  $(".dl_tishi").show();
                  $(".dl_tishi").html("请设置新密码");
                  $(".password_state").hide()
            }
           
        })

        $("#code").blur(function () {

            var code = $(this).val();
            $.getJSON('login.php?action=CheckCode', "code=" + code, function (msg) {

                if (msg == -4) {
                    $(".dl_tishi").show();
                    $(".dl_tishi").html("验证码不正确");
                   
                } else {
                    $(".dl_tishi").hide();
                   
                }
            })

        })
    })
    function checkform() {

        ii = 0;
        if($(".password_state").css("display")=='none'){
            ii++;
        }
        if($(".dl_tishi").css("display")!='none'){
            ii++;
        }
       var arrcontent = new Array("phone","code", "password");
       $.each(arrcontent, function (i, n) {
            var str = $("#" + n).val();
            if (!str) {
                ii++;
            }

        })

        if (ii) {
            $(".dl_tishi").show();
            return false;
        } else {
           // $("#sub_form").submit();
           var phone = $("#phone").val()
           var code = $("#code").val()
           var pw = $("#password").val()
            $.post("/login.php?action=updatepassword",{"mobile":phone,"code":code,"password":pw},function(msg){
                if(msg==1){
                    $(".dl_tishi").show();
                    $(".dl_tishi").html("没有此帐号");
                }else if(msg==2){
                    $(".dl_tishi").show();
                    $(".dl_tishi").html("验证码不正确");
                }else{
                    $(".dl_tishi").hide();
                    var arr = eval('(' + msg + ')');        
                    window.location.href=arr; 
                }
            })
            return false;
        }

    }
</script>

<div class="zh_main">
    <br>
    <div class="tishi">请输入您的手机号完成验证，找回密码</div>
    <div class="zh_xian"></div>
    <div class="xiugaishouji_1">
        <form action="/login.php?action=updatepassword" id="sub_form" method="post">
        <div class="sjhz">手机号</div>
        <input type="text" class="sjhk" name="mobile" id="phone">
        <div class="yzmz">验证码</div>
        <input type="password" class="yzmk" id="code" name="code" />
        <input id="btnSendCode1" type="button" class="yanBtn1" value="获取验证码" onclick="sendMessage1()" />
        <div class="xmmz">新密码</div>
        <div style="width:400px;">
        <input type="password" class="xmmk" name="password" id="password" />
        <div style="float:right;"><img class="password_state" style="display: none" src="images/gou.png" /></div>
        </div>
        <div class="xmmz">密码长度请控制在6 - 20个字符</div>
        <button class="dl" type="button" onclick="checkform()">登录</button><span class="dl_tishi" style="display: none">您输入的验证码有误<span>
         </form> 
                
                </div>

                </div>
<div class="banquan" style="background-color:#141414; width:100%;height:auto; color:#999; text-align:center; padding-top:30px;padding-bottom:30px; font-size:14px;">
京ICP备:05067646&nbsp;&nbsp;|&nbsp;&nbsp;京公网安备:1101055366&nbsp;&nbsp;|&nbsp;&nbsp;Copyright&copy; 2005-2015&nbsp;&nbsp;|&nbsp;&nbsp;www.cheping.com.cn,All Rights Reserved&nbsp;&nbsp;ams车评网&nbsp;&nbsp;版权所有
</div>
<script type="text/javascript">
(function() {  
    //版权定位
    var banquan = $('.banquan').offset().top;
    var pingmu = $(window).height();
    var position = pingmu-banquan-80;
    position = parseInt(position)+"px";
    $('.banquan').before('<div style="width:100%;height:'+position+';"></div>');
})();

</script>
</body>
</html>