<!DOCTYPE>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <meta name="format-detection" content="telephone=no" />
        <title>wap-暂时没有收藏</title>
        <link rel="stylesheet" href="css/reset.css"/>
        <link rel="stylesheet" href="css/people.css"/>
    </head>

    <body>
        <div class="header">
            <span class="sp1">收藏</span>
            <span class="fl hsp2" onclick="history.go(-1)" style="cursor:hand" > < </span> 
        </div>
        <div class="con">
            <div class="collect"><img src="images/shoucbg.png" width="100%" /></div>  
        </div>
    </body>
</html>
