<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=0.5,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta name="format-detection" content="telephone=no" />
<title>wap-找回密码子页</title>
<link rel="stylesheet" href="css/reset.css"/>
<link rel="stylesheet" href="css/people.css"/>
</head>

<body>
 <div class="header">
            {if $title}
            <span class="sp1">修改密码</span>
            <span class="fl hsp2" onclick='location.href="/wapuinfo.php?action=Uinfo"' style="cursor:hand"> < </span>
            {else}
            <span class="sp1">找回密码</span>
            <span class="fl hsp2" onclick="history.go(-1)" style="cursor:hand"> < </span>
            {/if}
 </div>
 <form action="" method="post" name="newpassword">
 <div class="con">
      <div class="number">
         <span class="fl padtop"> 新密码 :</span>
         <input type="text" placeholder="6-20字符" class="telephone fl" name="newpwd"/>
         <div class="clear"></div>
      </div>  
      <p class="text-align"><input type="submit" class="tijiao" value="下一步" id="sub"/></p> 
 </div>
 </form>
</body>
</html>
