body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:740px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:362px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:8px;
  width:114px;
  height:22px;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:10px;
  top:31px;
  width:181px;
  height:19px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:10px;
  top:49px;
  width:68px;
  height:19px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:10px;
  top:68px;
  width:81px;
  height:19px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:730px;
  top:8px;
  width:40px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:685px;
  top:58px;
  width:84px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:685px;
  top:79px;
  width:101px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:685px;
  top:35px;
  width:41px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:150px;
  top:49px;
  width:41px;
  height:19px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:10px;
  top:87px;
  width:68px;
  height:19px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:762px;
  top:703px;
  width:24px;
  height:24px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:715px;
  top:703px;
  width:24px;
  height:24px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:150px;
  top:67px;
  width:68px;
  height:19px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:10px;
  top:116px;
  width:776px;
  height:436px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  height:436px;
}
#u29 {
  position:absolute;
  left:2px;
  top:210px;
  width:772px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:85px;
  top:700px;
  width:30px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:125px;
  top:702px;
  width:30px;
  height:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:85px;
  top:562px;
  width:701px;
  height:123px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:123px;
}
#u35 {
  position:absolute;
  left:2px;
  top:54px;
  width:697px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:10px;
  top:562px;
  width:65px;
  height:24px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
