@charset "utf-8";
/* CSS Document */
.login_right.Forget_box{padding-bottom:100px;}
.login_right ul li .send{ padding-top:9px;}
.login_right ul li input:focus {
    border: 1px solid #a68e72;
}
ul.tag_options{ height:200%}
.login_right ul li input.input_txt.Nickname_icon.Nickname_icon_name {
background-position: -350px -285px;
}
.login_right ul li.sax div{cursor:pointer}

.login_right ul li input.input_txt.PWord_icon {
background-position: -350px -335px;
}
.login_right ul li{ float:left}
.login_right ul li.select_box .select_name{ padding-left:5px;}
span.select_name,span.select_sex{float:left; line-height:40px; margin-right:10px}
.login_right ul li.select_box div{ position:relative; float:left; width:80px; }
.login_right ul li.select_box em{ width:40px; height:35px; position:absolute; z-index:1; left:0; background:url(../../images/member_new/ok.png) no-repeat; }
.login_right ul li.select_box i{ width:15px; height:15px; position:absolute; display:block; z-index:-1px; margin:10px 0 0 4px; background:#f0f0f0;}
.login_right ul li.select_box p{ line-height:35px; padding:0 0 0 30px}
.login_right ul li.select_box .select_box_date{ width:600px; margin-left:44px}
.login_right ul li.select_box .select_year{ width:105px;}
.login_right ul li.select_box .select_year .tag_select{ width:105px;}


/*爱好*/
.hobby_0721{ float:left; width:600px;}

.hobby_0721 .select_hobby{padding-left:5px; float:left; padding-top:20px}
.hobby_0721 .hobby_list{ float:left;width:300px;}
.hobby_0721 .hobby_list dl{ width:360px;}

.hobby_0721 .hobby_list dl dd{ width:64px; cursor:pointer; height:40px; line-height:40px; margin:12px 11px; text-align:center; float:left; position:relative;border:2px solid #f0f0f0; position:relative }

.hobby_0721 .hobby_list dl dd.checked i{ display:block}
.hobby_0721 .hobby_list dl dd span{width:76px; cursor:pointer;float:left; height:45px;position:absolute; left:-5px }
.hobby_0721 .hobby_list dl dd.checked span{background:url(../../images/member_new/ok-1.png) no-repeat;background-position:40px 10px;}



/**/
.login_right ul li.select_box_2{ padding:40px 0 0; margin-top:40px;border-top: 1px #c4c4c4 solid; }
.select_box{ width:600px;padding:20px 0}
.select_box  dl dd{width:600px; height:50px;}
.select_box  dl dd div.select_memorial{ width:600px; height:70px;}
.select_box div.select_memorial .tt_left{ float:left; height:50px; line-height:50px; padding-left:0px; padding-right:20px;}
.select_box div.select_memorial div.select_down{ width:374px; float:left}
.select_box div.select_memorial div.tag_select{width:375px;background: url(../../images/member_new/icon.png) no-repeat 333px -578px #f0f0f0}
.select_box dl dd div.select_box_date{ padding-left:20px; padding-bottom:40px;}
.select_box .select_down_0{ width:85px;}
.select_box .select_down_0 .tag_select{ background:url(../../images/member_new/icon.png) no-repeat 49px -578px #f0f0f0}
.select_box .select_memorial .select_input{width:375px; height:50px; border:none;background: #f0f0f0；display: block;
color: #000;
width: 100%;
padding:0px;
text-indent: 15px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
height: 50px;
background:  #f0f0f0;
line-height: 50px;
color: #7D7D7D;
font-size: 18px;}
/**/
.login_right ul li .my_markday_0721{ border-top:none; width:220px; margin-left:40px; margin-top:5px;}

.login_right ul li .my_markday_0721 span a.go{ padding:7px 30px; font-size:14px;}
.login_right ul li.markday_btn{ width:220px; margin-left:40px; }



.order_list{ width:600px; display:block; float:left; margin-left:0}
.order_list ul,.order_list ul li{ width:600px; display:block; float:left}
.order_list ul li dl dd{ width:600px; height:160px; display:block}
.sax input{ display:none}
.select_box input,.select_box_date input{ display:none}

.select_box_2 input{ display:block}
.select_down ul ,.select_down ul li{ width: 80px}
.select_year ul ,.select_year ul li{ width: 105px;}
.select_box_option ul,.select_box_option ul li{ width: 375px;}


