<extend name="Index/indextemp" />
<block name="con">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/ShopCart/comm_header.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/ShopCart/Landing_city.css">

<script type="text/javascript" async="" src="__PUBLIC__/ShopCart/mba.js"></script>
<script type="text/javascript" async="" src="__PUBLIC__/ShopCart/s.js"></script>
<script charset="utf-8" src="__PUBLIC__/ShopCart/v.js"></script>
<script type="text/javascript" src="__PUBLIC__/jquery-1.8.3.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/ShopCart/superscrollorama.js"></script>

<script type="text/javascript" src="__PUBLIC__/ShopCart/uaredirect.js"></script>
<script type="text/javascript" src="__PUBLIC__/ShopCart/iplookup.php"></script>

    <link href="__PUBLIC__/ShopCart/cart.css" rel="stylesheet" type="text/css">
<div id="page_mainer">

    <div class="user_box">

        <div class="user_title" style="border-bottom:none">
            <p class="car_t_img"><i></i><span>购物车</span></p>
        </div>

        <div class="order_list">

            
            <ul class="buy_flow">
                <li class="cur"><p>我的购物车</p></li>
                <li class="cur"><span>&gt;</span></li>
                <li><p>填写订单信息</p></li>
                <li><span>&gt;</span></li>
                <li><p>完成订单</p></li>
            </ul>

            <ul class="view_list all_list">

                <!--全部订单-->
                <form action="{:U('Home/Orders/index')}" methond="get">
                <li class="cur" style="overflow:visible">
                    <ul class="order_th buy_Cart">
                        <li class="order_pro">商品信息</li>
                        <li>规格</li>
                        <li>单价（元）</li>
                        <li>数量</li>
                        <li>金额</li>
                        <li>操作</li>
                    </ul>
                    <ul class="order_td" style="overflow:inherit">

                        <li class="buy_car_list" id="buy_car_list" style="overflow:visible">
	                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
		                        <tbody>
                                <foreach name="shop" item="vo">
			                        <tr>
				                        <td style="padding-left: 20px;" class="cartCheck">
					                        <input type="checkbox" name="ids[]" value="{$vo['id']}" checked="checked" class="input">
				                        </td>
				                        <td class="pro_left">
					                        <div class="buy_pro_img">
					                        <img src="__ROOT__/Uploads/Admin/images/GoodsImg/{$vo['path']}" width="114" height="114" alt="{$vo['cn_name']}">
					                        </div>
					                        <div class="aleft">
					                        <a href="http://www.mcake.com/shop/goods-11359.html" class="Grey">
					                        <b>{$vo['en_name']}</b>
					                        </a>{$vo['cn_name']} <br><br>
					                        赠品：{$vo['largesses']}
					                        </div>
				                        </td>
				                        <td width="10%">
					                        <div class="cake_num">{$vo['weight']} 磅</div>
				                        </td>
				                        <td class="price" width="10%">{$vo['price']}</td>
				                        <td class="line" width="10%">
					                        <div class="cake_num">
					                        <dl>
                                                <dd class="n_left">
                                                    <input value="{$vo['id']}" style="display:none">
                                                    <a class="jiajian" href="" >-</a>
                                                    <input value="{$vo['gid']}" style="display:none">
                                                </dd>
                                                <dt >
                                                    <input class="shuzi" type="text" value="{$vo['num']}" class="goods_amount" index="11359" style="width:10px">
                                                </dt>
                                                <dd class="n_right">
                                                    <input value="{$vo['id']}" style="display:none">
                                                    <a class="jiajian" href="" >+</a>
                                                    <input value="{$vo['gid']}" style="display:none">
                                                </dd>
					                        </dl>
					                        </div>
				                        </td>
				                        <td class="subtotal" width="10%">{$vo['subtotal']}</td>
				                        <td width="10%">
                                            <input value="{$vo['id']}" style="display:none">
					                        <a href="{:U('Home/ShopCart/delete')}?id={$vo['id']}" name="del" class="Grey confirm_del">删除</a> 
					                        <div class="pro_del_box"></div>
				                        </td>
			                        </tr>
			                    </foreach>    
									<tr class="border_top">
										<td colspan="6" class="Order_activity cartCheck">
											<input type="checkbox" id="button" checked="checked" class="input">
										
											全选
										</td>
                                        <td class="Order_activity cartCheck">
                                            <input value="{$vo['uid']}" style="display:none">
                                            <a name="empty" href="" class="Grey confirm_del">清空购物车</a>
                                        </td>
									</tr>
								</tbody>
							</table>
						</li>
                        <div class="clear"></div>

                    </ul>

                </li>

                <li class="cur Total">

                    <div class="Total_all">
                        <span><font>共  <samp id="total_amount">{$shopnum}</samp>  款商品</font>  合计（不含运费）：<b id="total_money"> ￥{$total}</b></span>
                        <div>
                            <input type="submit" value="结算" class="login_btn" id="checkout">
                            <input type="button" value="继续购物" onclick="location.href='{:U(\'Home/Index/index\')}'" class="login_btn" id="continue_shopping">
                        </div>
                    </div>

                </li>
                </form>
                <!-- 全部订单 end-->

                <!-- 选择的切换 -->
                <script type="text/javascript">
                    //声明获取选中商品的id的数组
                    var ids=[];
                    //封装显示打开页面时默认选中的商品总额
                    function total(){
                        //获取默认选中的商品id
                        $('input[name="ids[]"]:checked').each(function(){
                            ids.push($(this).val());
                        })
                        //ajax发送商品id，获取默认选中的商品价格总额
                        $.ajax({
                            type:'get',
                            url:"{:U('Home/ShopCart/change')}",
                            data:{ ids:ids },
                            async:true,
                            success:function(data){
                                if(data==0){
                                    $('#total_money').html('￥0');
                                }else{
                                    $('#total_money').html('￥'+data);
                                }
                            },
                            timeout:3000
                        })
                        //发送完清空存放购物车商品id的数组
                        ids=[];
                    }
                    //调用执行
                    total();

                    //获取元素节点
                    var input=$('input[name="ids[]"]');
                    var button=$('#button');
                    //控制按钮状态的变量
                    var change=false;

                    //绑定单击事件，全选切换
                    button.click(function(){
                        if(change==false){
                            //循环设置不选中属性
                            for(var i=0;i<input.length;i++){
                                input[i].checked=false;
                                //input[i].attr('checked','checked');
                            }
                            //修改控制按钮状态的变量
                            change=true;
                        }else{
                            //循环设置选中属性
                            for(var i=0;i<input.length;i++){
                                input[i].checked=true;
                                //input[i].removeattr();
                            }
                            //修改控制按钮状态的变量
                            change=false;
                        }
                    })

                    //发送ajax请求获取被点击选中商品的价格总额
                    $('.input').click(function(){
                        //获取被选中的商品id
                        $('input[name="ids[]"]:checked').each(function(){
                            ids.push($(this).val());
                        })
                        //ajax发送商品id，获取被选中的商品价格总额
                        $.ajax({
                            type:'get',
                            url:"{:U('Home/ShopCart/change')}",
                            data:{ ids:ids },
                            async:true,
                            success:function(data){
                                if(data==0){
                                    $('#total_money').html('￥0');
                                }else{
                                    $('#total_money').html('￥'+data);
                                }
                            },
                            timeout:3000
                        })
                        //发送完清空存放商品的id的数组
                        ids=[];
                    })                        
                </script>
                <!-- 选择的切换 -->
                <!-- 商品数量的变化 -->
                <script type="text/javascript">
                     //给加减号绑定单击事件
                     $('.jiajian').click(function(){
                         //获取购物车商品id和商品id
                         var a = $(this);
                         var id=$(this).prev().val();
                         var gid=$(this).next().val();
                         //alert(id);alert(gid);die;
                         //获取a标签中的文本
                         var i=/\+/;
                         var fuhao=$(this).html();
                         //正则匹配判断出商品数量的加一减一,发送ajax请求
                         if(i.test(fuhao)){
                             $.post("{:U('Home/ShopCart/update')}",{id:id,gid:gid,num:'+1'},function(data){
                                 if(data){
                                    //修改页面购买数量
                                     var shuzi=a.parent().prev().children();
                                     var t=parseInt(shuzi.val())+1;
                                     a.parent().prev().children().val(t);
                                    //修改页面价格小计
                                     var subtotal=parseInt(a.parents('.line').next().html());
                                     var price=parseInt(a.parents('.line').prev().html());
                                     a.parents('.line').next().html(subtotal+price);
                                     //修改页面总金额
                                     total();
                                 }else{
                                     alert('额哦~库存不足~~');
                                 }
                             })
                         }else{
                             $.post("{:U('Home/ShopCart/update')}",{id:id,gid:gid,num:'-1'},function(data){
                                 if(data){
                                    //修改页面购买数量
                                     var shuzi=a.parent().next().children();
                                     var t=parseInt(shuzi.val())-1;
                                     a.parent().next().children().val(t);
                                    //修改页面价格小计
                                     var subtotal=parseInt(a.parents('.line').next().html());
                                     var price=parseInt(a.parents('.line').prev().html());
                                     a.parents('.line').next().html(subtotal-price);
                                     //修改页面总金额
                                     total();
                                 }else{
                                     alert('额哦~留一件吧~~');
                                 }
                             })
                         }
                         //阻止加减号的a链接默认跳转行为
                         return false;
                     })
                </script>

                <!-- 删除商品和清空购物车 -->
                <script type="text/javascript">
                    //删除购物车商品
                    $('a[name=del]').click(function(){
                        //获取购物车商品id
                        var del=$(this);
                        var id=del.prev().val();
                        //发送ajax请求删除
                        $.post("{:U('Home/ShopCart/delete')}",{id:id},function(data){
                            if(data){
                                //删除页面商品信息
                                del.parents('tr').html('');
                                //修改页面总金额
                                total();
                            }else{
                                alert('额哦~再试一次。');
                            }
                        })
                        //阻止删除a链接的默认跳转行为
                        return false;
                    })

                    //清空购物车商品
                    $('a[name=empty]').click(function(){
                        //获取会员id
                        var empty=$(this);
                        var uid=empty.prev().val();
                        //发送ajax请求清空购物车
                        $.post("{:U('Home/ShopCart/emptys')}",{uid:uid},function(data){
                            if(data){
                                //跳转到空购物车页面
                                location.href="{:U('Home/ShopCart/kongcart')}";
                            }else{
                                alert('额哦~再试一次。');
                            }
                        })

                        //阻止清空a链接的默认跳转行为
                        return false;
                    })
                </script>

            </ul>

            
        </div>
    </div>
    <div class="clear"></div>
</div>


</div><iframe height="0" width="0" src="__PUBLIC__/ShopCart/track.htm" style="visibility: hidden; display: none;"></iframe>
</block>