{template header}
<script type="text/javascript">
    $(document).ready(function () {
        $("#startdate").datepicker();
        $("#enddate").datepicker();
        $("#form").submit(function () {
            var reg = /^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2})$/;
            if ($("#startdate").val().length < 1) {
                alert("请填写起始日期");
                return false;
            } else {
                if ($("#startdate").val().match(reg) == null) {
                    alert("起始日期格式不正确!");
                    return false;
                }
            }
            if ($("#enddate").val().length < 1) {
                alert("请填写终止日期");
                return false;
            } else {
                if ($("#enddate").val().match(reg) == null) {
                    alert("终止日期格式不正确!");
                    return false;
                }
            }
        });
    });
</script>
<div class="user">
    <div class="nav">
        <ul>
            <li><a href="" class="song">按日期统计</a></li>
        </ul>   
    </div>
    <div class="clear"></div>
    <div class="user-con">
        <div style=" padding:20px 5px; width：98%; border-bottom:1px solid #ccc; ">
            <form action="" method="post" id="form">
                <table style=" table-layout: auto; width:100%; "border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <th colspan="5"><h2 style="color:blue;"><!--{if $startdate}-->$startdate 至 $enddate <!--{/if}--> {$title}PV/IP统计查询</h2><th/>
                    <tr/>
                    <tr  style="height: 36px;">
                        <td width="16%">

                        </td>
                        <td width="25%">
                            起始日期：
                            <input size="12" readonly="readonly" name="startdate" id="startdate" value="$startdate" style="width: 95px;">
                        </td>
                        <td width="25%">
                            至：
                            <input size="12" readonly="readonly" name="enddate" id="enddate" value="$enddate">
                        </td>
                        <td width="20%">
                            <input type="submit" name="search" value=" 搜 索 ">
                        </td>
                        <td width="16%">

                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="user-table">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="20%" style="">文章id</td>
                        <td width="20%">浏览量(PV)</td>
                        <td width="20%">访问(IP)</td>
                        <td width="20%">独立客户端(UV)</td>
                        <td width="20%">人均浏览量(PV/UV)</td>
                    </tr>
                    <tbody>
                        <!--{if $stat}-->
                        {loop $stat $key $value}
                        <tr>
                            <td><!--{eval echo $key;}--></td>
                            <td><!--{if $value['pv']}--><!--{eval echo round($value['pv'])}--><!--{else}-->0<!--{/if}-->(pv)</td>
                            <td><!--{if $value['ip']}--><!--{eval echo round($value['ip'])}--><!--{else}-->0<!--{/if}-->(ip)</td>
                            <td><!--{if $value['uv']}--><!--{eval echo round($value['uv'])}--><!--{else}-->0<!--{/if}-->(uv)</td>
                            <td><!--{if $value['uv']>0}--><!--{eval echo intval((round($value['pv'])/round($value['uv']))*100)/100}--><!--{else}-->0<!--{/if}--></td>
                        </tr>
                        {/loop}
                    <!--{/if}-->
                    </tbody>
                </table>
        </div>
    </div>
</div>
</body>
</html>
