{template header}
<div class="user-add">
    <div class="navs" >
        <ul class="nav">
            <li><a href="<!--{$php_self}-->list" >首页轮播图</a></li>  
            <li  ><a href="<!--{$php_self}-->add" class="song">往期精选</a></li>   
        </ul>
    </div>
   </div>
            <div class="clear"></div>
            <div class="user-con">
                <div class="user-table">
                    <form action="" method="post" enctype="multipart/form-data">
                         <div style="padding:6px 0px; width:98%; border-bottom: 1px solid #ccc; margin:0 auto;">
                            <span style="float: left;margin-left:200px"><input type="button" class="sbt" onclick='add()'style=" padding:0px 4px;  color:#333;font-family:'微软雅黑';  " value="添加"/>添加新的轮播内容</span> 
                                    <input type="submit" class="sbt"style=" padding:0px 4px;  color:#333;font-family:'微软雅黑';  " name= 'submit2' value="提交数据"/>
                        </div>
                    <table border="0" cellspacing="0" cellpadding="0">

                        <tr>
                             <td style=" padding-top:20px;">ID</td>
                            <!--<td style=" padding-top:20px;">频道</td>-->
                            <td style=" padding-top:20px;">标题</td>
                            <td style=" padding-top:20px;">图片</td>
                            <td style=" padding-top:20px;">路径</td>
                            <td style=" padding-top:20px;">推送轮播图</td>
                            <td style=" padding-top:20px;">时间</td>
                            <td style=" padding-top:20px;">操作</td>
                        </tr>
                        <tbody id="tobdy">
                            
                        </tbody>
                     
                    </table>
                       
                    </form>
                </div>
            </div>
        <script type="text/javascript" src="{$admin_path}js/jquery.dragsort-0.4.min.js"></script>
        <script type="text/javascript">
            function saveOrder1() {    
                for(var i=0;i<sortNumOld.length;i++){
                    $(".sort_article").eq(i).val(i+1);
                }
            }; 
            $().ready(function () {
                $(".but_del").live('click',function(){
                    $(this).parent().parent().parent("tr").remove();
                })
                
                $(".but_check").live('click',function(){

                   var tr= $(this).parent().parent().parent("tr")
                   var id= tr.find(".id_a").val();
                   $.get("<!--{$php_self}-->ajaxarticle",{"id":id},function(msg){
                       if(msg==-1){
                           alert("该文章不存在");
                       }else{
                           arr =eval('(' + msg + ')');
                           tr.find(".content1").val(arr['title']);
                         
                       }
                   })
                   
                })
            });
//            <td><select style="width:80px;" name="channel_index[]"><option value ="no">-选择频道-</option><option value ="7">资讯</option><option value ="8">评测</option><option value ="9">视频</option><option value ="10">文化</option></select></td>
            function add(){
                var html = '<tr><td><input class="id_a" type="text" value=""  name="id[]" size="4" ></td><td style="width:150px;" ><input class="content1" type="text" name="show_title[]"  style="width:180px;"  value="" ></td><td><input style="width:150px;" type="file" value="" name="show_pic[]"><p><a class="jTip" id="jtip$i" href="/admin/index.php?action=index-pic&picture=">查看PC图片(1180*400)</a></p></td><td style="width:150px;" class=""><input type="text" name="show_url[]" value=""></td><td></td><td></td><td><span><input type="button" value="确认" class="but_check"><a href="javascript:void(0)" class="but_del">移除</a></span></td></tr>';
                $("#tobdy").prepend(html);
            }
        </script>  
    </body>
</html>
