{template header} 
 <script language="javascript" type="text/javascript">
     
            //全选
            function SelectAllCheckboxes(spanChk)
            {
                var xState = spanChk.checked;
                //alert(xState);

                elm = spanChk.form.elements;
                //alert(elm.length);
                for (i = 0; i < elm.length - 1; i++)
                {
                    if (elm[i].type == "checkbox" && elm[i].id != spanChk.id)
                    {

                        if (elm[i].checked != xState)
                            elm[i].click();
                    }

                }
            }
</script>
<div class="user">
    <div class="nav">
        <ul>
            <li><a href="<!--{$php_self}-->Default" class="song">首页轮播图</a></li>  
            <li><a href="<!--{$php_self}-->Add" class="song">添加轮播图</a></li>   
        </ul>
    </div>
    <div class="clear"></div>
    <div class="user-con">
        <div class="user-table">
            <form action="" id="form_do" method="post" enctype="multipart/form-data">
                                         <div style="padding:6px 0px; width:98%; border-bottom: 1px solid #ccc; margin:0 auto;">
                                                    <input type="submit" class="sbt" style=" padding:0px 4px;  color:#333;font-family:'微软雅黑';  "  onclick="javascript:void(0)" name= 'submit2' value="提交数据"/>
                                        </div>
                <table border="0" cellspacing="0" cellpadding="0">

                    <tr>
                        <td style=" padding-top:20px;">是否显示</td>
                        <!--<td style=" padding-top:20px;">ID</td>-->
                        <!--<td  style=" padding-top:20px;">频道</td>-->
                        <td style=" padding-top:20px;">标题</td>
                        <!--<td style=" padding-top:20px;">类型</td>-->    
                        <td style=" padding-top:20px;">添加时间</td>
                        <!--<td style=" padding-top:20px;">更新时间</td>--> 
                        <td style=" padding-top:20px;">图片</td>
                        <td style=" padding-top:20px;">路径</td>
                        <td style=" padding-top:20px;">排序</td>
                        <td style=" padding-top:20px;">操作</td>
                    </tr>



                    <tbody id="tobdy">
                        {loop $list $k $v}
                        <tr>
                            <td><input type='checkbox' {if $v[show_enable]==1}checked{/if} value="{$v[id]}" id="$v[id]" name="id[]" size="4" ></td>
                            <!--                                <td>
                                                                <select style="width:80px;" name="channel_index[]">
                                                                    <option value ="no"{if $v[channel_index]=='no'}selected="selected"{/if}>-选择频道-</option>
                                                                    <option value ="7"{if $v[channel_index]==7}selected="selected"{/if}>资讯</option>
                                                                    <option value ="8" {if $v[channel_index]==8}selected="selected"{/if}>评测</option>
                                                                    <option value ="9" {if $v[channel_index]==9}selected="selected"{/if}>视频</option>
                                                                    <option value ="10" {if $v[channel_index]==10}selected="selected"{/if}>文化</option>
                                                                </select>
                                                            </td>-->
                            <td style="width:150px;">
                                <input type="text" name="show_title[]" value="$v[show_title]">
                                <input type="hidden" name="created[]" value="$v[created]">
                            </td>
                            <td>
                                {if $v[created]}{eval echo date('Y-m-d',$v[created])}{/if}
                            </td>
                            <!--                                 <td>
                                                                {if $v[updated]}{eval echo date('Y-m-d',$v[updated])}{/if}
                                                            </td>-->
                            <td><input style="width:100px;" type="file" value="" name="show_pic">
                                <input type="hidden" id="fileupload"   name="show_pic[]" value="$v[show_pic]">
                                <p><a class="jTip" id="jtip$k" href="/admin/index.php?action=index-pic&picture=$v[show_pic]">查看PC图片(1180*400)</a></p></td>
                            <td><input type="text" name="show_url[]" value="$v[show_url]"></td>
                            <td><input type="text" name="show_index[]" class="sort_article"  placeholder="默认" style="width:50px;text-align:center;" size="4" value="$v[show_index]"></td>
                            <td>
                                <span>
                                    <span><i style=" padding-top:2px;"><img src="images/shanchu.png" /></i><a href="#here" class="click_pop_dialog" mt='1' icon='warnning' tourl='<!--{$php_self}-->del&id=$v['id']&type=1'>删除</a></span>
                                    <!--<a href="javascript:void(0)" class="but_del">移除</a>-->
                                </span>
                            </td>
                        </tr>
                        {/loop}

                    </tbody>
                    <tr>
                        <td colspan="10" ><span style="float: left"> <!--<input type="checkbox"  id='allckb'  onclick="allCkb()" style="vertical-align: middle" /> 全选&nbsp;&nbsp;
                                <input type="checkbox" style="vertical-align: middle"   onclick="inverseCkb()" /> 反选</span>-->
                                <input type="checkbox"  id="allselect"  onclick="SelectAllCheckboxes(allselect)" />全选<input type="submit" class="all" value="批量生成">

                                </td>
                                </tr>    
                                </table>

                                </form>
                                </div>
                                <div>
                                    <div class="ep-pages">
                                        {$page_bar}
                                    </div>
                                </div>
                                </div>
                                </div>
                                <script type="text/javascript" src="{$admin_path}js/jquery.dragsort-0.4.min.js"></script>
                                <script type="text/javascript">
                   //拖拽排序
            var sortNumOld;
            $(document).ready(function(){
                  $("#tobdy").dragsort({ itemSelector: "tr", dragSelector: "tr", dragBetween: true,dragEnd: saveOrder1, placeHolderTemplate: "<tr></tr>" });
                  sortNumOld = $(".sort_article").map(function() { return $(this).val(); }).get();  
            })
            function saveOrder1() {    
                for(var i=0;i<sortNumOld.length;i++){
                    $(".sort_article").eq(i).val(i+1);
                }
            }; 
            $().ready(function () {
                $(".but_del").live('click',function(){
                    $(this).parent().parent().parent("tr").remove();
                })
                 $('.click_pop_dialog').live('click', function () {
            pop_window($(this), {message: '您确定要删除该轮播吗？', pos: [200, 150]});                        
                                               });
                $(".but_check").live('click',function(){
                   var tr= $(this).parent().parent().parent("tr")
                   var id= tr.find(".id_a").val();
                   $.get("<!--{$php_self}-->ajaxarticle",{"id":id},function(msg){
                       if(msg==-1){
                           alert("该文章不存在");
                       }else{
                           arr =eval('(' + msg + ')');
                           tr.find(".content1").html(arr['title']);
                           tr.find(".content2").html(arr['type']);
                           tr.find(".content3").html(arr['day']);
                         
                       }
                   })
                   
                })
            });
                        //提交数据
                        $('.sbt').click(function(){
                            $('#form_do').attr('action','index.php?action=bannerPic-Edit');
                            return true;
                        })
                        
                        $('.all').click(function(){
                            $('#form_do').attr('action','index.php?action=bannerPic-bannermake');
                            return true;
                        })
                        
                </script>  
         </body>
       </html>
