{template header} 
<div class="user">
	<div class="nav">
		<ul id="nav">
        	<li><a href="javascript:void(0);"  class="song">信息预览</a></li>
			<li><a href="{$php_self}hotcarNotice&act=discount">逻辑说明</a></li>
    	</ul>
	</div>
	<div class="clear"></div>
    <div class="user_con">
        <div class="user_con1">
			<form method="post" action="{$php_self}addFocusFive" enctype="multipart/form-data">
			<table cellpadding="0" cellspacing="0" class="table2" border="1">
				<tr>
					<td>图片顺序</td>
					{loop $pagedate $k $v}
						{if $k==1}
							<td>$v<br/>当天</td>
						{else}
							<td>$v</td>
						{/if}
					{/loop}
				</tr>
				{for $i=0; $i<1; $i++}
					<tr>
						<td>{eval echo $i+1}</td>
						{if $pagedata[$i]}
							{for $j=0; $j<10; $j++}
								{if $pagedata[$i][$j]}<td>$pagedata[$i][$j]['profile']<br/>$pagedata[$i][$j]['state']</td>{else}<td style="background-color:red">未录入</td>{/if}
							{/for}
						{else}
							<td style="background-color:red">未录入</td>
							<td style="background-color:red">未录入</td>
							<td style="background-color:red">未录入</td>
							<td style="background-color:red">未录入</td>
							<td style="background-color:red">未录入</td>
							<td style="background-color:red">未录入</td>
							<td style="background-color:red">未录入</td>
							<td style="background-color:red">未录入</td>
							<td style="background-color:red">未录入</td>
							<td style="background-color:red">未录入</td>
						{/if}
					</tr>
				{/for}
				<tr>
					<td></td>
					{loop $statedata $val}
						{if $val['s']==2}
							<td><a href="{$php_self}discountact&id={$val['id']}&date={$val['date']}" target="_blank">修改</a></td>
						{elseif $val['s']==0}
							<td><input type="button" value="生成" onclick="newMakefile('discount', '$val['date']')" /></td>
						{elseif $val['s']==3}
							<td><a href="{$php_self}discountact&date=$val['date']" target="_blank">录入</a><input type="button" value="生成" onclick="newMakefile('discount', '$val['date']')" /></td>
						{else}
							<td></td>
						{/if}
					{/loop}
				</tr>
			</table>
			</form>
        </div>
		<div class="user_con2"><img src="<!--{$admin_path}-->images/conbt.gif"  height="16" /></div>
    </div>
</div>
</body>
</html>