<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}</title>
<link rel="stylesheet" href="css/login.css"  />
</head>

<body style=" background:url(images/exit.jpg)">
   <div class="exit-top">
       <div class="exit-white"></div>
       <div class="exit-logo">
          <div class="logoimg"><img src="images/exitlogo.jpg" /></div>
       </div>      
   </div>
   <div class="exit-con">
       <div class="exit-con-top">
       <span> <img src="images/dui.png" style=" vertical-align:middle;"/></span>
       <span><!--{$str}--></span>
      </div>
      <div class="exit-con-bottom">
         <span>手动返回，<a href="<!--{$url}-->">请点击此链接</a></span>
      </div>
  </div> 
</body>
    <script type="text/javascript">
      function redirect(url, time) {
          setTimeout("window.location='" + url + "'", time * 1000);
      }
      redirect('<!--{$url}-->', <!--{$time}-->);
      </script>
</html>