{template header}
<script type="text/javascript">
    $(document).ready(function(){
        $("#content select").change(function(){
            if(confirm("你确定要将用户 "+name+" 这条内容:"+content+" 修改为 "+statetxt+" 状态!!")){
                if(id&&$(this).val()){
                    $.ajax({
                        type:"POST",
                        url:"<!--{$php_self}-->updatastate",
                        data:{id:id,uid:uid,pid:pid,state:$(this).val(),t:"{$t}"},
                        error:function(){
                            alert("网络异常，请求失败！！");
                        },
                        success:function(date){
                            var color=eval("("+date+")");
                            if(color){
                                $("#"+id).attr("color", color);
                            }else{
                                alert("修改失败!!请联系管理员");
                            }
                        }
                    })
                }else{
                    alert("非法操作!!");
                    return false;
                }
            }else{
                return false;
            }
        });

        $("#updatebtn").click(function(){
            var length=$("#content input:checkbox:checked").size();
            var state=$(this).siblings("select").val();
            if(length<1){
                alert("请选择你要修改数据!");
                return false;
            }
            if(state==""){
                alert("请选择你要修改的状态!");
                return false;
            }
            $("#form_all").submit();
            //return false;
        });

    });
    
    function sendMassMsg(id){
        var url="<!--{$php_self}-->smsmass&id="+id;
        if(confirm("确定要群发短信吗？")){
            location.href=url;
        }
        return false;
    }

</script>
<div class="user_wrap">
    <ul class="nav2">
        <li class="li1"><a href="<!--{$php_self}-->SmsPeople">短信通知人管理</a></li>
        <li><a href="<!--{$php_self}-->SmsPeopleAdd">添加短信通知人</a></li>
    </ul>
    <div class="clear"></div>
    <div class="user_con">
        <div class="user_con1">
            <form id="form_all" action="<!--{$php_self}-->updateallstate&page=$page" method="post">
            <table id="content" class="table2" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="10%">ID</th>
                    <th width="20%">通知人</th>
                    <th width="20%">手机号</th>
                    <th width="20%">是否启用</th>
                    <th width="10%">操作</th>
                </tr>
                <!--{if $list}-->
                <!--{loop $list $key $value}-->
                <tr>
                    <td>{eval echo $key+1;}</td>
                    <td>{$value['username']}</td>
                    <td>{$value['phone']}</td>
                    <td>{if $value[state]=="1"}是{else}否{/if}</td>
                    <td>
                        <a href="<!--{$php_self}-->SmsPeopleAdd&id={$value['id']}">修改</a>
                    </td>
                </tr>
                <!--{/loop}-->
                <!--{else}-->
                <tr>
                    <th colspan="4"><h3 style="color:red;">暂无相关数据</h3></th>
                </tr>
                <!--{/if}-->
            </table>
            <table class="table2" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <!--{if $page_bar}-->
                    <th width="100%"  class="page_bar_css">
                        <!--{$page_bar}-->
                    </th>
                    <!--{/if}-->
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>
{template footer}