<div id="limitcar_div" class="sy_qg sy_qg1" style="margin-left: 5px;">
    <div class="sy_qgt sy_qgt1">
    </div>
    <div class="sy_qgl sy_qgl1">
        <ul>
            {loop $limitcar $key $value}
            <li>
                <a class="{if $key==0}sy_qglion2{/if} menu" index="{$key}" href="javascript:void(-1);">{eval echo $key+=1;}</a>
            </li>
            {/loop}
            <div class="clear"></div>
        </ul>
        <div class="clear"></div>
        {loop $limitcar $key $value}
        <div <!--{if $key!=0}-->style="display:none;"<!--{/if}--> class="sy_qg_tu sy_qg_tu1 content1">
            <!--{if $value['flag']!=0}--><div class="sy_qgjs"></div><!--{/if}-->
            <a id="limit_pic_{$key}" target="_blank" href="modelinfo.php?modelid={$value['model']['model_id']}"><img width="260" height="150" alt="{$value['title']}" onerror="this.src='images/v2/col_bus.jpg'" src="attach/{if $value['pic']}images/$value['pic']{else}images/v2/col_bus.jpg{/if}"/></a>
        </div>
        {/loop}
    </div>
    {loop $limitcar $key $value}
    <div class="sy_qgr  content2" <!--{if $key!=0}-->style="display:none;"<!--{/if}-->>
        <div class="sy_qgs sy_qgs1 sy_qgs1_1">
            限量{$value['num']}辆
        </div>
        <ul>
            <li>
                <p>
                    <a target="_blank" href="modelinfo.php?modelid={$value['model']['model_id']}">{$value['title']}</a>
                </p>
            </li>
            <li>
                <span style="text-decoration:line-through;">指导价：{$value['model']['model_price']}万</span>
            </li>
            <li>
                已优惠：{eval echo ($value['model']['model_price']-$value['model']['bingo_price']);}万
            </li>
            <li>
                冰狗参考价：<span style=" color:#cf8e11; font-size:20px; font-weight:bold;">{$value['model']['bingo_price']}</span>万
            </li>
            <li style="position:relative;">
                <a class="sy_qgq sy_qgq1" target="_blank" href="cardemand.php?brand_id={$value['model']['brand_id']}&series_id={$value['model']['series_id']}&model_id={$value['model']['model_id']}"></a>
                <!--{if $value['flag']!=0}--><img class="sy_qgw" src="images/v2/sy_qg7.jpg" /><!--{/if}-->
            </li>
        </ul>
    </div>
    {/loop}
    <div class="clear"></div>
</div>
<script>
    commonfocus("limitcar_div","sy_qglion2",2,5000);
</script>