<div id="fsD1" class="banner">  <!--轮播-->
    <div id="D1pic1" class="fPic">  
	       {loop $banner $key $value}
        <div class="fcon" style="display: none;">
            <a target="_blank" href="{$value['url']}"><img src="/attach/$value[pic]" style="opacity: 1; "  alt="$value[alt]"></a>
                      <a href="{$value['url']}" class="banner_biaoti">$value[title]</a>
           {if $value[taglist]}
            {loop $value[taglist] $k $v}
            <a href="/article.php?action=ActiveList&id=$v[id]" class="bq0"><div class="red"></div><font style="float:left; margin-left:5px;">$v[tag_name]</font></a>
            {/loop}
            {/if}
        </div>
        {/loop}
    </div>
    <div class="fbg">  
        <div class="D1fBt" id="D1fBt">  
            {loop $banner $key $value}
            <a href="javascript:void(0)" hidefocus="true" target="_self" class="">$value[title3]</a>
           {/loop}
        </div>  
    </div>  
	
    </div>  
       
</div> 
