<div class="column_v1 sy_g3" >
    <ul class="item_v1">
        <li>
            <div class="con_v1" style="border-top:1px solid #eff6fb;">
                <h3><img src="images/v2/sy_xcpp.png" /></h3>
                <em></em>
            </div>
            <div class="items_v1">
                <!--{loop $brand $key $value}-->
                <dl>
                    <dt><a><!--{eval echo $brandtype[$key]}--></a></dt>
                    <dd>
                        <!--{loop $value $k $v}-->
                        <a target="_blank" href="/search/search.html?&br=$v['brand_id']">{$v['letter']}.{$v['brand_name']}</a>
                        <!--{/loop}-->
                    </dd>
                </dl>
                <!--{/loop}-->
            </div>
        </li>
        <li>
            <div class="con_v1">
                <h3><img src="images/v2/sy_xcjg.png" /></h3>
                <em></em> </div>
            <div class="items_v1">
                <dl>
                    <dt><a target="_blank" href="javascript:;">价格</a></dt>
                    <dd class="fl">
                        <a target="_blank" href="/search/search.html?pr=0">5万以下</a>
                        <a target="_blank" href="/search/search.html?pr=1">5-8万</a>
                        <a target="_blank" href="/search/search.html?pr=2">8-10万</a>
                        <a target="_blank" href="/search/search.html?pr=3">10-15万</a>
                        <a target="_blank" href="/search/search.html?pr=4">15-20万</a>
                        <a target="_blank" href="/search/search.html?pr=5">20-25万</a>
                        <a target="_blank" href="/search/search.html?pr=6">25-35万</a>
                        <a target="_blank" href="/search/search.html?pr=7">35-50万</a>
                        <a target="_blank" href="/search/search.html?pr=8">50-70万</a>
                        <a target="_blank" href="/search/search.html?pr=9">70-100万</a>
                        <a target="_blank" href="/search/search.html?pr=10">100-150万</a>
                        <a target="_blank" href="/search/search.html?pr=11">150-300万</a>
                        <a target="_blank" href="/search/search.html?pr=12-">300万以上</a>
                    </dd>
                </dl>
            </div>
        </li>
        <li>
            <div class="con_v1">
                <h3><img src="images/v2/sy_xcfd.png" /></h3>
                <em></em> </div>
            <div class="items_v1">
                <dl>
                    <dt><a target="_blank" href="javascript:;">排量</a></dt>
                    <dd>
                        <a target="_blank" href="/search/search.html?pl=0">1.0以下</a>
                        <a target="_blank" href="/search/search.html?pl=1">1.0-1.5</a>
                        <a target="_blank" href="/search/search.html?pl=2">1.5-2.0</a>
                        <a target="_blank" href="/search/search.html?pl=3">2.0-2.5</a>
                        <a target="_blank" href="/search/search.html?pl=4">2.5-3.0</a>
                        <a target="_blank" href="/search/search.html?pl=5">3.0-4.0</a>
                        <a target="_blank" href="/search/search.html?pl=6">4.0-6.0</a>
                        <a target="_blank" href="/search/search.html?pl=7">6.0以上</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a target="_blank" href="javascript:">进气形式</a></dt>
                    <dd>
                        <a target="_blank" href="/search/search.html?jq=1">自然吸气</a>
                        <a target="_blank" href="/search/search.html?jq=2">涡轮增压</a>
                        <a target="_blank" href="/search/search.html?jq=3">机械增压</a>
                        <a target="_blank" href="/search/search.html?jq=4">机械+涡轮增压</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a target="_blank" href="javascript:;">缸数</a></dt>
                    <dd>
                        <a target="_blank" href="/search/search.html?qg=1">3缸</a>
                        <a target="_blank" href="/search/search.html?qg=2">4缸</a>
                        <a target="_blank" href="/search/search.html?qg=3">5缸</a>
                        <a target="_blank" href="/search/search.html?qg=4">6缸</a>
                        <a target="_blank" href="/search/search.html?qg=5">8缸</a>
                        <a target="_blank" href="/search/search.html?qg=6">10缸</a>
                        <a target="_blank" href="/search/search.html?qg=7">12缸</a>
                        <a target="_blank" href="/search/search.html?qg=8">16缸</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a target="_blank" href="javascript:">燃油类型</a></dt>
                    <dd>
                        <a target="_blank" href="/search/search.html?ot=1">汽油</a>
                        <a target="_blank" href="/search/search.html?ot=2">柴油</a>
                        <a target="_blank" href="/search/search.html?ot=3">混合动力</a>
                    </dd>
                </dl>
            </div>
        </li>
        <li>
            <div class="con_v1">
                <h3><img src="images/v2/sy_xcpz.png" /></h3>
                <em></em> </div>
            <div class="items_v1">
                <dl>
                    <dt><a target="_blank" href="javascript:;">关键配置</a></dt>
                    <dd  class="fl1">
                        <a target="_blank" href="/search/search.html?&amp;sc1=1">ABS</a>
                        <a target="_blank" href="/search/search.html?&amp;sc2=1">车辆稳定性控制</a>
                        <a target="_blank" href="/search/search.html?&amp;sc3=1">副驾气囊</a>
                        <a target="_blank" href="/search/search.html?&amp;sc4=1">发动机电子防盗</a>
                        <a target="_blank" href="/search/search.html?&amp;sp1=1">车载导航</a>
                        <a target="_blank" href="/search/search.html?&amp;sp2=1">定速巡航</a>
                        <a target="_blank" href="/search/search.html?&amp;sp3=1">倒车雷达</a>
                        <a target="_blank" href="/search/search.html?&amp;sp4=1">车窗防夹手功能</a>
                        <a target="_blank" href="/search/search.html?&amp;sp5=1">中控锁</a>
                        <a target="_blank" href="/search/search.html?&amp;sp6=1">无钥匙启动</a>
                        <a target="_blank" href="/search/search.html?&amp;sp7=1">真皮/仿皮座椅</a>
                        <a target="_blank" href="/search/search.html?&amp;sp8=1">天窗</a>
                    </dd>
                </dl>
            </div>
        </li>
        <li>
            <div class="con_v1">
                <h3><img src="images/v2/sy_xcqt.png" /></h3>
                <em></em> </div>
            <div class="items_v1">
                <dl>
                    <dt><a href="javascript:;">车身形式</a></dt>
                    <dd> <a target="_blank" href="/search/search.html?&cs=1">两厢车</a> <a target="_blank" href="/search/search.html?&cs=2">三厢车</a> <a target="_blank" href="/search/search.html?&cs=3">旅行车</a> <a target="_blank" href="/search/search.html?&cs=4">掀背车</a> <a target="_blank" href="/search/search.html?&cs=5">SUV</a> <a target="_blank" href="/search/search.html?&cs=6">MPV</a> <a target="_blank" href="/search/search.html?&cs=7">硬顶跑车</a> <a target="_blank" href="/search/search.html?&cs=8">软顶敞篷车</a> <a  target="_blank" href="/search/search.html?&cs=9">硬顶敞篷车</a> </dd>
                </dl>
                <dl>
                    <dt><a href="javascript:;">厂商性质</a></dt>
                    <dd> <a target="_blank" href="/search/search.html?&fi=1">自主</a> <a target="_blank" href="/search/search.html?&fi=2">合资</a> <a target="_blank" href="/search/search.html?&fi=3">进口</a> </dd>
                </dl>
                <dl>
                    <dt><a href="javascript:;">车体结构</a></dt>
                    <dd> <a target="_blank" href="/search/search.html?&st=1">承载式车身</a> <a target="_blank" href="/search/search.html?&st=2">非承载式车身</a></dd>
                </dl>
                <dl>
                    <dt><a href="javascript:;">变速箱</a></dt>
                    <dd> <a target="_blank" href="/search/search.html?&bsx=4">双离合</a> <a target="_blank" href="/search/search.html?&bsx=3">CVT</a> <a target="_blank" href="/search/search.html?&bsx=5">AMT</a> <a target="_blank" href="/search/search.html?&bsx=2">自动</a></dd>
                </dl>
                <dl>
                    <dt><a href="javascript:;">驱动形式</a></dt>
                    <dd> <a target="_blank" href="/search/search.html?&dr=1">前驱</a> <a target="_blank" href="/search/search.html?&dr=2">后驱</a> <a target="_blank" href="/search/search.html?&dr=3">四驱</a> </dd>
                </dl>
                <dl>
                    <dt><a href="javascript:;">座位数</a></dt>
                    <dd> <a target="_blank" href="/search/search.html?&zw=1">2座</a> <a target="_blank" href="/search/search.html?&zw=2">4座</a> <a target="_blank" href="/search/search.html?&zw=3">5座</a> <a target="_blank" href="/search/search.html?&zw=4">6座</a> <a target="_blank" href="/search/search.html?&zw=5">7座</a> <a target="_blank" href="/search/search.html?&zw=6">8座</a> <a target="_blank" href="/search/search.html?&zw=7">9座</a> <a target="_blank" href="/search/search.html?&zw=8">10座</a> <a target="_blank" href="/search/search.html?&zw=9">11座</a> </dd>
                </dl>

            </div>
        </li>
    </ul>
    <p class="all_v1"><a target="_blank" href="/search/search.html">全部筛选条件</a></p>
</div>