{template header}
<div class="user">
    <div class="nav">
        <ul>
            <li><a class="song" href="<!--{$php_self}-->">视频列表</a></li>
            <li><a href="<!--{$php_self}-->verifylist">待审核视频列表</a></li>
            <li><a href="<!--{$php_self}-->typelist">审核意见待处理视频列表</a></li>
            <li><a href="<!--{$php_self}-->add">添加视频</a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="user-con">
        <div style="  border-bottom:1px solid #ccc; padding:20px 3px 20px 3px; width:98% ; margin:0 auto;">
            <form id="search_form" name="search_form" method="post" action="index.php?action=video-List">
                <table style="width:100%; table-layout:auto;" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="36%">标题:<input type="text" name="keyword" id="keyword" size="40" value="{$keyword}"/></td>
                        <td width="20%">作者:<input type="text" name="author" id="author" value="$author" /></td>
                        <td width="10%">ID:<input type="text" name="article_id" id="article_id" size="4"/></td>
                        <td><input id="search_btn" name="search_btn" type="submit" value="搜索" /></td> 
                    </tr>
                </table>
            </form>
        </div>
        <div class="user-table">
            <form id="info_form" name="info_form" method="post" action="index.php?action=article-list">
                <table border="0" cellspacing="0" cellpadding="0">

                    <tr>
                        <td></td>
                        <td>ID</td>
                        <td style="width:70px;">标题</td>
                        <td>作者</td>
                        <td>上线时间</td>
                        <td>轮播图</td>
                        <td style="width: 20%;">操作</td>
                        <td>流量(pv/uv)</td>
                    </tr>
                    <tbody>
                        <!--{loop $list $k $v}-->
                        <tr>
                            <td><input class="allname" type='checkbox' name='articleid[]' value="$v[id]"></td>
                            <td>{$v[id]}</td>
                            <td width="200">{$v[title]}</td>
                            <td>{$v[author]}</td>
                            <td>{eval echo date('Y/m/d', $v[uptime]);}</td>
                            <td>{if $v[hot_pic]}存在{else}不存在{/if}</td>
                            <td>
                                <span><i style=" padding-top:2px;"><img src="images/shanchu.png" /></i><a  href="<!--{$php_self}-->del&id=$v['id']" onclick="return confirmDel('确定要删除吗')" >删除</a></span>
                                <span><i style=" padding-top:3px;"><img src="images/bi.png" /></i><a href="{$php_self}edit&id={$v[id]}">修改信息</a></span>
                                <span><i style=" padding-top:2px;"><img src="images/luck.png" /></i>
                                    <a href="{$v[url]}" target="_block">查看</a>
                                </span>
                            </td>
                            <td>{if $v[pv]}{$v[pv]}{else}0{/if}/{if $v[uv]}{$v[uv]}{else}0{/if}</td>
                        </tr>
                        {/loop}
                    </tbody>
                    <tr>
                        <td colspan="7" ><span style="float: left"> <input type="checkbox"  style=" vertical-align: middle"  onclick="allCkb()" /> 全选&nbsp;&nbsp;<input type="checkbox" style=" vertical-align: middle"   onclick="unAllCkb()" /> 全不选&nbsp;&nbsp;<input type="checkbox" style=" vertical-align: middle"   onclick="inverseCkb()" /> 反选</span></td>
                        <td><input type="button" value="流量查询" onclick="liuliang()"></td>
                    </tr>

                </table>
            </form>
        </div>
        <div> 
            <div class="ep-pages">
                {$page_bar}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function tishi() {
        alert("请现生成文章");
    }
    function make() {
        var ids = document.getElementsByName("articleid[]");
        var flag = false;
        for (var i = 0; i < ids.length; i++) {
            if (ids[i].checked) {
                flag = true;
                break;
            }
        }
        if (flag) {
            $.ajax({
                type: "POST",
                url: "{$php_self}Allmake",
                data: $("#info_form").serialize(),
                success: function (msg) {
                    if (msg == 1) {
                        alert("已完成");
                    }
                }
            });
        } else {
            alert("你还没有选中");
        }
    }
    function liuliang() {
        var ids = document.getElementsByName("articleid[]");
        var flag = false;
        for (var i = 0; i < ids.length; i++) {
            if (ids[i].checked) {
                flag = true;
                break;
            }
        }
        if (flag) {
            $.ajax({
                type: "POST",
                url: "{$php_self}liu",
                data: $("#info_form").serialize(),
                success: function (msg) {
                    if (msg) {
                        var w = window.open();
                        w.location = "{$php_self}liu&id=" + msg;
                    }
                }
            });
        } else {
            alert("你还没有选中");
        }
    }
    function confirmDel(str) {
        return confirm(str);
    }
    /**
     * 全选
     * items 复选框的name
     */
    function allCkb() {
        $('.allname').attr("checked", true);
    }
    /**
     * 全不选
     */
    function unAllCkb() {
        $('.allname').attr('checked', false);
    }
    /**
     * 反选
     * items 复选框的name
     */
    function inverseCkb() {
        $('[name=articleid[]]:checkbox').each(function () {
            //直接使用js原生代码，简单实用
            this.checked = !this.checked;
        });
    }
    $().ready(function () {
        $('.click_pop_dialog').live('click', function () {
            pop_window($(this), {message: '您确定要删除该文章吗？', pos: [200, 150]});
        });
        $('.article_make_page').click(function () {
            $.get($(this).attr('tourl'), function (ret) {
                if ($.trim(ret) > 0) {
                    alert('文章生成成功！');
                } else {
                    alert('文章生成失败！' + ret);
                }
            });
        });
                $('#brand_id').val({$brand_id});
                $('#factory_id').val({$factory_id});
                $('#series_id').val({$series_id});
                $('#article_type').val({$article_type});
                $('#brand_id').change(function () {
            var brand_id = $(this).val();
            var fact = $('#factory_id')[0];
            var facturl = "?action=factory-json&brand_id=" + brand_id;
            var sel = $(this)[0];
            $('#brand_name').val(sel.options[sel.selectedIndex].text)
            $.getJSON(facturl, function (ret) {
                $('#factory_id option[value!=""]').remove();
                $('#series_id option[value!=""]').remove();
                $('#model_id option[value!=""]').remove();
                $.each(ret, function (i, v) {
                    fact.options.add(new Option(v['factory_name'], v['factory_id']));
                });
            });
        });
        $('#factory_id').change(function () {
            var fact_id = $(this).val();
            var ser = $('#series_id')[0];
            var serurl = "?action=series-json&factory_id=" + fact_id;
            var sel = $(this)[0];
            $('#factory_name').val(sel.options[sel.selectedIndex].text)
            $.getJSON(serurl, function (ret) {
                $('#series_id option[value!=""]').remove();
                $('#model_id option[value!=""]').remove();

                $.each(ret, function (i, v) {
                    ser.options.add(new Option(v['series_name'], v['series_id']));
                });
            });
        });
        $('#series_id').change(function () {
            var sel = $(this)[0];
            $('#series_name').val(sel.options[sel.selectedIndex].text)

            var sid = $(this).val();
            var mod = $('#model_id')[0];
            var modurl = "?action=model-json&sid=" + sid;
            $.getJSON(modurl, function (ret) {
                $('#model_id option[value!=""]').remove();
                $.each(ret, function (i, v) {
                    mod.options.add(new Option(v['model_name'], v['model_id']));
                });
            });
        });
    });
</script>  
</body>
</html>
