{template header} 
        <div class="user">
            <div class="nav">
                <ul id="nav">
                    <li><a href="<!--{$php_self}-->" >数据统计</a></li> 
                    <li><a href="<!--{$php_self}-->user">抽奖用户</a></li> 
                    <li><a href="<!--{$php_self}-->xiangqing" class="song">详情</a></li> 
                </ul>
            </div>
            <div class="clear"></div>
            <div class="user-con">
                <div class="user-table">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tbody id="tobdy">
                            <tr>
                                <td>您的身份：</td>
                                <td>{$_list[identity]}</td>
                            </tr>
                            <tr>
                                <td>我每年开车的里程数约：</td>
                                <td>{$_list[mileage]}万公里</td>
                            </tr>
                            <tr>
                                <td>我阅读《车评》：</td>
                                <td>{$_list[readss]}</td>
                            </tr>
                            <tr>
                                <td>您下一步准备买什么车：</td>
                                <td>{$_list[buy]} {if $_list[buy]=='二手车'}约$_list[num]年的车{/if}</td>
                            </tr>
                            {if $_list[buy]!=='不知道'}
                            <tr>
                                <td>品牌&车系：</td>
                                <td>{$_list[brand]}--{$_list[audi]}</td>
                            </tr>
                            {/if}
                            <tr>
                                <td>除上述准备买的车型外，还会考虑其他车型吗：</td>
                                <td>{$_list[yixiang]}</td>
                            </tr>
                            {if $_list[yixiang]!=='不知道'||$_list[yixiang]!=='不考虑'}
                            <tr>
                                <td>品牌&车系：</td>
                                <td>{$_list[brands]}--{$_list[audis]}</td>
                            </tr>
                            {/if}
                            <tr>
                                <td>您计划何时购置您的下一辆车：</td>
                                <td>{$_list[plan]}</td>
                            </tr>
                        </tbody>
                     
                    </table>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $().ready(function () {
                $(".but_del").live('click',function(){
                    $(this).parent().parent().parent("tr").remove();
                })
                
                $(".but_check").live('click',function(){
                   var tr= $(this).parent().parent().parent("tr")
                   var id= tr.find(".id_a").val();
                   $.get("<!--{$php_self}-->ajaxarticle",{"id":id},function(msg){
                       if(msg==-1){
                           alert("该文章不存在");
                       }else{
                           arr =eval('(' + msg + ')');
                           tr.find(".content1").html(arr['title']);
                           tr.find(".content2").html(arr['type']);
                           tr.find(".content3").html(arr['day']);
                         
                       }
                   })
                   
                })
            });

            function make(i) {
                 $.get("<!--{$php_self}-->bannermake",{"name":i,"type":$b},function(msg){
                     if(msg==1){
                         alert("生成成功");
                     }else{
                         alert("生成失败");
                     }
                 })
            }
        
            function add(){
                var html ='<tr><td><input class="id_a" type="text" value=""  name="id[]" size="4" ></td> <td style="width:150px;" class="content1"><input type="text" name="title[]" value=""></td><td class="content2"></td><td class="content3"></td><td><input style="width:70px;" type="file" value="" name="pic[]"><input type="hidden" id="old_pic[]" name="old_pic[]" value=""><p><a class="jTip" id="jtip$i" href="/admin/index.php?action=index-pic&picture=">查看PC图片(1180*400)</a></p></td><td><input type="text" name="url[]" value=""></td><td><input type="text" name="orderby[]" size="4" value=""></td><td><span><input type="button" value="确认" class="but_check"><a href="javascript:void(0)" class="but_del">移除</a></span></td></tr>';
                $("#tobdy").append(html);
            }
          
        </script>  
    </body>
</html>
