tui`a{cursor:pointer}
small{font-size:inherit}
.red{color:#a5002f}
samp.Grey{color:#CCC}
samp.red{color:#a5002f}
.Gold{color:#b0916a}
a.go{background:#b0916a;padding:3px 10px;color:#FFF;cursor:pointer;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;margin:0 10px}
a.go:hover{background:#8B7860}
a.go small{font-size:9px;font-family:"LiHei Pro","微软雅黑"}
a.red:active,a.red:link,a.red:visited{color:#a5002f}
a.red:hover{color:#a5002f}
a.link_line:active,a.link_line:link,a.link_line:visited{color:#8C8C8C;text-decoration:underline}
a.link_line:hover{color:#ABABAB;text-decoration:underline}
.tal{text-align:left!important}
.tac{text-align:center!important}
.tar{text-align:right!important}
.user_box{max-width:1200px;min-width:990px;margin:auto}
.user_title{border-bottom:1px #d6d6d6 solid;padding:20px 0 10px 0}
.user_title p i{background:url(/shop/theme/xth1/images/comm/icon.png) no-repeat;background-position:-8px -460px;display:block;width:160px;height:30px}
.user_t_img{width:160px;margin:auto;text-align:center}
.confirmation_t_img{width:480px;margin:auto;text-align:center}
.user_title p.confirmation_t_img i{background:url(/shop/theme/xth1/images/cart/confirmation.png) no-repeat;width:800px;height:30px}
ul.buy_flow{width:880px;margin:30px auto 50px auto;overflow:hidden}
ul.buy_flow li{float:left;width:176px;text-align:center;font-size:14px}
ul.buy_flow li p{border-bottom:5px #d9e8ec solid;line-height:40px}
ul.buy_flow li.cur{color:#7b9196}
ul.buy_flow li.cur p{border-bottom:5px #7b9196 solid}
ul.buy_flow li span{color:#d9e8ec;margin:20px 0 0 0;display:inline-block;font-size:18px}
ul.buy_flow li.cur span{color:#7b9196}
.address_box{width:1000px;margin:auto}
.address_box .title span{font-size:18px;padding:0 0 0 110px}
ul.address_list,ul.delivery_time{margin:10px 100px}
ul.address_list li{line-height:40px;height:40px;border-top:1px #d9e8ec solid}
ul.address_list li.noborder{border:none;overflow:hidden}
ul.address_list li.noborder samp.Gold{float:left}
.Choice_pay span,.picke span,ul.address_list li span{position:relative;width:30px;height:20px;display:inline-block}
.Choice_pay span input,.picke span input,ul.address_list li span input{display:none}
.Choice_pay span em,.picke span em,ul.address_list li span em{width:40px;height:35px;position:absolute;z-index:1;left:0;top:-7px;background:url(/shop/theme/xth1/images/comm/ok.png) no-repeat}
.Choice_pay span i,.picke span i,ul.address_list li span i{width:15px;height:15px;position:absolute;top:0;display:block;z-index:-1px;margin:8px 0 0 4px;background:#f0f0f0}
ul.address_list li div.del_right{float:right;line-height:38px;position:relative}
ul.address_list li div.del_right font{padding:0 10px}
ul.address_list li div.del_right a{padding:0 0 0 10px}
ul.address_list li div.pay_right{float:right;line-height:38px;position:relative}
ul.address_list li div.pay_right b{font-size:30px;color:#b0916a;line-height:38px;font-weight:400}
ul.address_list li.btn_li_box{padding:25px 0}
li.delivery_time_box{border-bottom:1px #c4c4c4 solid;border-top:1px #c4c4c4 solid;padding:10px 0 25px 0;overflow:hidden}
li.delivery_pay_box{border-bottom:1px #c4c4c4 solid;padding:10px 0 25px 0;overflow:inherit}
li.delivery_pay_box.line_top{border:none;border-top:1px #c4c4c4 solid}
.delivery_time_box input.input_t{height:40px;line-height:40px;float:left;font-size:16px;color:#767676;margin:0;border:none;width:300px;padding:5px 15px;background:url(/shop/theme/xth1/images/comm/icon.png) no-repeat 100px 100px #f0f0f0;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
.mytime{position:relative}
.mytime label{background:url(/shop/theme/xth1/images/comm/icon.png) no-repeat -110px -405px;width:28px;height:28px;display:inline-block;position:absolute;top:11px;left:288px;z-index:1}
.delivery_pay_box b,.delivery_time_box b{font-size:18px;font-weight:400;line-height:50px}
.delivery_time_box span{line-height:30px;margin-left:15px}
li.Choice_pay{line-height:40px;color:#c4c4c4}
li.Choice_pay{overflow:inherit}
li.Choice_pay .cur{background-position:0 -280px}
li.Choice_pay div samp{width:110px;height:30px;border:1px #d9e8ec solid;display:block;text-align:center;line-height:30px;margin:10px 0 0 25px;background:#f2f6f7;color:#767676;cursor:pointer;float:left;padding:1px}
li.Choice_pay div p samp.cur{padding:0;border:2px #A5002F solid}
li.Choice_pay div p{overflow:hidden;line-height:30px}
li.Choice_pay div small{line-height:30px;margin:10px 0 0 25px;display:block}
.all_list li b{font-weight:400;font-size:18px;padding:30px 100px 10px 100px;display:block}
ul.pay_list{margin:10px 10px 5px 20px;overflow:hidden}
ul.pay_list li{float:left;margin:5px;line-height:0;cursor:pointer}
ul.pay_list li img{border:1px #d9e8ec solid;padding:1px}
ul.pay_list li.cur img{border:2px #A5002F solid;padding:0}
ul.Remote_payment{margin:10px 10px 5px 23px}
ul.Remote_payment li{padding:5px 0;position:relative;overflow:hidden}
input.input_t{height:40px;line-height:40px;float:left;display:inline-block;font-size:16px;color:#767676;margin:0;border:none;width:215px;padding:5px 15px 5px 45px;background:#f0f0f0;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
ul.Remote_payment input.input_t.input_address{width:510px}
ul.Remote_payment input.input_t.add_t{width:238px}
ul.Remote_payment input.input_t.input_time{width:235px;outline:0}
ul.Remote_payment li.time_icon{overflow:visible;min-height:50px}
ul.Remote_payment li label{position:absolute;height:30px;color:#ccc;display:inline-block;top:15px;left:10px}
ul.Remote_payment li label i{width:30px;height:30px;background:url(/shop/theme/xth1/images/comm/icon.png) no-repeat 100px 100px;float:left;display:inline-block}
ul.Remote_payment li label font{display:inline-block;float:left;line-height:30px;margin-left:4px;font-size:14px}
ul.Remote_payment li.Address_icon label i{background-position:-243px -598px}
ul.Remote_payment li.time_icon label i{background-position:-302px -598px}
ul.Remote_payment li.Payee_icon label i{background-position:-361px -295px}
ul.Remote_payment li.tel_icon label i{background-position:-361px -497px}
li.Choice_pay ul.Remote_payment li.Prompt{line-height:20px}
li.order_Total{border-top:1px #c4c4c4 solid;margin:30px 0}
li.order_Total ul{margin:30px 0}
li.order_Total ul li{overflow:hidden;line-height:30px}
ul.order_Total_left{ float:left; width:600px;}
ul.order_Total_left div{display:none}
ul.order_Total_left div small{color:#c4c4c4}
ul.order_Total_left p{margin:0 0 0 10px;line-height:20px}
ul.order_Total_left p.bottom10{margin-bottom:10px}
ul.order_Total_left input{float:none;width:50px;padding:5px 15px 5px 15px}
div.order_Total_right{float:right;width:500px}
div.order_Total_right ul{width:175px;float:right;overflow:hidden}
div.order_Total_right ul li{line-height:24px}
div.order_Total_right ul li span{float:left}
div.order_Total_right ul li samp{float:right}
.Total_bottom{border-top:#d9e8ec 1px solid;float:right;width:500px;text-align:right;padding:30px 0 0 0}
.all_list li .Total_bottom b{font-weight:400;font-size:30px;padding:0;display:inline-block;color:#b0916a}
ul.all_list.view_list li.all_Total{overflow:visible}
li.all_Total{margin:30px 20px}
li.all_Total b{float:left;padding:0 5px 0 0}
li.all_Total samll{padding:5px 30px 0 0;float:left;color:#c4c4c4}
li.all_Total ul li{padding:5px 0}
li.all_Total ul li samp{float:left;line-height:50px;width:180px}
li.all_Total ul li div{position:relative;float:left}
li.all_Total ul li div label{position:absolute;left:15px;top:18px;color:#c4c4c4}
li.all_Total a samll{float:none;padding:0;font-size:9px;color:#fff;font-family:Cambria,"Hoefler Text","Liberation Serif",Times,"Times New Roman",serif}
input.brand_txt{padding-left:15px;width:280px}
ul.other_list li span{position:relative;width:30px;height:20px;display:inline-block}
ul.other_list li span em{width:40px;height:35px;position:absolute;z-index:1;left:0;background:url(/shop/theme/xth1/images/comm/ok.png) no-repeat}
.Choice_pay span i,ul.other_list li span i{width:15px;height:15px;position:absolute;display:block;top:0;z-index:-1px;margin:8px 0 0 4px;background:#f0f0f0}
.other div{width:100%;margin:0 0 0 35px}
.other span input{display:none}
ul.other_list li.other span em{top:0}
ul.other_list li.other span i{top:0}
.other div input{float:none}
.other div font.other_right{margin:0 0 0 50px}
.other .cur{background-position:0 -280px}
input.other_num{width:20px;padding-left:15px;padding-right:15px;height:20px;line-height:20px}
.other .Invoice div{margin:0;margin-right:10px}
.other .Invoice{margin:15px 0 0 0}
.Invoice input{margin-left:10px;display:none;padding:5px 15px 5px 15px;width:270px}
.Invoice input.cur{display:inline-block}
.Invoice font{cursor:pointer}
li.all_Total ul li.Remarks samp{width:65px}
li.all_Total ul li.Remarks input{width:865px}
li.all_Total ul li a{float:left;margin-top:13px}
ul.my_add p.delivery{padding-right:25px;line-height:24px;font-size:12px;float:right}
li.all_Total ul li a.link_line{margin:5px}
ul.view_list{margin:20px 0 0 35px;overflow:hidden;min-height:200px;max-width:700px}
ul.view_list.all_list{margin:0 auto;overflow:hidden;min-height:200px;max-width:1000px}
ul.view_list li{display:none;color:#767676}
ul.view_list.all_list li{overflow:hidden}
ul.view_list li.cur{display:block}
ul.view_list dl.news_list dd{overflow:hidden;line-height:24px;border-bottom:1px #d9e8ec solid;padding:5px 0}
ul.view_list dl.news_list dd.Used samp+span{color:#c4c4c4}
ul.view_list dl.news_list dd span{width:27%;float:left;display:block;text-align:center}
ul.view_list dl.news_list dd samp{width:46%;float:left;display:block;text-align:center;margin:0;line-height:24px;color:#767676}
ul.view_list dl.news_list dd.Used samp{color:#c4c4c4}
ul.view_list dl.news_list dd span a{padding:0 20px}
ul.view_list dl.news_list dd span.y_name{width:15%;padding-left:20px;text-align:left}
ul.view_list dl.news_list dd span.y_name a{width:auto;padding:0;display:block}
ul.view_list dl.news_list dd span.y_name a i{background:url(/shop/theme/xth1/images/comm/icon.png) no-repeat -176px -18px;margin:5px 5px 0 0;width:19px;height:13px;display:block;float:left}
ul.view_list dl.news_list dd span.y_name a:hover i{background-position:-176px -31px}
ul.view_list li ul li{display:block}
ul.order_td,ul.order_th{overflow:hidden}
ul.order_th li{float:left;width:18%;padding:0;text-align:center;line-height:30px;font-size:14px}
ul.order_th li.order_pro{width:20%}
ul.order_th li.order_Price,ul.order_th li.order_num{width:13%}
ul.order_td li{float:left;width:14%;padding:0;text-align:center;line-height:35px;background:#f2f6f7}
ul.order_td li.order_pro{width:30%}
.order_Remarks_top,ul.order_td li.order_Remarks,ul.order_td li.order_view{width:99%;text-align:left}
ul.order_td li.order_Remarks{background:#d9e8ec;margin-top:3px;border:1px #d9e8ec solid}
.order_Remarks_top{background:#f2f6f7;margin-top:3px;line-height:35px}
.order_Remarks_top span,ul.order_td li.order_Remarks span{padding:0 10px}
ul.order_td li.order_view{border:1px #d9e8ec solid}
ul.order_td li.order_view table{width:99%}
ul.order_td li.order_view td{line-height:20px;text-align:center}
ul.order_td li.order_view td td{padding:8px}
a.Strip{padding:2px 25px}
ul.order_td li.order_view td.aleft{text-align:left}
ul.order_th.buy_Cart li{float:left;width:11%;padding:0;text-align:center;line-height:30px;font-size:14px}
ul.order_th.buy_Cart li.order_pro{width:56%}
ul.order_td li.buy_car_list{width:100%;float:left}
ul.order_td li.buy_car_list .aleft{text-align:left}
ul.order_td li.buy_car_list td{line-height:20px;text-align:center}
ul.order_td li.buy_car_list td.pro_left{padding:20px;line-height:20px;text-align:left}
ul.order_td li.buy_car_list td.pro_left span.left{float:left}
ul.order_td li.buy_car_list td.pro_left span.right{float:right}
ul.order_td li.buy_car_list td.pro_left span i{background:url(/shop/theme/xth1/images/comm/icon.png) no-repeat -170px -607px;width:10px;height:15px;display:inline-block}
ul.order_td li.buy_car_list td.Order_activity{padding:10px 20px;line-height:20px;text-align:left}
ul.order_td li.buy_car_list td span.Discount i{background:url(/shop/theme/xth1/images/comm/icon.png) no-repeat -170px -607px;width:10px;height:15px;display:inline-block}
ul.order_td li.buy_car_list td.pro_left b{padding:0;margin:0}
ul.order_td li.buy_car_list .buy_pro_img{float:left;margin:0 10px 0 0}
ul.order_td li.buy_car_list .cake_num{margin:0 auto;overflow:hidden;width:56px}
ul.order_td li.buy_car_list.cake_num dl{margin:auto;float:none}
ul.order_td li.buy_car_list .cake_num dl dd{float:left;width:16px;height:20px;line-height:20px;font-size:16px;background:0 0;cursor:pointer}
ul.order_td li.buy_car_list .cake_num dl dd:hover{color:#b0916a}
ul.order_td li.buy_car_list .cake_num dl dt{float:left;width:24px;height:23px}
ul.order_td li.buy_car_list .cake_num dl dt input{width:54px;height:16px;background:0 0;color:#767676;margin-top:2px;border:none;text-align:center}
ul.order_td li.buy_car_list .cake_num dl dd.nopoint{color:#CCC}
.border_top td{border-top:1px #d9e8ec solid}
ul.my_add li p.Remind{float:left;display:block;font-size:12px;line-height:24px}
ul.my_add .cur{background-position:0 -280px}
ul.Remote_payment.Cash_coupon{margin:40px 40px 0 40px}
ul.Remote_payment.Cash_coupon span{text-align:center;display:block;float:left}
.Cash_coupon li{overflow:hidden}
.Cash_coupon li p{float:left;color:#b0916a;padding:8px 0 0 15px}
input.coupon_txt{padding-left:15px;width:418px}
input.use_coupon_txt{padding-left:15px;width:280px}
input.Discount_txt{padding-left:15px;width:302px}
ul.Remote_payment li.coupon_btn{text-align:center;padding:15px 0 0 0;z-index:0}
ul.Remote_payment.pay_msg li.pay_v{padding:60px 0 0 0}
ul.Remote_payment li .Discount_btn{padding:0 25px;margin:0;margin-left:5px;height:50px;background:#b0916a;border:none;color:#FFF;`cursor:pointer;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
ul.Remote_payment.Cash_coupon li label{line-height:30px;padding-left:10px;color:#c4c4c4;display:inline-block}
ul.Remote_payment.Cash_coupon li b{font-size:18px;font-weight:400}
ul.Discount_list{margin:5px 0}
ul.Discount_list li span{width:40%;display:inline-block}
ul.Discount_list li samp{width:20%;display:inline-block}
div.datelist_box{float:left;overflow:hidden;width:378px;height:30px;position:relative}
ul.datelist{position:absolute;left:0;width:100%}
ul.datelist li{float:left;width:54px;padding:0;cursor:pointer;height:45px}
ul.datelist li:hover{color:#b0916a}
ul.datelist li.cur{color:#b0916a}
ul.datelist li span{display:block;text-align:center;line-height:15px;font-size:12px}
.left_btn,.right_btn{float:left;width:16px;height:30px;cursor:pointer;background:url(/shop/theme/xth1/images/comm/icon.png) no-repeat -96px -602px;margin-right:5px;margin-left:5px}
.right_btn{background-position:-117px -602px}
.left_btn{margin-left:35px}
ul.Remote_payment.delivery_time_ul{margin:60px 20px 0 20px}
ul.Remote_payment.delivery_time_ul ul.datelist{float:left;width:378px;height:40px}
ul.Remote_payment.delivery_time_ul li{overflow:hidden}
ul.Remote_payment.delivery_time_ul li.select_down_box{padding:30px 0;overflow:visible;z-index:1;text-align:center}
.left_btn.uncur,.right_btn.uncur{filter:alpha(opacity=50);-moz-opacity:.5;-khtml-opacity:.5;opacity:.5}
ul.Remote_payment.delivery_time_ul li.select_down_box span{line-height:45px;padding-right:6px}
ul.Remote_payment.delivery_time_ul li.select_down_box .select_down{float:inherit;display:inline-block}
.select_down.timeslot_txt .tag_select{background-position:110px -578px;text-align:left}
.select_down.timeslot_txt .tag_select_hover,.select_down.timeslot_txt .tag_select_open{background-position:110px -618px;text-align:left}
.select_down.timeslot_txt{width:145px}
.select_down.am_txt .tag_select{background-position:46px -578px;text-align:left}
.select_down.am_txt .tag_select_hover,.select_down.am_txt .tag_select_open{background-position:46px -618px;text-align:left}
.select_down.am_txt{width:81px}
.tag_options{text-align:left}
ul.address_list li div a.go{padding:3px 10px;margin:0}
ul.address_list li div.del_box{position:absolute;right:-110px;height:30px;top:0;width:100px}
ul.address_list li .cur{background-position:0 -280px}
li.buy_car_list div.del_box{position:absolute;left:0;height:30px;top:5px;width:100px}
li.buy_car_list div.del_box a.go{padding:3px 10px;margin:0}
.pro_del_box{position:relative;width:100px}
span.select_name{float:left;line-height:50px;margin-right:10px}
.login_right ul li.select_box{overflow:inherit;padding:10px 0 40px 0}
.select_down{position:relative;float:left;height:50px;width:70px;margin-right:6px}
.select_down span{display:block;text-align:center;color:#c4c4c4;line-height:30px;font-size:14px}
.select_year{width:105px}
.tag_select{display:block;color:#000;width:100%;text-indent:10px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;height:50px;background:url(/shop/theme/xth1/images/comm/icon.png) no-repeat 35px -578px #f0f0f0;line-height:50px;color:#7D7D7D;font-size:16px;cursor:pointer}
.select_year .tag_select{background-position:65px -578px}
.tag_select_hover,.tag_select_open{background-position:35px -618px}
.select_year .tag_select_hover,.select_year .tag_select_open{background-position:65px -618px}
.time_txt .tag_select{background-position:150px -578px}
.time_txt .tag_select_hover,.time_txt .tag_select_open{background-position:150px -618px}
.time_txt{width:185px;margin-left:10px}
.add_txt .tag_select{background-position:70px -578px}
.add_txt .tag_select_hover,.add_txt .tag_select_open{background-position:70px -618px}
.add_txt{width:105px}
.f_txt .tag_select{background-position:90px -578px}
.f_txt .tag_select_hover,.f_txt .tag_select_open{background-position:90px -618px}
.other div.f_txt{ width:125px;_height:130px;*height:130px}
ul.tag_options{position:absolute;margin:0;top:10px;left:0;list-style:none;background:#f0f0f0;padding:0 0 10px 0;margin:0;width:100%;overflow:hidden;overflow-y:auto;font-size:12px;cursor:pointer;z-index:1000}
ul.tag_options li{display:block;width:100%;text-indent:15px;height:20px;text-decoration:none;line-height:20px;padding:3px 0;font-weight:400;font-size:14px}
ul.tag_options li.open_hover{color:#b0916a}
ul.tag_options li.open_selected{color:#b0916a}
.time_icon ul.tag_options{height:105px}
.picke .cur{background-position:0 -280px}
.tc-con-w{width:687px;height:515px;padding:0;background:url(/shop/theme/xth1/images/comm/240g.png) no-repeat;margin:0 auto;position:absolute;z-index:999;font-size:14px;left:50%;top:50%;margin-left:-343px!important;margin-top:-257px!important;margin-top:0;position:fixed!important;position:absolute}
.tc-con{width:330px;height:350px;padding:0;background:#f2f6f7;margin:0 auto;position:absolute;z-index:999;font-size:14px;left:50%;top:50%;margin-left:-165px!important;margin-top:-175px!important;margin-top:0;position:fixed!important;position:absolute}
.tc-con-1{margin:25px 10px 0 10px}
.tc-con-b-1{width:730px;height:440px;margin-left:-365px!important;margin-top:-220px!important}
.tc-con-b-2{width:730px;height:540px;margin-left:-365px!important;margin-top:-270px!important}
.tc-con-b-3{width:550px;height:320px;margin-left:-275px!important;margin-top:-160px!important}
.tc-con-b-4{width:410px;height:250px;margin-left:-205px!important;margin-top:-125px!important}
.tc-con-b-5{width:360px;height:190px;margin-left:-180px!important;margin-top:-95px!important}
.tc-con-b-3{width:550px;height:320px;margin-left:-275px!important;margin-top:-160px!important}
.tc-cover{width:100%;height:100%;position:absolute;z-index:200;top:0;left:0;opacity:.3;-moz-opacity:.3;filter:alpha(opacity=30);background-color:#000}
.close{width:30px;height:30px;display:block;position:absolute;top:0;right:0;background:url(/shop/theme/xth1/images/comm/icon.png);background-position:-221px -94px;text-indent:-9999px;z-index:10000}
ul.my_add{width:320px;float:left;margin-right:0}
ul.my_add p{font-size:18px;text-align:left}
ul.my_add p span{float:left;width:auto}
ul.my_add p samp{float:right;font-size:12px;width:160px;min-height:24px;line-height:24px;color:#767676}
ul.my_add span{font-size:12px;text-align:left;display:block}
ul.my_add li.picke{overflow:hidden}
ul.my_add li.picke p{float:left;width:240px}
ul.my_add li.picke span{float:left;height:27px;line-height:24px;color:#767676}
ul.my_add li.picke i{margin:4px 0 4px 4px}
.my_add_right .btn_box{margin:30px 0 0 0}
ul.my_add li p.Remind{float:left;display:block;font-size:12px;line-height:24px;width:260px}
div.my_add_right{float:right;width:364px}
div.my_add_right ul{float:right;margin:5px 10px}
div.my_add_right ul li{float:left;font-size:12px}
div.my_add_right ul li i{width:21px;height:4px;display:inline-block;margin:0 4px 0 10px}
div.my_add_right ul li.map_yelow i{background:#f2c649}
div.my_add_right ul li.map_blue i{background:#5e86d2}
div.my_add_right ul li.map_red i{background:#c23569}
li.btn_box input.login_btn{padding:0 60px}
input.login_btn.Cash_card,input.login_btn.Exclusive_card,input.login_btn.Pay_for{padding:0 55px}
.Cash_coupon li p.no_use{padding:30px 0 20px 0;text-align:center;color:#767676;width:100%}
.Cash_coupon li ul.red_box_list p{display:inline-block;padding:3px 0;float:none;color:#767676}
.Cash_coupon li ul.red_box_list{margin:auto;width:300px}
.red_box_t{padding:15px 0 0 75px;float:left}
.Cash_coupon li p.pay_for{padding:30px 0 20px 0;color:#767676;text-align:center;width:100%}
.close_box input.login_btn{padding:0 58px}
ul.Remote_payment li.close_txt{text-align:center;padding:20px 0}
div.datepicker{position:relative;font-family:Arial,Helvetica,sans-serif;font-size:12px;width:296px;height:147px;position:absolute;cursor:default;top:0;left:0;display:none;background:#f0f0f0}
.datepickerContainer{position:absolute;top:10px;left:10px}
.datepickerBorderT{position:absolute;left:10px;top:0;right:10px;height:10px;background:url(../images/datepicker_t.png)}
.datepickerBorderB{position:absolute;left:10px;bottom:0;right:10px;height:10px;background:url(../images/datepicker_b.png)}
.datepickerBorderL{position:absolute;left:0;bottom:10px;top:10px;width:10px;background:url(../images/datepicker_l.png)}
.datepickerBorderR{position:absolute;right:0;bottom:10px;top:10px;width:10px;background:url(../images/datepicker_r.png)}
.datepickerBorderTL{position:absolute;top:0;left:0;width:10px;height:10px;background:url(../images/datepicker_tl.png)}
.datepickerBorderTR{position:absolute;top:0;right:0;width:10px;height:10px;background:url(../images/datepicker_tr.png)}
.datepickerBorderBL{position:absolute;bottom:0;left:0;width:10px;height:10px;background:url(../images/datepicker_bl.png)}
.datepickerBorderBR{position:absolute;bottom:0;right:0;width:10px;height:10px;background:url(../images/datepicker_br.png)}
.datepickerHidden{display:none}
div.datepicker table{border-collapse:collapse;width:275px;height:238px}
div.datepicker a{color:#767676;text-decoration:none;cursor:default;outline:0}
div.datepicker table td{text-align:center;padding:0;margin:0}
div.datepicker th{text-align:center;color:#999;font-weight:400}
div.datepicker tbody th{text-align:center}
div.datepicker tbody a{display:block}
.datepickerDays a{width:20px;line-height:16px;height:16px;margin:auto}
.datepickerMonths a,.datepickerYears a{width:44px;line-height:36px;height:36px;text-align:center}
td.datepickerNotInMonth a{color:#ccc}
tbody.datepickerDays td.datepickerSelected{color:#b0916a}
tbody.datepickerDays td.datepickerSelected a{color:#b0916a}
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected{background:#17384d}
tbody.datepickerMonths td.datepickerSelected,tbody.datepickerYears td.datepickerSelected{background:#17384d}
div.datepicker a:hover{color:#b0916a}
div.datepicker td.datepickerNotInMonth a:hover{color:#999}
div.datepicker tbody th{text-align:center}
.datepickerSpace div{width:20px}
.datepickerGoNext a,.datepickerGoPrev a,.datepickerMonth a{text-align:center;height:20px;line-height:20px;font-size:18px}
.datepickerGoNext a{float:right;width:20px}
.datepickerGoPrev a{float:left;width:20px}
table.datepickerViewDays tbody.datepickerMonths,table.datepickerViewDays tbody.datepickerYears{display:none}
table.datepickerViewMonths tbody.datepickerDays,table.datepickerViewMonths tbody.datepickerYears,table.datepickerViewMonths tr.datepickerDoW{display:none}
table.datepickerViewYears tbody.datepickerDays,table.datepickerViewYears tbody.datepickerMonths,table.datepickerViewYears tr.datepickerDoW{display:none}
td.datepickerDisabled a,td.datepickerDisabled.datepickerNotInMonth a{color:#333}
td.datepickerDisabled a:hover{color:#333}
td.datepickerSpecial a{background:#700}
td.datepickerSpecial.datepickerSelected a{background:#a00}
div.datepicker td.datepickerSunday a,div.datepicker th.datepickerWeek a{color:#ccc}
div.datepicker td a,div.datepicker th a{cursor:pointer}
.payment_t_img{width:340px;margin:auto;text-align:center}
.user_title p.payment_t_img i{background:url(/shop/theme/xth1/images/cart/payment.png) no-repeat;width:340px;height:30px}
input.login_btn{background:#b0916a;padding:0 65px;border:none;margin:2px;height:34px;color:#FFF;cursor:pointer;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
li.submit_c_box{padding:20px 0;text-align:center}
.pay_Remind{padding:0 0 0 25px;color:#b0916a}
ul.Remote_payment.pay_msg .login_btn{width:45%;padding:0}
.tc-con-order{width:auto;height:auto;background:#f2f6f7;margin-left:-377px;margin-top:-90px;padding:0;margin:0 auto;position:absolute;z-index:300;font-size:14px;left:50%;top:50%;margin-top:0;position:fixed!important}
ul.Remote_payment.pay_msg{width:355px;height:180px;margin:10px}
p.pay_msg_txt{text-align:center;padding:30px 0 20px 0}
ul.Remote_payment.quick_login{width:290px;height:320px;margin:10px}
.quick_login li.import{position:relative}
ul.Remote_payment li.quick_txt{border-bottom:1px #b0916a solid;padding:0 0 10px 0;margin-bottom:15px}
.quick_login li.import label{position:absolute;line-height:50px;left:50px;top:5px;color:#c4c4c4;cursor:text;font-size:14px}
.quick_login li input.input_txt{height:40px;line-height:40px;float:left;font-size:18px;color:#767676;margin:0;border:none;width:235px;padding:5px 10px 5px 45px;background:url(/shop/theme/xth1/images/comm/icon.png) no-repeat #f0f0f0;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
.quick_login li input.input_txt.user_icon{background-position:-350px -285px}
.quick_login li input.input_txt.password_icon{background-position:-350px -335px}
.warn{text-align:center;color:#b0916a;line-height:24px}
.link_c{text-align:center}
.pay_Remind{padding:0 0 0 30px;color:#b0916a}
ul.Remote_payment.pay_msg{width:355px;height:180px;margin:10px}
ul.Remote_payment.pay_msg .login_btn{width:45%;padding:0}
ul.Remote_payment.pay_msg li.pay_v{padding:60px 0 0 0}
li.all_Total ul li.addTableware{padding:0;float:left;width:320px}
li.all_Total ul li.addTableware p{float:left;margin:10px 0 0 0;width:210px}
li.all_Total ul li.addTableware p span{float:left}
li.all_Total ul li.addTableware p small{float:left;line-height:30px}
li.all_Total ul li.addTableware p small em{font-style:normal;color:#b0916a}
li.all_Total ul li.addTableware div{width:70px;margin:0;margin-top:10px}
li.all_Total ul li.addTableware div .other_right{margin:0;margin-left:5px;line-height:30px;display:block;float:left}
li.all_Total ul li.addTableware div input{float:none}
li.all_Total .goods_line div.other_right{display:none}
li.all_Total .goods_line div.other_right.cur{display:block}
li.all_Total .goods_line p.goods_title{line-height:30px;font-size:16px}
li.all_Total .goods_line.no_brand .birthday_card{background:#f0f0f0;color:#ccc}
li.all_Total .note span{color:#999;padding-left:15px;display:block;float:left}
li.all_Total .note b{margin-top:2px}
.fixed{text-align:center;top:230px;position:fixed;left:25px;left:50%;margin-left:-560px}
input[hidden=hidden]{display:none}
ul.Remote_payment.quick_login{width:290px;height:auto;margin:10px;margin-bottom:30px}
.quick_login li input.input_txt.Mobile_code_icon{background-position:-350px -435px}
.quick_login li input.input_txt.Confirm_password_icon{background-position:-350px -385px}
ul.Remote_payment li.quick_txt{border-bottom:1px #b0916a solid;padding:0 0 10px 0;margin-bottom:5px}
.quick_login li .send{float:left;height:50px}
.quick_login li .send a.go{float:left;height:42px;line-height:42px;padding:0 10px;margin-top:4px;margin-right:0}
ul.Remote_payment li.coupon_btn{text-align:center;padding:5px 0 0 0;z-index:0}
.Remote_payment form{padding:0;margin:0}
.Experience:hover{background:#8b7860}
ul.list_c1{overflow:hidden;line-height:18px;margin-bottom:30px}
ul.list_c1 input{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;width:110px;height:30px;border:none;background:#b0916a;color:#fff;text-align:center;margin:0 15px;cursor:pointer}
.Ejectbox_hy{display:block;margin:20px 19px}
.Ejectbox_zd{text-align:center;margin:18px auto;color:#767676;width:520px;display:block;padding-bottom:18px}
.Experiencebox{text-align:center}
.Invoicebox{position:absolute;left:30px;width:600px;top:7px}
.Invoicebox li{float:left}
.Invoicebox_ys{margin:0 0 0 14px}
div.img_show{position:absolute!important;left:140px;top:32px;height:100px;width:180px;display:none}
.card_li .card_box a,.card_li .card_box_input{float:left;height:30px;line-height:30px}
.card_box_input{position:relative}
.card_box_input input{height:24px;line-height:24px}
.card_box_input label{color:#c4c4c4;left:15px;position:absolute;top:2px}
.card_box,.card_use_list{width:100%;float:left}
.card_use_list{margin-left:10px;margin-top:5px}
.card_use_list li{height:25px;line-height:25px}
.card_li .card_err{width:60%;text-align:center;height:30px;line-height:30px;color:#b0916a;margin-top:5px;display:none}
li.Remarks span{position:relative;width:30px;height:20px;display:inline-block}
li.Remarks span em{width:40px;height:35px;position:absolute;z-index:1;left:0;background:url(/shop/theme/xth1/images/comm/ok.png) no-repeat}
li.Remarks span i{width:15px;height:15px;position:absolute;display:block;top:0;z-index:-1px;margin:8px 0 0 4px;background:#f0f0f0}
li.Remarks .cur{background-position:0 -280px}
#Remarks{width:750px;margin-left: 5px; margin-top:-45px;*margin-top:-60px;_margin-top:-60px}
.remarks-input{position:relative;margin-top:10px}
.remarks-input label{position:absolute;left:20px;top:10px}
