.e_cover_layer {
    background-color:#fff;
    left:0;
    position:absolute;
    top:0;
    z-index:9000;
    filter:Alpha(Opacity=50);
    Opacity:0.5;
    _background-color:none;
}
.e_layer {
    top:100px;
    z-index:100000;
    width:100%;
    position:fixed;
    _position:absolute;
}
.e_layer .e_layer_content {
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #a6a6a6;
    border-radius:2px 2px 2px 2px;
    position:relative;
    width:300px;
    margin:0 auto;
}
.e_layer .e_layer_title {
    font-size:12px;
    font-weight:700;
    height:40px;
    line-height:40px;
    padding:0 0 0 20px;
    vertical-align:middle;
    text-align:left;
    -moz-border-bottom-colors:none;
    -moz-border-left-colors:none;
    -moz-border-right-colors:none;
    -moz-border-top-colors:none;
    border-bottom:2px solid #cccccc;
}
.e_layer .e_layer_close {
    background:url("/framework/ebsig/images/popup-cmbg.gif") no-repeat -35px 0;
    height:12px;
    overflow:hidden;
    position:absolute;
    right:10px;
    text-indent:-1000px;
    top:10px;
    width:12px;
}
.e_layer .e_layer_close:hover {
}.e_layer .e_layer_message {
     margin:20px;
 }
.e_layer .img-error {
    padding:0 5px;
    background:url("/framework/ebsig/images/ebsig_bg.gif") no-repeat scroll 0 -112px transparent;
    width:37px;
    height:36px;
}
.e_layer .img-correct {
    padding:0 5px;
    background:url("/framework/ebsig/images/ebsig_bg.gif") no-repeat scroll -99px -112px transparent;
    width:41px;
    height:36px;
}
.e_layer .img-confirm {
    padding:0 5px;
    background:url("/framework/ebsig/images/ebsig_bg.gif") no-repeat scroll -155px -106px transparent;
    width:27px;
    height:41px;
}
#layer_message {
    word-break:break-all;
    word-wrap:break-word;
    padding-left: 10px;
}
.e_layer .layer_btn {
    padding:10px 30px;
    text-align:right;
}
.dialog {
    z-index:1000;
    position:absolute;
    width:400px;
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #CCCCCC;
}
.dialog .title {
    background:none repeat scroll 0 0 #F3F3F3;
    font-size:12px;
    font-weight:700;
    height:30px;
    line-height:30px;
    padding:0 0 0 20px;
    vertical-align:middle;
    border-bottom:1px solid #CCCCCC;
}
.dialog .title .close {
    background:url("/framework/ebsig/images/popup-cmbg.gif") no-repeat scroll 0 0 transparent;
    height:12px;
    overflow:hidden;
    position:absolute;
    right:10px;
    text-indent:-1000px;
    top:10px;
    width:12px;
}
.comm_loadding {
    left:0;
    position:fixed;
    top:100px;
    width:100%;
    z-index:10000;
    _position:absolute;
}
.comm_loadding div {
    background:none repeat scroll 0 0 #000;
    opacity:0.5;
    border:1px solid #000;
    border-radius:3px 3px 3px 3px;
    margin:0 auto;
    padding:10px;
    width:300px;
    text-align:left;
}
.comm_loadding table .loadding_img {
    background:url("/framework/ebsig/images/wait.gif") no-repeat scroll 0 0 transparent;
    height:16px;
    width:16px;
}
.comm_loadding table .loadding_str {
    font-size:13px;
    padding-left:5px;
    color:#fff;
}
.e_popup {
    font-size:12px;
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;
    _position:absolute;
}
.e_popup .popup-main {
    background-color:#F3F3F3;
    border:1px solid #222222;
    box-shadow:0 0 5px #000;
    overflow:hidden;
    margin:0 auto;
    width:500px;
    border-radius:5px;
}
.e_popup .popup-main .popup-title {
    background-color:#E7E7E7;
    background-image:linear-gradient(to bottom,#F2F2F2 0px,#E0E0E0 100%);
    border-bottom:1px solid #C2C2C2;
    height:38px;
    line-height:38px;
}
.e_popup .popup-main .popup-title h3 {
    color:#000;
    float:left;
    font-size:14px;
    font-weight:bold;
    height:38px;
    line-height:38px;
    margin:0;
    overflow:hidden;
    padding-left:10px;
}
.e_popup .popup-main .popup-title button {
    background-color:transparent;
    background:url(/postsystem/docroot/images/backend/close.png) no-repeat;
    border:0 none;
    cursor:pointer;
    float:right;
    font-size:0;
    height:14px;
    line-height:100px;
    position:relative;
    width:15px;
    top:12px;
    right:10px;
}

.e_popup .popup-main .popup-content {
    background:#fff;
    color:#5F5F5F;
    padding:10px;
    max-height:415px;
    overflow-x:auto;
}
.e_popup .popup-main .popup-content table {
    width:100%;
}
.e_popup .popup-main .popup-content td {
    padding:5px;
}
.e_popup .popup-main .popup-footer {
    background:none repeat scroll 0 0 #F3F3F3;
    border-top:1px solid #E5E5E5;
    padding:5px;
    text-align:center;
}