<extend name="Index/indextemp" />
<block name="con">
<!--侧栏导航-->
<link rel="stylesheet" type="text/css" href="__Public__/ShopCart/comm_header.css">
<link rel="stylesheet" type="text/css" href="__Public__/ShopCart/Landing_city.css">

<script type="text/javascript" async="" src="__Public__/ShopCart/mba.js"></script>
<script type="text/javascript" async="" src="__Public__/ShopCart/s.js"></script>
<script charset="utf-8" src="__Public__/ShopCart/v.js"></script>
<script type="text/javascript" src="__Public__/jquery-1.8.3.min.js"></script>

<script type="text/javascript" src="__Public__/ShopCart/superscrollorama.js"></script>

<script type="text/javascript" src="__Public__/ShopCart/uaredirect.js"></script>
<script type="text/javascript" src="__Public__/ShopCart/iplookup.php"></script>

    <link href="__Public__/ShopCart/cart.css" rel="stylesheet" type="text/css">

<div id="page_mainer" style="margin-left:40%;">

    <div class="user_box">

        <div class="user_title" style="border-bottom:none">
            <p class="car_t_img"><i></i><span>购物车</span></p>
        </div>

        <div class="order_list">

            
                <p class="car_Empty">
                    <span>您的购物车还是空的，赶紧行动吧！</span><br>
                    马上进入 <a href="{:U('Home/index/')}" class="blue_link">全部产品</a> 挑选您喜欢的商品！
                </p>       
        </div>
    </div>
 </div>
 </block>