<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<include file="Public/head"/>
<body>
<div class="zhengti">
    <include file="Public/header"/>


    <div class="guanzhu_main">

        <!--左侧-->
        <div class="people-left fl">
            <div class="people-left-top">
                <dl>
                    <dt class="fl"><img src="__IMG__/peoplelefttu.png" /></dt>
                    <dd>
                        <a href="#">
                            <img src="__IMG__/peopletou.png" style=" vertical-align:middle;"/>
                            <span style=" vertical-align:middle;">修改头像</span>
                        </a>
                        <a href="#"><b>2000</b>&nbsp;积分</a>
                        <a href="#" class="bornone">
                            <img src="__IMG__/author.png" style=" vertical-align:middle;"/>
                            <span style=" vertical-align:middle;">作者简介</span>
                        </a>
                    </dd>

                </dl>
                <div class="clear"></div>
            </div>
            <include file="Public/left"/>
        </div>
        <!--左侧内容结束-->
        <!--右侧-->

        <div class="guanzhu_right">
            <div class="guanzhu_wo">我关注的设计师</div>

            <a href="#">
                <div class="guanzhu_ren">
                    <img class="gz_tx" src="__IMG__/peoplelefttu.png" width="100" height="100" />
                    <div class="gz_xx">
                        <span><b>用户名</b></span><br />
                        <span><img src="__IMG__/yan.png" />&nbsp;<b>7541</b>&nbsp;人气</span><br />
                        <span><img src="__IMG__/gzq.png" /><img style="display:none" src="__IMG__/gzh.png" />&nbsp;<b>7541</b>&nbsp;关注</span>
                    </div>
                    <div class="gz_jj">
                        <div class="gz_jjf">处惹麻烦GV惹麻烦到峨眉非常得到的苗木的看都看文档都没我没法认为东方客，佛恶魔我看日记Kim相互间的空气就耽误你当初及董事的 就分手 就没符文 积分处惹麻烦GV惹麻烦到峨眉非常得到的苗木的看都看文档都没我没法认为东方客，佛恶魔我看日记Kim相互间的空气就耽误你当初及董事的 就分手 就没符文 积分处惹麻烦GV惹麻烦到峨眉非常得到的苗木的看都看文档都没我没法认为东方客，佛恶魔我看日记Kim相互间的空气就耽误你当初及董事的 就分手 就没符文 积分</div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="guanzhu_ren">
                    <img class="gz_tx" src="__IMG__/peoplelefttu.png" width="100" height="100" />
                    <div class="gz_xx">
                        <span><b>用户名</b></span><br />
                        <span><img src="__IMG__/yan.png" />&nbsp;<b>7541</b>&nbsp;人气</span><br />
                        <span><img src="__IMG__/gzq.png" /><img style="display:none" src="__IMG__/gzh.png" />&nbsp;<b>7541</b>&nbsp;关注</span>
                    </div>
                    <div class="gz_jj">
                        <div class="gz_jjf">处惹麻烦GV惹麻烦到峨眉非常得到的苗木的看都看文档都没我没法认为东方客，佛恶魔我看日记Kim相互间的空气就耽误你当初及董事的 就分手 就没符文 积分</div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="guanzhu_ren">
                    <img class="gz_tx" src="__IMG__/peoplelefttu.png" width="100" height="100" />
                    <div class="gz_xx">
                        <span><b>用户名</b></span><br />
                        <span><img src="__IMG__/yan.png" />&nbsp;<b>7541</b>&nbsp;人气</span><br />
                        <span><img src="images/gzq.png" /><img style="display:none" src="__IMG__/gzh.png" />&nbsp;<b>7541</b>&nbsp;关注</span>
                    </div>
                    <div class="gz_jj">
                        <div class="gz_jjf">处惹麻烦GV惹麻烦到峨眉非常得到的苗木的看都看文档都没我没法认为东方客，佛恶魔我看日记Kim相互间的空气就耽误你当初及董事的 就分手 就没符文 积分</div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="guanzhu_ren">
                    <img class="gz_tx" src="images/peoplelefttu.png" width="100" height="100" />
                    <div class="gz_xx">
                        <span><b>用户名</b></span><br />
                        <span><img src="images/yan.png" />&nbsp;<b>7541</b>&nbsp;人气</span><br />
                        <span><img src="images/gzq.png" /><img style="display:none" src="images/gzh.png" />&nbsp;<b>7541</b>&nbsp;关注</span>
                    </div>
                    <div class="gz_jj">
                        <div class="gz_jjf">处惹麻烦GV惹麻烦到峨眉非常得到的苗木的看都看文档都没我没法认为东方客，佛恶魔我看日记Kim相互间的空气就耽误你当初及董事的 就分手 就没符文 积分</div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="guanzhu_ren">
                    <img class="gz_tx" src="images/peoplelefttu.png" width="100" height="100" />
                    <div class="gz_xx">
                        <span><b>用户名</b></span><br />
                        <span><img src="images/yan.png" />&nbsp;<b>7541</b>&nbsp;人气</span><br />
                        <span><img src="images/gzq.png" /><img style="display:none" src="images/gzh.png" />&nbsp;<b>7541</b>&nbsp;关注</span>
                    </div>
                    <div class="gz_jj">
                        <div class="gz_jjf">处惹麻烦GV惹麻烦到峨眉非常得到的苗木的看都看文档都没我没法认为东方客，佛恶魔我看日记Kim相互间的空气就耽误你当初及董事的 就分手 就没符文 积分</div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="guanzhu_ren">
                    <img class="gz_tx" src="images/peoplelefttu.png" width="100" height="100" />
                    <div class="gz_xx">
                        <span><b>用户名</b></span><br />
                        <span><img src="images/yan.png" />&nbsp;<b>7541</b>&nbsp;人气</span><br />
                        <span><img src="images/gzq.png" /><img style="display:none" src="images/gzh.png" />&nbsp;<b>7541</b>&nbsp;关注</span>
                    </div>
                    <div class="gz_jj">
                        <div class="gz_jjf">处惹麻烦GV惹麻烦到峨眉非常得到的苗木的看都看文档都没我没法认为东方客，佛恶魔我看日记Kim相互间的空气就耽误你当初及董事的 就分手 就没符文 积分</div>
                    </div>
                </div>
            </a>
        </div>

        <!--右侧结束-->
    </div>
    <div class="clear"></div>

    <include file="Public/footer"/>
</div>
<div class="gjl">
    <a href=""><div class="gjl_1"></div></a>
    <a href=""><div class="gjl_2"></div></a>
    <a href=""><div class="gjl_3"></div></a>
    <a href=""><div class="gjl_4"></div></a>
    <a href=""><div class="gjl_5"></div></a>
    <a href="#heads"><div class="gjl_6"></div></a>
</div>
</body>
</html>
