<extend name="Index/index" />
<block name="con">

    <div class="x_panel">
    <div class="x_title"><extend name="Index/index" />
<block name="title">
后台管理--发短息默认配置修改
</block>
<block name="con">

    <div class="x_title">
        <h2>网站配置<small>Click to validate</small></h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-wrench"></i></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <!-- start form for validation -->
        <form data-parsley-validate="" id="demo-form" novalidate="">
            <label for="fullname" class="fa fa-cog"s><h2>CURL短信配置* :AJAX鼠标点击修改，鼠标离开自动保存</h2></label><br/>
            <i class="fa fa-cog">MESG_URL&nbsp;:&nbsp;</i><input type="text" value="{:C('MESG_URL')}" id="inputSuccess4" class="form-control has-feedback-left MESG_URL" name="MESG_URL">
             <i class="fa fa-cog">WEB您要在信息中显示的网站名字&nbsp;:&nbsp;</i><input type="text" required="" name="WEB" id="inputSuccess4" class="form-control has-feedback-left WEB" data-parsley-id="9619" value="{:C('WEB')}" >
            <br style="margin-top:10px;">
            <i class="fa fa-cog">CLASS&nbsp;:&nbsp;</i><input type="text" required="" name="NEW_RULE" id="inputSuccess4" class="NEW_RULE form-control has-feedback-left"data-parsley-id="9619"value="{:C('CLASS')}" >
            <br style="margin-top:10px;">
                

            <!--ajax修改 数据库配置-->
          
            <script type="text/javascript">
          $(function(){
            $('.MESG_URL').blur(function(){
                var database=$('.MESG_URL').val();
                $.post('__CONTROLLER__/update',{MESG_URL:database},function(){alert('修改成功!');console.log(data);});
            });
            $('.WEB').blur(function(){
                var database=$('.WEB').val();
                $.post('__CONTROLLER__/update',{WEB:database},function(){alert('修改成功!');console.log(data);});
           });
             $('.CODE').blur(function(){
                var database=$('.CODE').val();
                $.post('__CONTROLLER__/update',{CODE:database},function(){alert('修改成功!');console.log(data);});
           });
            $('.NEW_RULE').blur(function(){
                var database=$('.NEW_RULE').val();
                $.post('__CONTROLLER__/update',{NEW_RULE:database},function(){alert('修改成功!');console.log(data);});
          });
            $('.Host').blur(function(){
                var database=$('.Host').val();
                $.post('__CONTROLLER__/update',{Host:database},function(){alert('修改成功!');console.log(data);});
            });
           
            $('.Port').blur(function(){
                var database=$('.Port').val();
                $.post('__CONTROLLER__/update',{Port:database},function(){alert('修改成功!');console.log(data);});
            });
            $('.username').blur(function(){
                var database=$('.username').val();
                $.post('__CONTROLLER__/update',{username:database},function(){alert('修改成功!');console.log(data);});
            });
            $('.mailname').blur(function(){
                var database=$('.mailname').val();
                $.post('__CONTROLLER__/update',{mailname:database},function(){alert('修改成功!');console.log(data);});
            });
            $('.mailpwd').blur(function(){
                var database=$('.mailpwd').val();
                $.post('__CONTROLLER__/update',{mailpwd:database},function(){alert('修改成功!');console.log(data);});
            });
            $('.mailtitle').blur(function(){
                var database=$('.mailtitle').val();
                $.post('__CONTROLLER__/update',{mailtitle:database},function(){alert('修改成功!');console.log(data);});
            });

        });
            </script>
            <!--数据库修改完成-->   
   </form>  
   <form action="__CONTROLLER__/messagea" method="post">
            测试：请输入接收者手机号:<input type="text" name="to" value="" placeholder="手机号">
                                     <input type="text" name="content" value="" placeholder="短信内容">
                                     <input type="submit" value="点击发送" class="btn btn-round btn-success">
    </form>
   
</block>