<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>个人中心-首页</title>
    <link rel="stylesheet" href="__CSS__/login.css" />
    <link rel="stylesheet" href="__CSS__/communal.css" />
    <link rel="stylesheet" href="__CSS__/geren_shouye.css" />
    <link rel="stylesheet" href="__CSS__/person.css" />
    <link rel="stylesheet" href="__CSS__/guanzhu.css" />
    <link rel="stylesheet" href="__CSS__/people.css" />
    <link rel="stylesheet" href="__CSS__/zuopin.css" />
    <link type="text/css" rel="stylesheet" href="__CSS__/validator.css">
    <script src="__JS__/jquery.js"></script>
    <script src="__JS__/jquery.validate.js"></script>

</head>