<div class="header"  id="heads">
    <!--logo nav-->
    <ul class="ull">
        <li class="lil"><a href="#"><img src="__IMG__/logo.png" width="111" height="57" alt="logo" /></a></li>
        <li class="lil"><a href="#" class="xuanze">首页</a></li>
        <li class="lil"><a href="#">我要查找</a></li>
    </ul>
    <!--sousuo-->
    <div class="sousuo">
        <form action="#">
            <input type="text" placeholder="请输入要搜索的内容" class="sousuok" />
            <input type="submit" value="" class="sousuoa" />
        </form>
    </div>
    <div class="wdlzc" style="display:none">
        <a href="/tupian/index.php?s=/Member/Index/login">登录</a>&nbsp;/&nbsp;<a href="/tupian/index.php?s=/Member/Index/regist">注册</a>
    </div>
    <div class="dlzck">

        <div class="dlzc">
            <span><img id="tx" src="__IMG__/tx.png" width="44" height="44" style="vertical-align:middle;" /></span>
            <div id="tanchu">
                <ul>
                    <li>{$_SESSION[userid][username]}</li>
                    <li>个人中心</li>
                    <li>我的收藏</li>
                    <li>我的关注</li>
                    <li>我的作品</li>
                    <li>我的订单</li>
                    <li>我的交易</li>
                    <li>我的个人页</li>
                </ul>
                <div class="tuichu"><a href="{:U('Member/index/logout')}">退出</a></div>
            </div>
        </div>
        <span class="dlzcld">
        <img src="__IMG__/ld.png" width="44" height="44" style="vertical-align:middle;" />
          <span class="xiaoxi">(2)</span>
        </span>
    </div>
</div>