<div class="people-left-bottom">
    <ul>
        <li><a href="{:U('Member/Userall/mycoll')}">收藏</a></li>
        <li><a href="{:U('Member/Userall/myabout')}">关注</a></li>
        <li><a href="{:U('Member/Userall/myproduct')}">作品</a></li>
        <li><a href="">品牌</a></li>
        <li><a href="{:U('Member/Userall/myorder')}">订单</a></li>
        <li><a href="">交易</a></li>
        <li><a href="{:U('Member/Perdes/personal')}">个人页</a></li>
        <li><a href="">最新消息</a></li>
    </ul>
</div>