<extend name="Index/index" />
<block name="title">
后台管理--商品修改页
</block>
<block name="con">
<div class="page-title">
    <div class="title_left">
        <h3>商品修改</h3>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <h2>修改商品信息 <small></small></h2>
        <ul class="nav navbar-right panel_toolbox">
           
            <li class="dropdown">
                <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"> 
                </a>
            </li>
                
            
        </ul>
        <div class="clearfix"></div>
    </div>
	<div class="x_content">
	    <br>
	    <form action="{:U(updata)}" class="form-horizontal form-label-left" data-parsley-validate="" id="demo-form2" name="goods_insert" novalidate="" method="post">
	    <input type="hidden" name="id" value="{$goodsFind.id}" >
				
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">蛋糕名称(英文)
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="text" class="form-control col-md-7 col-xs-12" required="required" id="first-name" name="en_gname" data-parsley-id="4702" value="{$goodsFind.en_gname}">
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">蛋糕名称(中文)
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="text" class="form-control col-md-7 col-xs-12" required="required" id="first-name" name="cn_gname" data-parsley-id="4702" value="{$goodsFind.cn_gname}">
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">类别
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
		            <select name="type" style="font-size: 16px;" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702">	
		            	<option <eq name="goodsFind.type" value="拿破仑">selected</eq> >拿破仑</option>	
		            	<option <eq name="goodsFind.type" value="鲜奶">selected</eq> >鲜奶</option>	
		            	<option <eq name="goodsFind.type" value="慕斯">selected</eq> >慕斯</option>	
		            	<option <eq name="goodsFind.type" value="芝士">selected</eq> >芝士</option>	
		            	<option <eq name="goodsFind.type" value="巧克力">selected</eq> >巧克力</option>	
		            	<option <eq name="goodsFind.type" value="咖啡">selected</eq> >咖啡</option>	
		            	<option <eq name="goodsFind.type" value="坚果">selected</eq> >坚果</option>	
		            	<option <eq name="goodsFind.type" value="水果">selected</eq> >水果</option>
		            </select>
	            </div>
	        </div>
	         <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">状态
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
		            <select name="status" style="font-size: 16px;" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702">
		            	<option value="0" <eq name="goodsFind.status" value="1">selected</eq> >无</option>
		            	<option value="1" <eq name="goodsFind.status" value="1">selected</eq> >新品</option>	
		            	<option value="2" <eq name="goodsFind.status" value="2">selected</eq> >人气</option>	
		            	<option value="3" <eq name="goodsFind.status" value="3">selected</eq> >金牌</option>	
		            	<option value="4" <eq name="goodsFind.status" value="4">selected</eq> >售馨</option>
		            </select>
	            </div>
	        </div>

	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">单价
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="text" name="price" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" value="{$goodsFind.price}">
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">图片
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	            	<div ><img style="border:1px solid #ccc;border-radius:4px;padding:5px;background: white;opacity:0.9;" src="__ROOT__/Uploads/Admin/images/GoodsImg/<?php
		     					$arr=explode(',',$goodsFind['picname']);
		     					$arr[0];

		     				 echo (substr($goodsFind['addtime'],0,8)."/"."s_".$arr[0]);?>" ></img><img  class="qingchu_but" title="删除" alt="删除" style="width:25px;opacity: 0.9;position:relative;left:-30px;top:37px;cursor:pointer;" src="__PUBLIC__/Admin/images/icons/trash.png"/>
	            	<img  style="border:1px solid #ccc;border-radius:4px;padding:5px;background: white;opacity:0.9;" src="__ROOT__/Uploads/Admin/images/GoodsImg/<?php
		     					$arr=explode(',',$goodsFind['picname']);
		     					$arr[0];

		     				 echo (substr($goodsFind['addtime'],0,8)."/"."s_".$arr[0]);?>" ></img><img class="qingchu_but"  title="删除" alt="删除" style="width:25px;opacity: 0.9;position:relative;left:-30px;top:37px;cursor:pointer;" src="__PUBLIC__/Admin/images/icons/trash.png"/>
	            	<img  style="border:1px solid #ccc;border-radius:4px;padding:5px;background: white;opacity:0.9;" src="__ROOT__/Uploads/Admin/images/GoodsImg/<?php
		     					$arr=explode(',',$goodsFind['picname']);
		     					$arr[0];

		     				 echo (substr($goodsFind['addtime'],0,8)."/"."s_".$arr[0]);?>" ></img>
	            	<img class="qingchu_but" title="删除" alt="删除" style="width:25px;opacity: 0.9;position:relative;left:-33px;top:37px;cursor:pointer;" src="__PUBLIC__/Admin/images/icons/trash.png"/>
	            	</div>
	            	<div class="picnames" style="margin-top: 10px;">
		           </div>
	            </div>
	        </div>
	        
	        
	         <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">可选尺寸
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="text" name="size" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" value="{$goodsFind.size}">
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">原材料
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="text" style="border: 1px solid #dde2e8;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;font-size: 14px;height: 56px;width: 365px;line-height:14px;" value="{$goodsFind.material_name}">
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">口感
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="text" name="taste" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" value="{$goodsFind.taste}">
	            </div>
	        </div>
			<div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">口味
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="text" name="feeling" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" value="{$goodsFind.feeling}">
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">味基底
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="text" name="basefeel" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" value="{$goodsFind.basefeel}">
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">甜味度
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="number" name="sweet" value="1" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" value="{$goodsFind.sweet}">
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">酸味度
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="number" name="sour" value="0" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" value="{$goodsFind.sour}">
	            </div>
	        </div>
	        <div class="form-group">
                <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">累计限购量
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="number" name="stocks" value="{$goodsFind.stocks}" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702">
                </div>
            </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">特别说明
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <textarea name="state" style="height:50px" class="form-control col-md-7 col-xs-12" requitebiered="required" id="first-name" data-parsley-id="4702">{$goodsFind.state}</textarea><!-- <input type="text"> -->
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">简介(英文)
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <textarea name="descr"  class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" >{$goodsFind.descr_en}</textarea><!-- <input type="text"> -->
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">简介(中文)
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <textarea name="descr"  class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" >{$goodsFind.descr_cn}</textarea><!-- <input type="text"> -->
	            </div>
	        </div>

	        <div class="ln_solid"></div>
	        <div class="form-group">
	            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
	                <button class="btn btn-success" type="submit">更新</button>
	                <button class="btn btn-primary" type="reset">重置</button>
	            </div>
	        </div>

	    </form>
	</div>
</div>

<script type="text/javascript" src="__PUBLIC__/Admin/production/js/parsley/parsley.min.js"></script>
<script type="text/javascript">
	
	$('.qingchu_but').each(function(){
		$(this).click(function(){

			$(this).prev().remove();
			$upimg = $('<input type="file" name="picname[]">');
			$('.picnames').append($upimg);
			if(!$('.form-horizontal').attr('enctype')){
				$('.form-horizontal').attr('enctype','multipart/form-data');
			}
			$(this).remove();
			

		})
	})


</script>
        
       
</block>