a{}
small {
font-size:inherit;
}
.red{color: #a5002f;}
samp.Grey{color:#CCC}

samp.red{color: #a5002f;}
.Gold{ color:#b0916a;}
a.go{background:#b0916a; padding:3px 10px;color:#FFF; cursor:pointer; -moz-border-radius: 2px;/* Gecko browsers */-webkit-border-radius: 2px;   /* Webkit browsers */
border-radius:2px;/* W3C syntax */margin:0 10px}
a.go:hover{background:#8B7860;}
a.go small{font-size:9px; font-family:"LiHei Pro", "微软雅黑"}

a.red:link,a.red:visited,a.red:active{color: #a5002f;}
a.red:hover{color: #a5002f;}

a.link_line:link,a.link_line:visited,a.link_line:active{
	color: #8C8C8C;
	text-decoration:underline;
	}
a.link_line:hover{
	color: #ABABAB;
	text-decoration:underline
}


input.Search{background:#b0916a; padding:15px 15px;color:#FFF; cursor:pointer; -moz-border-radius: 2px;/* Gecko browsers */-webkit-border-radius: 2px;   /* Webkit browsers */
border-radius:2px;/* W3C syntax */margin:0; border:none; margin-left:2px;}
input.Search:hover{background:#8B7860;}



.login_box{ width:960px; margin:auto; min-height:450px;}
.login_box .login_left{ width:460px; float:left; padding:80px 40px 0 0}/*修改*/
.login_box .login_left span{ font-size:52px; color:#7b9196; width:450px}
.login_box .login_left p{ font-size:34px;color:#d9e8ec; line-height:34px; padding:5px 0;}
.login_box .login_left font{width:340px; text-align:left; padding:5px 0}
.login_box .login_left p,.login_box .login_left span,.login_box .login_left font{text-align:left; display:block; float:right}

.login_right{ width:450px; float:left;padding:30px 0 0 0; color:#767676}
.login_right ul li{ padding:5px; position:relative; overflow:hidden;}
.login_right ul li p{ width:340px; line-height:40px; overflow:hidden; display:block }
.login_right ul li p.top_border{border-bottom:1px #d6d6d6 solid}
.login_right ul li p.bottom_border{border-top:1px #d6d6d6 solid}
.login_right ul li p span{ font-size:18px; color:#767676; line-height:30px; padding:0 0 6px 0; display:block}


.login_right ul li input.input_txt{ height:40px; line-height:40px; float:left; font-size:18px;color:#767676; margin:0; border:none; width:235px; padding:5px 10px 5px 45px; background:url(../images/icon.png) no-repeat  #f0f0f0;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius:2px;}
.login_right ul li input.input_txt.link_txt{ background-position:100px 100px;padding:5px 10px 5px 15px;width:500px;}
.login_right ul li input.input_txt.Coupons_icon{background-position:100px 100px;padding:5px 10px 5px 10px;width:300px; }
.login_right ul li input.input_txt.user_icon{ background-position:-350px -285px}
.login_right ul li input.input_txt.password_icon{ background-position:-350px -335px}
.login_right ul li input.input_txt.Mobile_icon{ background-position:-350px -485px}
.login_right ul li input.input_txt.Mobile_code_icon{ background-position:-350px -435px;}
.login_right ul li input.input_txt.Mobile_code_icon#Confirm_password{ width:150px;}
.login_right ul li input.input_txt.Confirm_password_icon{ background-position:-350px -385px}
.login_right ul li input.input_txt.Nickname_icon{ background-position:-350px -185px}
.login_right ul li input.input_txt.mail_icon{ background-position:-350px -235px}
.login_right ul li input.input_txt.Member_card_icon{ background-position:-350px -535px}
.login_right ul li input.input_txt.Search_icon{ background-position:-350px -585px}
.login_right ul li div.myinfo_fixed{height:40px;float:left; font:18px/40px "";color:#767676; margin:0; border:none; width:235px; padding:5px 10px 5px 45px; background:url(../images/icon.png) no-repeat;}
.login_right ul li div.myinfo_fixed.Mobile_icon{ background-position:-350px -485px}

.login_right ul li span.err{margin:0 0 0 10px; color:#b0916a; line-height:50px;}
.login_right ul li label{ position:absolute; line-height:50px; left:50px; top:5px; color:#c4c4c4;  cursor:text; font-size:14px}
.login_right ul li.Coupons label{ position:absolute; line-height:50px; color:#c4c4c4;left:20px; cursor:text; font-size:14px}
.login_right ul li.Coupons{ border-bottom:1px #eaeaea solid; padding-bottom:40px; }


.login_right.Forget_box{ width:600px;}
.login_right ul li .send{ float:left; margin-left:10px; width:250px; color:#c4c4c4;}
.login_right ul li .send p{ width:250px; float:left; padding:0; margin:0;line-height:24px;}
.login_right ul li .send a{ margin:4px 100px 0 0; float:left;}
.login_right ul li .toModify{float:left; margin-left:10px; width:250px;}
.login_right ul li .toModify a{ margin:13px 8px 0 0; float:left;}
.login_right ul li samp{ margin:0 0 0 10px; line-height:50px; color:#c4c4c4}
.login_right ul li samp.red{color: #a5002f;}
.login_right ul li div.code{margin:7px 0 0 10px; float:left}
.login_right ul li .btn_c_box{margin:0 0 0 65px;}
.login_right ul li .btn_c_box .login_btn{padding:0 65px;*padding:0 35px;_padding:0 35px;}

.login_right ul li.Agreement{ height:35px; padding:10px 0; line-height:35px;}
.login_right ul li.Agreement em,.login_right ul li.sax em{ width:40px; height:35px; position:absolute; z-index:1; left:0; background:url(../images/ok.png) no-repeat; }
.login_right ul li.Agreement i,.login_right ul li.sax i{ width:15px; height:15px; position:absolute; display:block; z-index:-1px; margin:10px 0 0 4px; background:#f0f0f0;}
.login_right ul li.Agreement p,.login_right ul li.sax p{ line-height:35px; padding:0 0 0 30px}
.login_right ul li.Agreement p.Through{ color:#b0916a}
.login_right ul li.Agreement input{display:none}

.login_right ul li.sax div{ position:relative; float:left; width:80px;}



.login_box .back_right{ height:450px; float:left; width:360px; position:relative;}
.login_box .back_right a.back{ position:absolute; top:50%; margin-top:-32px; right:50px; display:block; width:110px; height:64px; line-height:64px; text-align:center; font-size:14px; background:url(../images/icon.png) no-repeat; background-position:-250px -365px;}
.login_box .back_right a.back:hover{background-position:-250px -429px;}
.login_box .back_right span{position:absolute; top:50%; margin-top:-32px; right:50px;}
.login_box .back_right span i{background:url(../images/icon.png) no-repeat;background-position:-203px -404px; width:38px; height:39px; display:block; float:left;}
.login_box .back_right span i.back{background-position:-250px -403px;}
.login_box .back_right span p{float:left; padding:0 0 0 5px; line-height:20px; font-size:14px}
.login_box .back_right span:hover{ color:#b0916a}
.login_box .back_right span:hover a{ color:#b0916a}
.login_box .back_right span:hover i{background-position:-203px -443px;}
.login_box .back_right span:hover i.back{background-position:-250px -442px;}
.login_box .back_right span:hover font.red{color:#b0916a}

/*登录成功*/
.login_box .login_v_left{ width:310px;}
.login_box .login_v_left span,.login_box .login_v_left p{text-align:right; display:block; width:100%; ;}
.login_box .login_v_left p.small{font-size:20px; line-height:20px; padding:0;}
.login_box .login_v_left span.f34{font-size:34px;}
.login_box .login_v_right{ width:600px;padding:120px 0 0 0; line-height:24px;}/*修改*/
.login_box .login_v_right span{font-size:18px; color:#313131;margin:0 10px}
.login_box .login_v_right p{ color:#767676;margin:0 10px}
.login_box .login_v_right .wallbox {}
.login_box .login_v_right .wallbox ul.activity_list li{ float:left; margin:5px; width:200px;}
.login_box .login_v_right .wallbox img{ width:200px;}
.login_box .login_v_right .Get_Integral{font-size:12px; color:#767676}
.login_box .login_v_right .Get_Integral samp{ color:#b0916a}
.login_v_right ul.activity_list li{ width:200px;}



input.login_btn{background:#b0916a; padding:0 65px;*padding:0 35px;_padding:0 35px;border:none; margin:2px; height:34px; color:#FFF; cursor:pointer; -moz-border-radius: 2px;/* Gecko browsers */-webkit-border-radius: 2px;   /* Webkit browsers */
border-radius:2px;/* W3C syntax */}
input.login_btn:hover{ background:#8B7860;}
input.login_btn.right20{margin-right:15px}

.login_box .login_right ul li dl dd{ float:left;margin-right:10px;}
.login_box .login_right ul li dl dd a{ background:url(../images/icon.png) no-repeat; }
.login_box .login_right ul li dl dd a.sina_weibo{ background-position:-8px -366px; width:30px; height:24px; display:block}
.login_box .login_right ul li dl dd a.alipay{background-position:-49px -366px; width:55px; height:24px; display:block}




/*用户中心*/
.user_box{ max-width:1200px; min-width:990px; margin:auto}
.user_title{ border-bottom:1px #d6d6d6 solid; padding:20px 0 10px 0}
.user_title p i{background:url(../images/icon.png) no-repeat; background-position:-8px -460px; display:block; width:160px; height:30px;}
.user_t_img{ width:160px; margin:auto; text-align:center}
.car_t_img{ width:400px; margin:auto; text-align:center}
.user_title p.car_t_img i{ background:url(../images/buy_car.png) no-repeat;width:400px; height:30px;}
.confirmation_t_img{ width:480px; margin:auto; text-align:center}
.user_title p.confirmation_t_img i{ background:url(../images/confirmation.png) no-repeat;width:480px; height:30px;}
.payment_t_img{ width:340px; margin:auto; text-align:center}
.user_title p.payment_t_img i{ background:url(../images/payment.png) no-repeat;width:340px; height:30px;}

.user_left{ width:206px; float:left; margin:0 20px 0 0;}
.user_left .showtime{ text-align:right; padding:20px 21px;}
.user_left .showtime span{ color:#d5d5d5; font-size:14px}
.user_left ul.user_nav{ padding:10px 0; width:164px; margin:auto; border-top:1px #eaeaea solid; border-bottom:1px #eaeaea solid;}
.user_left ul.user_nav li{ padding:6px 0; overflow:hidden}
.user_left ul.user_nav li a{float:left;}
.user_left ul.user_nav li i{background:url(../images/icon.png) no-repeat; margin:3px 0 0 5px; display:block; float:left;background-position:100px 100px; width:10px; height:10px;}
.user_left ul.user_nav li:hover i{background-position:-285px -105px}
.user_left .user_exit{ padding:20px 21px;text-align:right;}
dl.my_Interest{ width:100%; overflow:hidden; padding:10px 0 0 0;} 
dl.my_Interest dd{ width:100%; overflow:hidden; line-height:24px;}
dl.my_Interest dd em{background:url(../images/icon.png) no-repeat; margin:3px 0 0 5px; display:block; float:left;background-position:100px 100px; width:10px; height:10px;}
dl.my_Interest dd:hover em{background-position:-285px -105px}
dl.my_Interest dd span{ margin:8px 3px 0 10px; width:7px; height:7px; display:inline-block;  float:left;background:url(../images/icon.png) no-repeat -193px -68px;}



/*消息中心*/
.mynews_box{ margin-left:286px; float:none; width:auto}
.mynews_box ul.Select_view{ padding:18px 0 0 0; overflow:hidden;}
.mynews_box ul.Select_view li{ float:left; text-align:center; margin:0 50px 0 50px; cursor:pointer;}
.mynews_box ul.Select_view li span{ font-size:16px;}
.mynews_box ul.Select_view li p{ padding-bottom:5px; border-bottom:3px #D9E8EB solid; line-height:20px; width:auto; padding-bottom:0;}
.mynews_box ul.Select_view li.cur p{border-bottom:3px #7b9196 solid}
.login_right.mynews_box ul.view_list li .Review_nav{ margin:10px 30px 0 0;}
.login_right.mynews_box ul.view_list li .Review_nav ul li{ padding:0px;}
.show_new_img{ padding:30px 0;}
ul.view_list{ margin:20px 0 0 35px; overflow:hidden; min-height:200px; max-width:700px;}
ul.view_list.all_list{ margin:0 auto; overflow:hidden; min-height:200px; max-width:1000px; }
ul.view_list li{display:none; color:#767676}
ul.view_list.all_list li{ overflow:hidden}
ul.view_list li.cur{display:block}
ul.view_list dl.news_list dd{ overflow:hidden; line-height:24px; border-bottom:1px #d9e8ec solid; padding:5px 0;}
ul.view_list dl.news_list dd.Used samp + span{ color:#c4c4c4}
ul.view_list dl.news_list dd span{ width:27%; float:left; display:block; text-align:center}
ul.view_list dl.news_list dd samp{ width:46%; float:left; display:block; text-align:center;margin:0;line-height:24px; color:#767676}
ul.view_list dl.news_list dd.Used samp{color:#c4c4c4}
ul.view_list dl.news_list dd span a{ padding:0 20px;}
ul.view_list dl.news_list dd span.y_name{ width:15%; padding-left:20px; text-align:left}
ul.view_list dl.news_list dd span.y_name a{ width:auto; padding:0; display:block}
ul.view_list dl.news_list dd span.y_name a i{background:url(../images/icon.png) no-repeat -176px -18px; margin:5px 5px 0 0; width:19px; height:13px; display:block; float:left;s}
ul.view_list dl.news_list dd span.y_name a:hover i{ background-position:-176px -31px;}
ul.view_list li ul li{display:block}

.news_top{ text-align:right; border-bottom:1px #eaeaea solid; padding:10px 0 25px 0;}
.show-news{ color:#767676; padding:15px 0; line-height:24px;}
.show-news samp{ margin-left:130px;}
.show-news p.your_news{ padding:25px; background:#f2f6f7; width:70%; margin-top:10px;}
.show-news .mcake_Reply{ width:70%; float:right; text-align:right; margin:15px 0 0 0;}
.show-news .mcake_Reply div.Reply_box{padding:25px; background:#f2f6f7; position:relative}
.show-news .mcake_Reply div.Reply_box textarea{  border:none; width:100%; background:none; height:80px; text-align:left; color:#767676;}
.show-news .mcake_Reply div.Reply_box label{position:absolute; left:27px; top:21px; color:#c4c4c4; font-size:14px;}
.show-news .mcake_Reply div.Reply_bottom{ padding:10px 0;}
.show-news .mcake_Reply div.Reply_bottom span{ float:left}


/*会员卡*/
.login_right ul li .Activities_list{ overflow:hidden;line-height:0; width:760px; }/*修改*/
.login_right ul li .Activities_list li{float:left;border:2px #ffffff solid; position:relative; padding:0; margin:5px; line-height:0; cursor:pointer;}
.login_right ul li .Activities_list li p{position:absolute; background:rgba(0,0,0,.5);;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); /* For IE 8*/ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; width:100%; height:100%; bottom:0; }/*修改*/
.login_right ul li .Activities_list li.current:hover{ border:2px #a5002f solid}
.login_right ul li .Activities_list li.current p{ height:50px;}
.login_right ul li .Activities_list li p span{position:absolute;  left:0; height:40px; top:50%; margin-top:-20px;  width:100%; display:block;text-align:center; line-height:20px; color:#fff; font-size:13px; }

.login_right ul.Member_card_box{ color:#767676}
.login_right ul.Member_card_box li p span{ font-size:18px; color:#767676; line-height:30px; padding:0 10px 6px 0; display:inline}
.login_right ul.Member_card_box li p span.red{color: #a5002f;}
.login_right ul.Member_card_box li p.top_border{ padding-bottom:15px; max-width:700px; width:auto;}
.login_right ul.Member_card_box{ line-height:24px;}

.Level span{float:left}
.Level i{ float:left;background:url(../images/icon.png) no-repeat 100px 100px; width:14px; height:14px; display:inline-block; margin:4px 2px 1px 2px;}
.Level i.vip1{background-position:-5px -410px;}
.Level i.vip2{background-position:-23px -410px;}
.Level i.vip3{background-position:-41px -410px;}
.Level i.vip4{background-position:-58px -410px;}
.Level i.vip5{background-position:-76px -410px;}
.status span,.status p{float:left}

.login_right ul li.mynews{border-bottom:1px #d6d6d6 solid}
i.news_icon{background:url(../images/icon.png) no-repeat;background-position:-145px -12px;width:23px; height:20px; display:inline-block;}
.mynews span,.mynews i{ float:left}
.mynews i{margin-left:5px}
.order_list .view_list{ margin:0;}

ul.view_list dl.all_order_list dd{ overflow:hidden; line-height:24px; border-bottom:1px #d9e8ec solid; padding:5px 0;}
ul.view_list dl.all_order_list dd span{ width:25%; display:block; float:left; text-align:center;line-height:24px;}
ul.view_list dl.all_order_list dd samp{ width:10%;display:block; float:left; color:#767676; text-align:center;margin:0;line-height:24px;}
ul.view_list dl.all_order_list dd span.order_num{width:39%; text-align:left}/*修改*/
ul.view_list dl.all_order_list dd span a{ padding:0 20px;}

.mynews_box ul.Select_view.all_order_nav{ padding:18px 0 0 0; overflow:hidden;}
.mynews_box ul.Select_view.all_order_nav li{ float:left; text-align:center; margin:0 40px 0 0; cursor:pointer;}

.login_right ul li.Search{ margin-top:15px;}
ul.order_th{}
ul.order_th,ul.order_td{overflow:hidden}

ul.order_th li{ float:left; width:18%; padding:0; text-align:center; line-height:30px; font-size:14px}
ul.order_th li.order_pro{ width:25%}/*修改*/
ul.order_th li.order_Price,ul.order_th li.order_num{ width:10%}/*修改*/


ul.order_td li{ float:left; width:14%; padding:0; text-align:center; line-height:35px; background:#f2f6f7;}
ul.order_td li.order_pro{ width:30%}
ul.order_td li.order_Remarks,.order_Remarks_top,ul.order_td li.order_view{ width:99%; text-align:left; }
ul.order_td li.order_Remarks{background:#d9e8ec; margin-top:3px;border:1px #d9e8ec solid}
.order_Remarks_top{background:#f2f6f7; margin-top:3px; line-height:35px;}
ul.order_td li.order_Remarks span,.order_Remarks_top span{ padding:0 10px;}
ul.order_td li.order_view{border:1px #d9e8ec solid}
ul.order_td li.order_view table{ width:99%}
ul.order_td li.order_view td{line-height:20px;text-align:center;}
ul.order_td li.order_view td td{  padding:8px;}
a.Strip{ padding:2px 25px;}
ul.order_td li.order_view td.aleft{ text-align:left}
.border_right{ border-right:1px #d9e8ec solid;}
.border_bottom td{ border-bottom:1px #d9e8ec solid;}

div.my_markday{ border-top:1px #c4c4c4 solid; padding:20px 0;}
div.my_markday img{float:left}
div.my_markday span{ margin-left:10px; font-size:14px}
div.my_markday span a.go{padding:3px 30px; font-size:12px}
.login_right ul li.markday_btn{ text-align:center; padding:20px 0;}
div.fancy-select { margin: 0 auto 60px; width: 200px; } 

ul.Integral_buy_list{ padding-bottom:20px; overflow:hidden}
ul.Integral_buy_list li{ float:left; margin:0 20px 0 0; padding:0;}
ul.Integral_buy_list span{display:block}

li.border_top{border-top:1px #eaeaea solid; }


/*邀请好友*/
ul.view_list dl.all_order_list dd span.invite_State{ color:#7b9196; width:15%}
ul.view_list dl.all_order_list dd span.Final_State{ width:15%}
.invite_stat{ padding-top:30px;}
ul.invite_list{ padding-bottom:20px; overflow:hidden; width:410px; float:left}
ul.invite_list li{ float:left; margin:0 20px 0 0; padding:0;}
ul.invite_list li i{ width:60px; height:75px; background:url(../images/icon.png) no-repeat 100px 100px; display:block}
ul.invite_list li.level1 i{ background-position:0 -503px;}
ul.invite_list li.level2 i{ background-position:-65px -503px;}
ul.invite_list li.level3 i{ background-position:-130px -503px;}
ul.invite_list li.level4 i{ background-position:-195px -503px;}
ul.invite_list li.level5 i{ background-position:-260px -503px;}
ul.invite_list span{display:block; text-align:center}
.login_right ul li p.invite_Intro{ float:right; width:35%; line-height:24px; padding:20px 40px 0 0;}
.Sharing{padding:5px 0; display:block}
ul.Remote_payment.Acake_list{margin: 40px 80px 0px 80px; overflow:hidden}
ul.Remote_payment.Acake_list ul{overflow:hidden}
ul.Remote_payment.Acake_list ul li{width:50%; float:left}
ul.Remote_payment.Acake_list p{font-size:18px}


/*我的权益*/
.vip_box{ float:left; padding:1px 10px;}
.vip_title{font-size:18px}
.Level font{ font-size:14px; line-height:24px;}
ul.recommend_flow{ width:300px; float:left; margin:20px 0;}
ul.recommend_flow li{ line-height:20px;}
ul.recommend_flow li i{ background:url(../images/icon.png) no-repeat 100px 100px; width:14px; height:14px; display:inline-block; margin-top:5px; float:left; margin:2px 5px 0 0;}
ul.recommend_flow li em{background:url(../images/icon.png) no-repeat 100px 100px; width:10px; height:10px; display:inline-block; margin-top:5px; margin:4px 5px 0 5px;}
ul.recommend_flow li:hover em{ background-position:-285px -105px}
ul.recommend_flow li.flow1 i{ background-position:-5px -410px}
ul.recommend_flow li.flow2 i{ background-position:-23px -410px}
ul.recommend_flow li.flow3 i{ background-position:-41px -410px}
ul.recommend_flow li.flow4 i{ background-position:-58px -410px}
ul.recommend_flow li.flow5 i{ background-position:-76px -410px}
ul.recommend_flow li.Grey{color:#b9b9b9;filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter: grayscale(100%);}
.recommend_pro_img{ float:left; margin:80px 0;}



/*购物车*/
ul.order_th.buy_Cart li{ float:left; width:10%; padding:0; text-align:center; line-height:30px; font-size:14px}
ul.order_th.buy_Cart li.order_pro{ width:40%}
ul.order_td li.buy_car_list{ width:100%; float:left}
ul.order_td li.buy_car_list .aleft{ text-align:left}
ul.order_td li.buy_car_list td{line-height:20px;text-align:center;}
ul.order_td li.buy_car_list td.pro_left{padding:20px; line-height:20px; text-align:left;}
ul.order_td li.buy_car_list td.pro_left span.left{ float:left}
ul.order_td li.buy_car_list td.pro_left span.right{float:right}
ul.order_td li.buy_car_list td.pro_left span i{ background:url(../images/icon.png) no-repeat -170px -607px; width:10px; height:15px; display:inline-block}
ul.order_td li.buy_car_list td.Order_activity{padding:10px 20px; line-height:20px; text-align:left;}

ul.order_td li.buy_car_list td span.Discount i{ background:url(../images/icon.png) no-repeat -170px -607px; width:10px; height:15px; display:inline-block}

ul.order_td li.buy_car_list td.pro_left b{ padding:0; margin:0;}
ul.order_td li.buy_car_list .buy_pro_img{ float:left; margin:0 10px 0 0;}
ul.order_td li.buy_car_list .cake_num{margin:0 auto; overflow:hidden; width:56px;}
ul.order_td li.buy_car_list.cake_num dl{ margin:auto; float:none;}
ul.order_td li.buy_car_list .cake_num dl dd{ float:left; width:16px; height:20px; line-height:20px; font-size:16px; background:none; cursor:pointer}
ul.order_td li.buy_car_list .cake_num dl dd:hover{ color:#b0916a;}
ul.order_td li.buy_car_list .cake_num dl dt{float:left; width:24px; height:23px;}
ul.order_td li.buy_car_list .cake_num dl dt input{ width:24px; height:16px; background:none; color:#767676; margin-top:2px; border:none; text-align:center}
ul.order_td li.buy_car_list .cake_num dl dd.nopoint{ color:#CCC}
.border_top td{border-top:1px #d9e8ec solid;}
ul.buy_flow{width:880px; margin:30px auto 50px auto; overflow:hidden}
ul.buy_flow li{ float:left; width:176px; text-align:center; font-size:14px}
ul.buy_flow li p{ border-bottom:5px #d9e8ec solid; line-height:40px;}
ul.buy_flow li.cur{ color:#7b9196}
ul.buy_flow li.cur p{border-bottom:5px #7b9196 solid; }
ul.buy_flow li span{ color:#d9e8ec; margin:20px 0 0 0; display:inline-block;font-size:18px;}
ul.buy_flow li.cur span{color:#7b9196}
li.Total{ padding:0 0 40px 0; width:100%; overflow:hidden}
li.Total span{ margin:30px 0 10px 0; float:left;}
li.Total div.Total_all{float:right; max-width:400px;}/*修改*/
li.Total div.Total_all span{float:right}/*修改*/
li.Total div.Total_all span font{ margin-right:50px;}
li.Total div.Total_all div{ overflow:hidden; float:right}/*修改*/
li.Total div.Total_all div input{ float:right}
li.Total div.Total_all b{padding: 0; display:inline-block}
li.Total span samp{color:#b0916a}
li.Total span b{font-size:30px; color:#b0916a}

/*蛋糕是否切分下拉*/
.butchery i{background:url(../images/icon.png) no-repeat -150px -612px; width:10px; height:10px; display:inline-block}
.no_butchery i{ background-position:100px 100px; }
ul.view_list li .no_butchery{color:#CCC}
.butchery{position:relative; width:70px; display:inline-block; cursor:pointer;}
.butchery ul{position:absolute; width:100%; display:none; left:-17px; padding:3px 10px 10px 10px; background:#f2f6f7;}
.butchery ul li{width:100%; line-height:24px;cursor:pointer;}




/*订单确认*/
.address_box{ width:1000px; margin:auto}
.address_box  li{}
.address_box .title span{font-size:18px; padding:0 0 0 110px;}
ul.address_list,ul.delivery_time{ margin:10px 100px;}
ul.address_list li{line-height:40px; border-top:1px #d9e8ec solid; position:relative}
ul.address_list li.noborder{ border:none}
ul.address_list li span,.Choice_pay span,.picke span{position: relative;
width: 30px;
height: 35px;
display: inline-block;
float: left;
margin-top: 4px;}
ul.address_list li span em,.Choice_pay span em,.picke span em{ width:40px; height:35px; position:absolute; z-index:1; left:0; background:url(../images/ok.png) no-repeat; }
ul.address_list li span i,.Choice_pay span i,.picke  span i{ width:15px; height:15px; position:absolute; display:block; z-index:-1px; margin:8px 0 0 4px; background:#f0f0f0;}
ul.address_list li div.del_right{line-height:38px; position:absolute; right:0;top:0; *top:-5px;_top:5px}
ul.address_list li div.del_right font{ padding:0 10px; font-size:12px}
ul.address_list li div.del_right a{ padding:0 0 0 10px;}

/*修改*/
ul.address_list li div.pay_right{float:right; line-height:38px; position:absolute; right:0; top:-5px; *top:-15px;_top:-15px;}
ul.address_list li div.pay_right b{ font-size: 30px;color: #b0916a;line-height:38px; font-weight:normal}
ul.address_list li input[type='checkbox']{ display:none}
/*修改 end*/


ul.address_list li.btn_li_box{ padding:25px 0}
li.delivery_time_box{border-bottom:1px #c4c4c4 solid;border-top:1px #c4c4c4 solid ; padding:10px 0 25px 0; overflow:hidden;}
li.delivery_pay_box{border-bottom:1px #c4c4c4 solid;padding:10px 0 25px 0; overflow:inherit}
li.delivery_pay_box.line_top{border:none;border-top:1px #c4c4c4 solid;}

.delivery_time_box input.input_t{ height:40px; line-height:40px; float:left; font-size:16px;color:#767676; margin:0; border:none; width:300px; padding:5px 15px; background:url(../images/icon.png) no-repeat 100px 100px  #f0f0f0;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius:2px;}
.mytime{ position:relative}
.mytime label{ background:url(../images/icon.png) no-repeat -110px -405px; width:28px; height:28px; display:inline-block; position:absolute; top:11px; left:288px; z-index:10;}
.delivery_time_box b,.delivery_pay_box b{font-size:18px; font-weight:normal; line-height:50px;}
.delivery_time_box span{ line-height:30px; margin-left:15px;}

li.Choice_pay{line-height:40px;color:#c4c4c4}
li.Choice_pay{overflow:inherit}
li.Choice_pay div{ display:none;}
li.Choice_pay div.cur{ display:block}
li.Choice_pay div samp{ width:110px; height:30px;border:1px #d9e8ec solid; display:block; text-align:center; line-height:30px; margin:10px 0 0 25px; background:#f2f6f7; color:#767676; cursor:pointer; float:left; padding:1px;}
li.Choice_pay div p samp.cur{ padding:0;border:2px #A5002F solid; }
li.Choice_pay div p{overflow:hidden; line-height:30px; display:block; height:45px; *float:left;_float:left;*width:100%;_width:100%;}
li.Choice_pay div small{line-height:30px; margin:10px 0 0 25px; display:block; }
li.Choice_pay input[type='checkbox']{display:none}

.all_list li b{ font-weight:normal; font-size:18px; padding:30px 100px 10px 100px; display:block}
ul.pay_list{ margin:10px 10px 5px 20px; overflow:hidden;}
ul.pay_list li{float:left; margin:5px; line-height:0; cursor:pointer; }
ul.pay_list li img{ border:1px #d9e8ec solid; padding:1px;}
ul.pay_list li.cur img{ border:2px #A5002F solid; padding:0px;}

ul.Remote_payment{margin:10px 10px 5px 23px; *float:left;_float:left; width:auto}


ul.Remote_payment li{ padding:5px 0;*padding:2px 0;_padding:2px 0; position:relative; overflow:hidden}
input.input_t{ height:40px; line-height:40px; float:left; font-size:16px;color:#767676; margin:0; border:none; width:215px; padding:5px 15px 5px 45px; background:#f0f0f0; -moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius:2px; display:block;}
ul.Remote_payment input.input_t.input_address{ width:510px;}
ul.Remote_payment input.input_t.add_t{ width:238px;}
ul.Remote_payment input.input_t.input_time{ width:235px;outline:none;}
ul.Remote_payment li.time_icon{overflow:inherit}
ul.Remote_payment li label{ position:absolute; *z-index:1;_z-index:1;  height:30px; color:#ccc; display:inline-block; top:15px; left:10px;}

ul.Remote_payment li label i{width:30px; height:30px;background:url(../images/icon.png) no-repeat 100px 100px; float:left; display:inline-block}
ul.Remote_payment li label font{display:inline-block; float:left; line-height:30px; margin-left:4px; font-size:14px}
ul.Remote_payment li input[type='text']{ display:inline-block}
ul.Remote_payment li.Address_icon label i{ background-position:-243px -598px;}
ul.Remote_payment li.time_icon label i{ background-position:-302px -598px;}
ul.Remote_payment li.Payee_icon label i{ background-position:-361px -295px;}
ul.Remote_payment li.tel_icon label i{ background-position:-361px -497px;}
li.Choice_pay ul.Remote_payment li.Prompt{ line-height:20px;}
li.order_Total{ border-top:1px #c4c4c4 solid;margin:30px 0; }
li.order_Total ul{margin:30px 0}
li.order_Total ul li{ overflow:hidden; line-height:30px;}
ul.order_Total_left{ float:left; width:500px;}
ul.order_Total_left div{display:none}
ul.order_Total_left div small{ color:#c4c4c4;}
ul.order_Total_left p{ margin:0 0 0 10px; line-height:20px;}
ul.order_Total_left p.bottom10{ margin-bottom:10px;}
ul.order_Total_left input{float:none; width:50px;padding: 5px 15px 5px 15px;}
div.order_Total_right{ float:right; width:500px;}
div.order_Total_right ul {width:175px; float:right; overflow:hidden}
div.order_Total_right ul li{ line-height:24px;}
div.order_Total_right ul li span{float:left;}
div.order_Total_right ul li samp{float:right}
.Total_bottom{ border-top:#d9e8ec 1px solid; float:right; width:500px; text-align:right; padding:30px 0 0 0;}
.all_list li .Total_bottom b {
font-weight: normal;
font-size: 30px;
padding: 0;
display:inline-block;
color:#b0916a;
}




li.all_Total{ margin:30px 20px;}
li.all_Total b{ float:left;padding: 0 5px 0 0;}
li.all_Total samll{padding: 5px 30px 0 0; float:left; color:#c4c4c4}
li.all_Total ul li{ padding:5px 0;}
li.all_Total ul li samp{ float:left; line-height:50px; width:110px;}
li.all_Total ul li div{ position:relative; float:left}
li.all_Total ul li div label{ position:absolute; left:15px; top:18px; color:#c4c4c4}
li.all_Total ul li a{ margin-top:13px; float:left }
li.all_Total a samll{float:none;padding:0; font-size:9px; color:#fff; font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif}
input.brand_txt{ padding-left:15px; width:260px;}

ul.other_list{}
ul.other_list li span{position:relative; width:30px; height:20px; display:inline-block;}
ul.other_list li span em{ width:40px; height:35px; position:absolute; z-index:1; left:0; background:url(../images/ok.png) no-repeat; }
ul.other_list li span i,.Choice_pay span i{ width:15px; height:15px; position:absolute; display:block; z-index:-1px; margin:8px 0 0 4px; background:#f0f0f0;}
ul.other_list li input[type='checkbox']{display:none}
.other div,.other_1 div{display:none; width:100%; margin:0 0 0 35px;}
.other div input,.other_1 div input{float:none;}
.other div font.other_right,.other_1 div font.other_right{ margin:0 0 0 50px}
.other div.cur,.other_1 div.cur{display:block}
input.other_num{width:20px; padding-left:15px; padding-right:15px; display:inline-block}
.other .Invoice div{margin:0; margin-right:10px;}
.other .Invoice{ margin:15px 0 0 0;}
.Invoice input{ margin-left:10px; display:none; padding: 5px 15px 5px 15px;width: 270px;}
.Invoice input.cur{display:inline-block}
.Invoice font{ cursor:pointer; line-height:50px; margin-left:5px;}
li.all_Total ul li.Remarks samp{ width:65px}
li.all_Total ul li.Remarks input{width:700px;}

ul.my_add p.delivery{ padding-right:25px; line-height:24px; font-size:12px; float:right}
li.all_Total ul li a.link_line{ margin:5px;}


/*订单详情*/
.login_right ul.Dis_list { overflow:hidden; border-bottom:1px #CCC solid; border-top:1px #ccc solid; padding:30px 0; margin:30px 0; }
.login_right ul.Dis_list li b{font-size:18px; font-weight:normal}
.login_right ul.Dis_list li samp{ line-height:20px; padding:0 20px 0 0; margin:0;}
p.Dis_add{ padding:10px 0 40px 0; line-height:26px;}
.current_state{ width:100%; overflow:hidden}
.current_state ul{ float:left; width:400px;overflow:hidden; padding:10px 0;}
.current_state ul li samp{ padding:0; margin:0; line-height:30px;}
.state_right{float:right; padding:15px 50px 0 0;}
.state_right span{ display:block; width:155px; height:90px; background:#f2f6f7;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius:2px; margin:5px;}
.state_right span i{background:url(../images/icon.png) no-repeat 0px -675px; display:inline-block; width:50px; height:42px;margin:23px 0 0 20px; float:left}
.state_right span.COD i{ background-position:-50px -675px}
.state_right span.transaction_close i{background-position:-350px -675px}
.state_right span.Wait_delivery i{background-position:-200px -675px}
.state_right span.refund i{background-position:-200px -675px}
.state_right span.Refund_Success i{background-position:-300px -675px}
.state_right span.Distribution i{background-position:-150px -675px}
.state_right span.Adults i{background-position:-250px -675px}
.state_right span.Distribution i{background-position:-186px -633px}

.state_right span font{line-height:32px; display:inline-block; float:left; margin:29px 0 0 10px;}
.state_right span font.l_16{line-height:16px;}


/*现金券弹窗*/
ul.Remote_payment.Cash_coupon{ margin:40px 40px 0 40px;}
.Cash_coupon li{overflow:hidden}
.Cash_coupon li p{ float:left; color:#b0916a; padding:8px 0 0 15px}
input.coupon_txt{ padding-left:15px; width:418px;}
input.use_coupon_txt{ padding-left:15px; width:280px;}
input.Discount_txt{padding-left:15px; width:318px;}
ul.Remote_payment li.coupon_btn{ text-align:center; padding:15px 0 0 0; width:100%;}
ul.Remote_payment li.coupon_btn input[value='使用']{ }

ul.Remote_payment li .Discount_btn{ padding: 0 25px; margin:0; margin-left:5px; height:50px;background: #b0916a;;
border: none;
color: #FFF;
cursor: pointer;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;}

ul.Remote_payment.Cash_coupon li label{line-height:30px; padding-left:10px; color:#c4c4c4; display:inline-block}
ul.Remote_payment.Cash_coupon li b{ font-size:18px; font-weight:normal}
ul.Discount_list{ margin:5px 0;}
ul.Discount_list li span{ width:40%;display:inline-block}
ul.Discount_list li samp{ width:20%;display:inline-block}


div.datelist { float:left; overflow:hidden; width:378px; height:30px; position:relative}/*8.26修改*/

.datelist ul{position:absolute; left:0; width:100%;}
.datelist ul li{ float:left; width:54px; padding:0; cursor:pointer;}
.datelist ul li:hover{ color:#b0916a;}
.datelist ul li.cur{color:#b0916a;}
.datelist ul li span{display:block; text-align:center; line-height:15px; font-size:12px;}
.left_btn,.right_btn{ float:left; width:16px; height:30px; cursor:pointer; background:url(../images/icon.png) no-repeat -96px -602px;}
.right_btn{ background-position:-117px -602px}

.left_btn.uncur,.right_btn.uncur{  
filter:alpha(opacity=50);       /* IE */
-moz-opacity:0.5;              /* 老版Mozilla */
-khtml-opacity:0.5;              /* 老版Safari */
opacity: 0.5;           /* 支持opacity的浏览器*/
}


ul.Remote_payment.delivery_time_ul{ margin:60px 60px 0 60px;}
ul.Remote_payment.delivery_time_ul li{overflow:hidden}
ul.Remote_payment.delivery_time_ul li.select_down_box{ overflow:inherit; padding:30px 0; text-align:center}
ul.Remote_payment.delivery_time_ul li.select_down_box .select_down{ float:inherit; display:inline-block;}
.select_down.timeslot_txt .tag_select{ background-position:75px -578px; text-align:left}
.select_down.timeslot_txt .tag_select_open,.select_down.timeslot_txt .tag_select_hover{ background-position:75px -618px; text-align:left}
.select_down.timeslot_txt{ width:105px;}

.select_down.am_txt .tag_select{ background-position:46px -578px; text-align:left}
.select_down.am_txt .tag_select_open,.select_down.am_txt .tag_select_hover{ background-position:46px -618px; text-align:left}
.select_down.am_txt{ width:81px;}


.tag_options{text-align:left}

ul.address_list li div a.go{ padding: 3px 10px;margin:0px;}
ul.address_list li div.del_box{ position:absolute; right:-110px;height:30px; top:0px; width:100px;} 
li.buy_car_list div.del_box{position:absolute; left:0;height:30px; top:5px; width:100px;}
li.buy_car_list div.del_box a.go{ padding: 3px 10px;margin:0px;}
.pro_del_box{ position:relative; width:100px;}


/*订单支付*/
li.submit_c_box{ padding:20px 0; text-align:center;}


/*订单详情*/
.all_list div.pay_right{text-align:right; margin:10px 0 0 0;}
.all_list div.pay_right strong{ font-size: 30px;color: #b0916a;font-weight:normal}



/*下拉菜单美化*/
span.select_name{float:left; line-height:50px; margin-right:10px}
.login_right ul li.select_box{ overflow:inherit; padding:10px 0 40px 0;}
.select_down{ position:relative; float:left; height:50px; width:70px;margin-right:10px;}
.select_down span{display:block; text-align:center; color:#c4c4c4; line-height:30px; font-size:14px}
.select_year{ width:105px;}
.tag_select{display:block;color:#000;width:100%; text-indent:15px;-moz-border-radius: 2px;-webkit-border-radius: 2px;
border-radius:2px;= float:left;height:50px;background:url(../images/icon.png) no-repeat 35px -578px #f0f0f0;line-height:50px; color:#7D7D7D; font-size:18px; cursor:pointer} 
.select_year .tag_select{ background-position:65px -578px;}
.tag_select_hover,.tag_select_open{background-position:35px -618px;} 
.select_year .tag_select_open,.select_year .tag_select_hover{ background-position:65px -618px;}

.time_txt .tag_select{ background-position:150px -578px;}
.time_txt .tag_select_open,.time_txt .tag_select_hover{ background-position:150px -618px;}
.time_txt{ width:185px; margin-left:10px;}

.add_txt .tag_select{ background-position:70px -578px;}
.add_txt .tag_select_open,.add_txt .tag_select_hover{ background-position:70px -618px;}
.add_txt{ width:105px;}

.f_txt .tag_select{ background-position:90px -578px;}
.f_txt .tag_select_open,.f_txt .tag_select_hover{ background-position:90px -618px;}
.other div.f_txt{ width:125px;}


ul.tag_options{position:absolute;margin:0; top:48px;left:0;list-style:none;background:#f0f0f0;padding:0 0 10px 0; margin:0;width:100%;height:auto; overflow:hidden; overflow-y:auto; font-size:12px; cursor:pointer; z-index:1000 } 
ul.tag_options li{ display:block;width:100%; text-indent:15px;height:20px;text-decoration:none;line-height:20px; padding:3px 0;font-weight:normal; font-size:14px} 
ul.tag_options li.open_hover{color:#b0916a;} 
ul.tag_options li.open_selected{color:#b0916a;} 


/*弹窗*/
.tc-con-b-1{
	width:730px; 
	height:440px;
    margin-left:-365px!important;/*FF IE7 该值为本身宽的一半 */
    margin-top:-220px!important;/*FF IE7 该值为本身高的一半*/
}
.tc-con-b-2{
	width:730px; 
	height:540px;
    margin-left:-365px!important;/*FF IE7 该值为本身宽的一半 */
    margin-top:-270px!important;/*FF IE7 该值为本身高的一半*/
}
.tc-con-b-3{
	width:550px; 
	height:320px;
    margin-left:-275px!important;/*FF IE7 该值为本身宽的一半 */
    margin-top:-160px!important;/*FF IE7 该值为本身高的一半*/
}
.tc-con-b-4{
	width:410px; 
	height:250px;
    margin-left:-205px!important;/*FF IE7 该值为本身宽的一半 */
    margin-top:-125px!important;/*FF IE7 该值为本身高的一半*/
}

.tc-con-b-5{
	width:360px; 
	height:190px;
    margin-left:-180px!important;/*FF IE7 该值为本身宽的一半 */
    margin-top:-95px!important;/*FF IE7 该值为本身高的一半*/
}




ul.my_add{width:320px; float:left; margin-right:0px;}
ul.my_add p{font-size:18px; }
ul.my_add p span{ float:left; width:auto;}
ul.my_add p samp{ float:right; font-size:12px; width:150px;height:24px; line-height:24px; color:#767676}
ul.my_add span{ font-size:12px}
ul.my_add li.picke { overflow:hidden;}
ul.my_add li.picke  p{float:left; width:240px;}
ul.my_add li.picke  span{float:left;height:24px; line-height:24px; color:#767676}
ul.my_add li.picke i{ margin: 4px 0 4px 4px;}
ul.my_add li{}
.my_add_right .btn_box{ margin:30px 0 0 0;}
ul.my_add li p.Remind{float:left; display:block; font-size:12px; line-height:24px; width:100%;}
div.my_add_right{ float:right; width:364px;}
div.my_add_right ul{float:right; margin:5px 10px;}
div.my_add_right ul li{float:left; font-size:12px}
div.my_add_right ul li i{ width:21px; height:4px; display:inline-block; margin:0 4px 0 10px;}
div.my_add_right ul li.map_yelow i{background:#f2c649}
div.my_add_right ul li.map_blue i{background:#5e86d2}
div.my_add_right ul li.map_red i{background:#c23569}
li.btn_box input.login_btn {padding: 0 60px;*padding: 0 40px; _padding: 0 40px;}

input.login_btn.Cash_card,input.login_btn.Exclusive_card, input.login_btn.Pay_for{padding: 0 55px;*padding: 0 35px; _padding: 0 35px;}
.Cash_coupon li p.no_use{padding:30px 0 20px 0;text-align:center; color:#767676; width:100%;}
.Cash_coupon li ul.red_box_list p{ display:inline-block; padding:3px 0; float:none; color:#767676;}
.Cash_coupon li ul.red_box_list{ margin:0 0 0 75px; width:300px;}
.Cash_coupon li ul.red_box_list li input[type='checkbox']{ display:none}

.red_box_t{ padding:15px 0 0 75px; float:left}
.Cash_coupon li p.pay_for{padding:30px 0 20px 0; color:#767676; text-align:center; width:100%;}
.close_box input.login_btn{padding: 0 58px}
ul.Remote_payment li.close_txt{text-align:center;padding:20px 0}

ul.Remote_payment li.li_drop_down{ overflow:visible; position:!important;}


/*帮助中心*/
ul.help_all a:link,ul.help_all a:visited,ul.help_all a:active{color: #7b9196;}
ul.help_all a:hover{color: #7b9196;}

.help_t_img{ width:165px; margin:auto; text-align:center}
.user_title p.help_t_img i{ background:url(../images/help.png) no-repeat;width:165px; height:30px;}
.help_left{ width:70%; float:left;}
ul.help_all{ padding:2px 53px 10px 10px; overflow:hidden; min-width:710px;}
ul.help_all h1{ font-size:18px; font-weight:normal; padding-left:15px;}
ul.help_all li{overflow:hidden; padding:0;}
ul.help_all ul li{float:left;}
ul.help_all ul li + li{float:left; margin-left:30px;}
ul.help_all ul.tag_list{overflow:hidden; padding:0 0 25px 15px;}
ul.help_all ul.tag_list li a{ padding:8px 20px; background:#d9e8ec; display:inline-block;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius:3px;}
ul.help_all ul.teach_list{overflow:hidden; padding:25px 0 40px 0; font-size:14px}
ul.help_all ul.teach_list li{margin:0; width:108px; text-align:center}
ul.help_all ul.teach_list li a{ display:inline-block;  margin:auto}
ul.help_all ul.teach_list li a i{background:url(../images/help_icon.png) no-repeat; display:block; margin:auto; width:40px; height:40px;}
ul.help_all ul.teach_list li a span{display:block; margin-top:5px;}
ul.help_all ul.teach_list li.quick_icon a i{ background-position:0px 0px;}
ul.help_all ul.teach_list li.Choose_icon a i{ background-position:-40px 0px;}
ul.help_all ul.teach_list li.process_icon a i{ background-position:-80px 0px;}
ul.help_all ul.teach_list li.pay_icon a i{ background-position:-120px 0px;}
ul.help_all ul.teach_list li.Cash_icon a i{ background-position:-160px 0px;}
ul.help_all ul.teach_list li.advocates_icon a i{ background-position:-200px 0px;}
ul.help_all ul.teach_list li.online_icon a i{ background-position:0px -40px;}
ul.help_all ul.teach_list li.phone_icon a i{ background-position:-40px -40px;}
ul.help_all ul.teach_list li.mail_icon a i{ background-position:-80px -40px;}
ul.help_all ul.teach_list li.Mem_card_icon a i{ background-position:-120px -40px;}
ul.help_all ul.teach_list li.Mem_rating_icon a i{ background-position:-160px -40px;}
ul.help_all ul.teach_list li.Mem_integral_icon a i{ background-position:-200px -40px;}
.Artificial{ float:left}
.Member_Rights{ float:right}



.help_right{width:30%; float:left}
.help_right input.input_txt{ height:40px; line-height:40px; float:left; font-size:18px;color:#767676; margin:0; border:none; width:235px; padding:5px 10px 5px 45px; background:url(../images/icon.png) no-repeat  #f0f0f0;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius:2px;}
.help_right input.input_txt.Search_icon{ background-position:-350px -585px}
.help_right .Search_box{position:relative; display:block; margin-top:35px; overflow:hidden;}
.help_right .Search_box label{ position:absolute; line-height:50px; left:50px;  cursor:text; font-size:14px}
ul.Q_list{ margin-top:20px; width:60%; border-top:1px #eaeaea solid; padding:10px 0}
ul.Q_list li{line-height:30px}

/*关于我们*/
.about_t_img{ width:165px; margin:auto; text-align:center}
.user_title p.about_t_img i{ background:url(../images/about_t.png) no-repeat;width:165px; height:30px;}
.user_left ul.user_nav li.contact_left{ color:#7b9196; line-height:24px; margin-top:40px;}
.user_left ul.user_nav li.contact_left span{font-size:14px; margin-bottom:5px; display:block;}
.user_left ul.user_nav li.contact_left p{ margin-left:20px;}
ul.about_txt{margin:0 0 200px 0; }
ul.about_txt li + li{text-indent:25px;}
.help_all li ul.Select_view { margin-top:40px}
.help_all li ul.Select_view li p{ font-size:18px; padding-bottom:5px;}
.help_all li ul.view_list li p{width:auto}
.help_all li ul.view_list li{width:93%}
.help_all li ul.view_list{margin: 20px 0 0 45px; max-width:800px;}



/*我的订单 新弹窗*/
ul.Review_box{ width:675px; margin:0 15px 0px 15px}
ul.Review_box li{overflow:hidden}
ul.Review_box li + li{ border-top:1px #c4c4c4 solid; padding-top:15px; margin-top:15px;}
ul.Review_box .left_Review{ float:left; width:110px;}
ul.Review_box .left_Review p span{ float:right; margin-top:3px}
ul.Review_box .left_Review p  b{ font-size:18px; font-weight:normal}
ul.Review_box .right_Review{float:left; padding-left:10px; width:535px; overflow:hidden; line-height:24px;}
ul.Review_box .right_Review samp{ background:#d9e8ec;color:#767676; padding:0 5px 2px 5px; -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius:3px; cursor:pointer}
ul.Review_box .right_Review samp:hover{ color:#b3b3b3}
ul.Review_box .right_Review samp.cur{ background:#7b9196;color:#fff;}


ul.Review_box .right_Review p{ padding:10px 15px 0 10px;}
ul.Review_box .right_Review p textarea{ width:100%; height:90px; border:none;}
div.Review_box{ width:695px; margin-bottom:25px}


.tc-con-order{
	width:auto;
	height:auto;
	background:#f2f6f7;
	margin-left:-377px;
    margin-top:-90px;
	padding:0; 
	margin:0 auto;
	position:absolute;
	z-index:99999; 
	_position:absolute;
	font-size:14px;
	left:50%;/*FF IE7*/
    top: 50%;/*FF IE7*/
    margin-top:0px;
    position:fixed!important;/*FF IE7*/

}
.re_btn_box { text-align:center; margin: 10px 15px 0px 15px;border-top:1px #c4c4c4 solid; padding-top:10px;}
.re_btn_box  input{ background:#b0916a; border:none; padding:8px 60px; color:#fff; -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius:3px;cursor:pointer}


.Complaint_btn_box { text-align:center; margin: 10px 0; padding-top:10px;}
.Complaint_btn_box  input{ background:#b0916a; border:none; padding:8px 60px; color:#fff; -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius:3px; margin:5px 15px; cursor:pointer}

.Complaint_box{ margin:0 15px 25px 15px; width:700px;}
.Complaint_t{text-align:center; font-size:18px;}
.Complaint_textarea textarea{ width:100%; height:120px; margin-top:20px; border:none;}
.Complaint_textarea p{text-align:right; padding:5px 0;}
.Complaint_box ul{overflow:hidden}
.Complaint_box ul li{float:left; margin-right:15px; position:relative; cursor:pointer; line-height:0;}
.Complaint_box ul li .del{ position:absolute; bottom:0px; height:25px; text-align:center; width:100%; line-height:25px;background:rgba(0,0,0,.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); /* For IE 8*/ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; color:#fff;}
p.Tagging{ padding:10px 0 0 0;font-size:12px;}
p.Complaint_c{ padding:0 0 20px 0; }
p.complaint_time{ padding:10px 0; text-align:right;}





/*红包*/
.user_left.w240{width:240px; margin-right:20px;}
.red_box{ padding:15px;background:#f2f6f7; overflow:hidden;cursor: pointer;}
.red_box .red_left,.red_box .red_right{ float:left; margin-top:20px;}
.red_box .red_right{ padding-left:10px; position:relative; height:65px;}
.red_box .red_right span{font-size:21px}
.red_box .red_right .vip_box{ position:absolute; bottom:0;padding:0;}
.red_view{ margin:10px 0; border-top:1px #c4c4c4 solid}
.red_view p{ padding:10px 0 20px 0}
.red_view p span{ font-size:20px}
.red_view a{margin:0 40px; height:40px; padding: 8px 15px;}

.mt_100{margin-top:100px;}
.blue_bg{ background:#d9e8ec; padding:35px; border-bottom:2px #7b9196 solid}
.blue_bg_1{ background:#fff; padding:35px; border-bottom:2px #d9e8ec solid}

.red_box .red { padding:10px 0;}
.red_box .red span{font-size:40px; padding-right:5px;}
.countdown{ text-align:center; margin-top:25px;}
.countdown span{ font-size:40px; padding:0 5px;}
.countdown samp{font-size:18px}

.red_box_right{ padding:0;margin-left: 275px;}
.Welfare{ height:235px; background:url(../images/red_right.jpg) no-repeat right bottom;}
.Welfare p{ padding:60px 0 0 0; font-size:16px; line-height:26px; position:relative}
.Welfare p:after {
content: '';
position: absolute;
top:110px;
left: 340px;
width: 30px;
height: 30px;

background:url(../images/rocket.png) no-repeat;

}
.Welfare p span{ font-size:30px; color:#a5002f; padding-bottom:8px; display:inline-block}
.Luck_draw{ margin-top:20px; overflow:hidden}
.Luck_draw .right{ width:30%; float:right;}
.Luck_draw .left{ width:70%; float:left; position:relative}
.Luck_draw .right .right_box{ padding:25px 15px;width:190px; float:right; background:#f2f6f7;}
.Luck_draw .right .right_box span{ font-size:20px}
ul.rules_list{ margin-top:10px; border-top:1px #c4c4c4 solid; padding-top:15px;}
ul.rules_list li small{ float:left; display:block; width:20px; font-size:12px;line-height:20px;}
ul.rules_list li p{float:left; display:block; width:155px; line-height:20px;}

.red_list{ padding:0 20px 10px 20px;}
.red_list th{ height:30px; font-size:13px}
.red_list tr+tr{cursor:pointer}
.red_list tr.cur td{ background:#d9e8ec; }
.red_list td{height:30px; text-align:center; font-size:12px}
.Use_red_btn{ margin:10px 0 30px 0;}
.Use_red_btn a{margin:0  auto;  padding: 8px 15px; text-align:center; width:150px; display:block}

/*红包抽奖*/
.login_right .game{position:relative; width:463px; height:481px; margin:auto; padding-right:10px;}
.login_right .game li{position:absolute; width:145px; height:168px; background:url(../images/fw.png) no-repeat; text-align:center; line-height:168px; font-size:24px; color:#767676; padding:0;} 
.login_right .game li.cur{ color:#fff;background-position:-290px 0;}
.login_right .game li span{font-size:36px}
.login_right .game li#win1{left:78px; top:0;}
.login_right .game li#win2{left:242px; top:0;}
.login_right .game li#win3{left:319px; top:142px;}
.login_right .game li#win4{left:242px; top:282px;}
.login_right .game li#win5{left:78px; top:282px;}
.login_right .game li#win6{left:0; top:142px;}
.login_right .game li.win_btn{left:160px; top:142px;  background:url(../images/fw_c.png) no-repeat; background-size:100%; color:#FFF; cursor:pointer}
.login_right .game li.win_btn p{ line-height:25px; width:100%; padding:55px 0; font-size:22px}
#mesBox{background:rgba(242,246,247,.95);_background:#f2f6f7;_filter:alpha(opacity=95);*background:#f2f6f7;*filter:alpha(opacity=95);background:#f2f6f7\0/;filter:alpha(opacity=95)\0/; width:410px; height:255px; position:absolute; top:100px; left:50%; margin-left:-205px; display:none;}

.mesbox{width:410px; height:255px;background:#f2f6f7}
#mesBox p,.mesbox p{ text-align:center; font-size:18px; padding-top:80px; width:100%;}
#mesBox a.go,.mesbox a.go{margin:20px auto 0 auto;; padding: 8px 20px;display:block;  width:180px; text-align:center}
#text{width:410px; height:150px;}
.blue{ color:#7b9196;}

.xuanz{animation:myfirst 0.5s;
-moz-animation:myfirst 0.5s ; /* Firefox */
-webkit-animation:myfirst 0.5s; /* Safari and Chrome */
-o-animation:myfirst 0.5s; /* Opera */	}

@keyframes myfirst
{
from {transform:rotate(0deg);  }
to { transform:rotate(360deg);  }	
}

@-moz-keyframes myfirst
{
from {-moz-transform:rotate(0deg);  }
to {-moz-transform:rotate(360deg);  }
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
from {-webkit-transform:rotate(0deg);  }
to {-webkit-transform:rotate(360deg);  }
}

@-o-keyframes myfirst /* Opera */
{
from {-o-transform:rotate(0deg);  }
to { -o-transform:rotate(360deg);  }
}

/*订单确认页新增*/
li.all_Total ul li.addTableware{padding:0;}
li.all_Total ul li.addTableware p{float:left; margin-top:10px; width:250px;}
li.all_Total ul li.addTableware p span{float:left}
li.all_Total ul li.addTableware p small{float:left}
li.all_Total ul li.addTableware p small em{font-style:normal; color:#b0916a;}
li.all_Total ul li.addTableware div{width:150px; margin:0;}
li.all_Total ul li.addTableware div .other_right{margin:0;}

/*快速登录*/
ul.Remote_payment.quick_login{ width:290px; height:320px;margin: 10px;}
.quick_login li.import{ position:relative}
ul.Remote_payment li.quick_txt{border-bottom:1px #b0916a solid; padding:0 0 10px 0; margin-bottom:15px;}
.quick_login li.import label {
position: absolute;
line-height: 50px;
left: 50px;
top: 5px;
color: #c4c4c4;
cursor: text;
font-size: 14px;
}
.quick_login li input.input_txt {
height: 40px;
line-height: 40px;
float: left;
font-size: 18px;
color: #767676;
margin: 0;
border: none;
width: 235px;
padding: 5px 10px 5px 45px;
background: url(../images/icon.png) no-repeat #f0f0f0;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}
.quick_login li input.input_txt.user_icon {
background-position: -350px -285px;
}
.quick_login li input.input_txt.password_icon {
background-position: -350px -335px;
}
.warn{ text-align:center; color:#b0916a; padding:5px 0 20px 0; line-height:24px;}
.link_c{ text-align:center}
.pay_Remind{ padding:0 0 0 30px; color:#b0916a}

ul.Remote_payment.pay_msg{width:355px; height:180px;margin: 10px;}
ul.Remote_payment.pay_msg .login_btn{ width:45%; padding:0;}
ul.Remote_payment.pay_msg li.pay_v{ padding:60px 0 0 0;}
p.pay_msg_txt{ text-align:center; padding:30px 0 20px 0}



/*邀请好友*/
ul.Remote_payment.create_box{ margin:20px 40px 25px 40px;;}
.create{ margin:0 30px; overflow:hidden}
.create li{ width:120px; height:130px; float:left; position:relative; cursor:pointer;}
.create li a{display:block; height:130px;}
.create li span{ margin-top:80px; display:block; text-align:center}
.create li:hover span{ color:#b0916a;}
.create li em{
content: '';position: absolute;
top: 0;
left:0;
background-image:url(../images/create_link.png);
background-repeat: no-repeat;
display:block;
}

.create li.pc_link em{
	width:62px; height:56px;
	background-position:0 -1px;
	left:50%; margin-left:-31px;
	top:50%; margin-top:-48px;
}
.create li.pc_link:hover em{background-position:0 -65px;}
.create li.wap_link em{
	width:34px; height:58px
	background-position:-81px 0;
	left:50%; margin-left:-17px;
	top:50%; margin-top:-49px;
}
.create li.wap_link:hover em{background-position:-81px -64px;}


/*注册成功*/
.tc-con-order1{
	width:657px;
	height:324px;
	background:url(../images/Popup_bg.jpg) no-repeat;
	margin-left:-377px;
    margin-top:-90px;
	padding:0; 
	margin:0 auto;
	position:absolute;
	z-index:99999; 
	_position:absolute;
	font-size:14px;
	left:50%;/*FF IE7*/
    top: 50%;/*FF IE7*/
    margin-top:0px;
    position:fixed!important;/*FF IE7*/

}
.Popupbox{margin:57px 0 0 0;width:auto;}
.registeredbox{margin:auto;overflow:hidden;text-align:left;*width:360px;_width:360px;*float:left;_float:left;*padding-left:30px;_padding-left:30px;color:#fff;float:left;padding:0 0 0 -20px}
.registeredbox li span{font-size:24px; }
.registeredbox li font{color:#aeaeae}
.select-box{padding:20px 10px 0 0;float:right;*margin:;_float:left}
.select-box a{display:block;float:left;margin:0px 5px 30px 5px;}
.mouse_after{padding:7px 0 0 0}
.Pro_Locationleft{width:180px;height:233px;margin: -90px 0 0 -40px;float:left}
.Pro_Locationright{float:right;margin:10px 0px 0 0;*margin:-130px -10px 0 0;_margin:-130px -10px 0 0}





/*双十一新增*/

.tc-con-111{ width:560px; height:390px;background:url(../images/bg_inner_01.png); padding:0;margin:0 auto;
    -webkit-box-shadow: 0px 0px 0px #999;
	-moz-box-shadow: 0px 0px 0px #999;
	box-shadow: 0px 0px 0px #999;
	position:absolute;
	z-index:99999; 
	_position:absolute;
	font-size:14px;
	left:50%;/*FF IE7*/
    top: 50%;/*FF IE7*/
    margin-left:-280px!important;/*FF IE7 该值为本身宽的一半 */
    margin-top:-195px!important;/*FF IE7 该值为本身高的一半*/
    margin-top:0px;
    position:fixed!important;/*FF IE7*/
    position:absolute;/*IE6*/
    _top: e­xpression(eval(document.compatMode &&
            document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/

}







.tc-con-1{ height:100%; text-align:center;position:relative }
.tc-con-1 p{ padding-top: 20px;}
.tc-cover{width:100%;height:100%;position:absolute;z-index:200;top:0px;left:0px;opacity:0.5;-moz-opacity:0.5;filter:alpha(opacity=50);background-color:#000}

.close{width:30px; height:30px; display:block; position:absolute; top:0px; right:0px; background:url(../images/close.png) no-repeat center center; text-indent:-9999px; z-index:10000;}
.change_btn{
	width:180px;
	height:48px;
	border:3px #fff solid;
	margin:auto;
	margin-top:20px;
	background:url(../images/change_on.png) no-repeat center center;
	cursor:pointer;
}
.change_btn:hover{
	border:3px #69b8b8 solid;
}
