<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<include file="Public/head"/>
<body>
<div class="concent">
    <!--头部-->
    <include file="Public/header"/>
    <!--头部结束-->
    <div class="login-con">
        <div class="login-con-left fl">
            <span><img src="__IMG__/tutou.png" width="507px" height="435px"/></span>
        </div>
        <div class="login-con-right fr">
            <div class="tab right-title">
                <ul>
                    <li  title="zhu"><a href="{:U('Member/index/regist')}">用户注册</a></li>
                    <li class="other" title="deng"><a href="{:U('Member/index/login')}">直接登录</a></li>
                </ul>
            </div>
            <div class="nei">
                <!--登录-->
                <div class="deng">
                    <form action="{:U('Member/index/login')}" method="post">
                        <input type="text" name="username" id="username" value="" placeholder="用户名/邮箱地址"/>
                        <input type="password" name="password" id="password" value="" placeholder="密码"/>
                        <span class="forget"><a href="{:U('User/renpassword')}">忘记密码</a></span>
                        <button class="button" id="submit" type="submit">直接登录</button>

                    </form>
                </div>
                <!--登录end-->
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <include file="Public/footer"/>
</div>
<script>
    function mycheck(obj)
    {  var fn=obj.src;
        fn=fn.substring(fn.lastIndexOf("/")+1);
        if(fn=='checked.png'){
            obj.src='__IMG__/checks.png';
            obj.previousSibling.checked = false;
            document.getElementById("submit").disabled = true;

        }else{
            obj.src='__IMG__/checked.png';
            obj.previousSibling.checked = true;


        }
    }


</script>
<script>
    $(function() {
        $('label').click(function(){
            var radioId = $(this).attr('name');
            $('label').removeAttr('class') && $(this).attr('class', 'checked');
            $('input[type="radio"]').removeAttr('checked') && $('#' + radioId).attr('checked', 'checked');
        });
    });
</script>

</body>
</html>
