<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<include file="Public/head"/>
<body>
<div class="concent">
    <!--头部-->

    <include file="Public/header"/>
    <!--头部结束-->
    <div class="login-con">
        <div class="login-con-left fl">
            <span><img src="__IMG__/tutou.png" width="507px" height="435px"/></span>
        </div>
        <div class="login-con-right fr">
            <div class="tab right-title">
                <ul>
                    <li class="other"   title="zhu"><a href="{:U('Member/index/regist')}">用户注册</a></li>
                    <li title="deng"><a href="{:U('Member/index/login')}">直接登录</a></li>
                </ul>
            </div>
            <div class="nei">
                <!--注册-->
                <div class="zhu">
                    <p class="zip">我是</p>
                    <form action="{:U('Member/index/regist')}" method="post" name="form1" class="form1">
                        <div class="fl dis-frist dis">
                            <input type="radio" id="nba" checked="checked" name="user_type" value="1">
                            <label name="nba" class="checked" for="nba">厂商设置</label>

                        </div>
                        <div class="fl dis-second dis">
                            <input type="radio" id="cba" checked="checked" name="user_type" value="2">
                            <label name="cba" for="cba">个人设置</label>
                        </div>
                        <div class="fl dis-third dis">
                            <input type="radio" id="mba"  checked="checked" name="user_type" value="3">
                            <label name="mba" for="mba">个人代理</label>
                        </div>
                        <div class="clear"></div>
                        <input type="text" name="username"id="username"  placeholder="用户名" class="ym" value=""/><br />
                        <div id="username_mu"></div>
                        <input type="text" name="email" id="email" placeholder="邮箱" class="ym" value=""/><br />
                        <div id="email_mu"></div>
                        <input type="password" name="password" id="password" placeholder="密码" class="ym" value=""/><br />
                        <div id="password_mu"></div>
                        <input type="checkbox" style="vertical-align:middle; display:none;"/>
                        <img src="__IMG__/checks.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                        <span class="agree" id="agree">同意条款服务</span><br />
                        <button class="button" id="submit" type="submit">立即注册</button>
                    </form>
                </div>
                <!--注册end-->
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <include file="Public/footer"/>
</div>
<script>
    $(function(){
        $(".tab > ul > li").click(tab);
        function tab(){
            $(this).addClass('other').siblings().removeClass('other');
            var $tab = $(this).attr('title')
            $("." + $tab).show().siblings().hide();
        }
    })


    function mycheck(obj)
    {  var fn=obj.src;
        fn=fn.substring(fn.lastIndexOf("/")+1);
        if(fn=='checked.png'){
            obj.src='__IMG__/checks.png';
            obj.previousSibling.checked = false;
            window.form1.submit.disabled=true;
           // document.getElementById("regist").disabled = true;

        }else{
            obj.src='/checked.png';
            obj.previousSibling.checked = true;


        }
    }
    $(function() {
        $('label').click(function(){
            var radioId = $(this).attr('name');
            $('label').removeAttr('class') && $(this).attr('class', 'checked');
            $('input[type="radio"]').removeAttr('checked') && $('#' + radioId).attr('checked', 'checked');
        });
    });

    $(function() {
        var ok1 = false;
        var ok2 = false;
        var ok3 = false;
        $("#username").blur(function () {
            var username = $('#username').val();
            if (username == "") {
                $("#username_mu").empty();
                $("#username_mu").append('请填写正确的用户名');
            } else {
                $("#username_mu").empty();
                var handlurl = '{:U("valname","","")}';
                $.get(handlurl, {username: username}, function (data) {
                    if (data == 1) {
                        $("#username_mu").empty();
                        $("#username_mu").append('用户名已经存在,请重新填写');
                    } else {
                        $("#username_mu").empty();
                        ok1 = true;
                    }

                });

            }
        });
        $("#email").blur(function () {
            var email = $('#email').val();
            if (email == "") {
                $("#email_mu").empty();
                $("#email_mu").append('邮箱不能为空。请填写正确的邮箱号码');
            } else {
                $("#email_mu").empty();
                var reg = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/;
                if (!reg.test(email)) {
                    $("#email_mu").append('邮箱号码不合格请检查后在重新填写');
                    return false;
                } else {
                    ok2 = true;
                }
        }
    });
    $("#password").blur(function () {
        var password=$('#password').val();
        if(password == "")
        {
            $("#password_mu").empty();
            $("#password_mu").append('密码不能为空');
            return false;
        }else{
            $("#password_mu"
            ).empty();
            if(password.length<= 6)
            {
                $("#password_mu").append('请填写大于6位数字的密码');
                return false;
            }else
            {
                ok3= true;
            }
        }

    } );

        $('#submit').click(function(){
            if(ok1 && ok2 && ok3){
                $('form1').submit();
            }else{
                return false;
            }
        });
    })

</script>
</body>
</html>
