<extend name="User/renpassword" />

<block name="style"></block>
<block name="mail">
    <div class="tab passw-top-title">
        <ul>
            <li title="zhang">1.填写账号信息</li>
            <li title="email">2.验证邮箱</li>
            <li class="passactive" title="passw">3.设置密码</li>
            <li class="passactive" title="scuess">4.修改成功</li>
        </ul>
    </div>
    <!--修改成功-->
    <div class="scuess">
        <h3>密码修改成功</h3>
        <a href="{:U('Index/index')}" class="return">返回首页</a>   
    </div>
    <!--修改成功结束-->
</block>

<block name="script"></block>