<extend name="Index/index" />
<block name="con">
<div class="__PUBLIC__/Admin/production/col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>权限列表</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                	<a href="#"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-wrench"></i></a>
                    <ul role="menu" class="dropdown-menu">
                        <li>
                        	<a href="#">Settings 1</a>
                        </li>
                        <li>
                        	<a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                	<a href="#"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div role="grid" class="dataTables_wrapper" id="example_wrapper">

	        	<div class="clear"></div>
	        	<form action="{:U('Admin/Rule/index')}" method="get">
	        	<div id="example_length" class="dataTables_length">
	        		<label>显示 
	        		<select name="n" style="width: 100px;padding: 6px;" size="1" aria-controls="example">
		        		<option value="5" <eq name="n" value="5">selected="selected"</eq>>5</option>
		        		<option value="20" <eq name="n" value="20">selected="selected"</eq>>20</option>
		        		<option value="50" <eq name="n" value="50">selected="selected"</eq>>50</option>
	        		</select>
	        		 条</label>
	        	</div>
			        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search" style="width:450px">
                    	<a href="{:U('Admin/Rule/add')}" class="btn btn-success" style="display:block;float:right">添加权限</a>
			            <div class="input-group" style="width:350px">
			                <input type="text" name="k" value="{$k}" placeholder="Search for..." class="form-control">
			                <span class="input-group-btn">
			        			<button class="btn btn-default">搜索!</button>
			    			</span>
			            </div>

			        </div>
			    </form>

	<table id="example" class="table table-striped responsive-utilities jambo_table dataTable" aria-describedby="example_info">
		<thead>
		    <tr role="row" class="headings">
		        <th aria-label="Invoice : activate to sort column ascending" style="width: 100px;" colspan="1" rowspan="1" aria-controls="example" tabindex="0" role="columnheader" class="sorting">ID </th>
		        <th aria-label="Invoice Date : activate to sort column ascending" style="width: 200px;" colspan="1" rowspan="1" aria-controls="example" tabindex="0" role="columnheader" class="sorting">权限规则 </th>
		        <th aria-label="Order : activate to sort column ascending" style="width: 150px;" colspan="1" rowspan="1" aria-controls="example" tabindex="0" role="columnheader" class="sorting">权限标识 </th>
		        <th aria-label="Order : activate to sort column ascending" style="width: 150px;" colspan="1" rowspan="1" aria-controls="example" tabindex="0" role="columnheader" class="sorting">权限状态 </th>
		        <th aria-label="Bill to Name : activate to sort column ascending" style="width: 114px;" colspan="1" rowspan="1" aria-controls="example" tabindex="0" role="columnheader" class="sorting"> 操作 </th>
		    </tr>
		</thead>
		<table>
			<div class="x_content">
		    <!-- start project list -->
		        <table class="table table-striped projects">
		            <tbody>
		            <foreach name="rules" item="vo">
			            <tr class="pointer even">
	                        <td style="width:130px">{$vo['id']}</td>
	                        <td style="width:260px">{$vo['name']}</td>
	                        <td style="width:180px">{$vo['title']}</td>
	                        <td style="width:200px">{$vo['status']|getRuleStatus}</td>
	                        <td id="del">
		                        <a class="btn btn-info btn-xs" href="{:U('Admin/Rule/edit',array('id'=>$vo['id']))}"><i class="fa fa-pencil"></i> 修改 </a>
		                        <a class="btn btn-danger btn-xs" href="{:U('Admin/Rule/delete',array('id'=>$vo['id']))}"><i class="fa fa-trash-o"></i> 删除 </a>
	                        </td>
	                    </tr>
	                </foreach>
		            </tbody>
		        </table>
		    <!-- end project list -->
		    </div>
	    </table>
	    <!--页码链接样式-->
	    <style type="text/css">	
			#example_paginate .num {
			    box-sizing: border-box;
			    background-color: #ddd;
			    border: 1px solid #aaa;
			    cursor: pointer;
			    margin: 0 3px;
			    padding: 2px 5px;
			    background-color: #ddd;
			    background: none repeat scroll 0 0 #ddd !important;
			    border-color: #ddd !important;
			    padding: 6px 9px !important;
			    text-decoration: none;
			    outline: 0 none;
			}

			#example_paginate .current {
			    box-sizing: border-box;
			    border: 1px solid #aaa;
			    cursor: pointer;
			    margin: 0 3px;
			    padding: 2px 5px;
			    background: none repeat scroll 0 0 #99b3ff !important;
			    background-color: rgba(38, 185, 154, 0.59) !important;
			    border-color: rgba(38, 185, 154, 0.59) !important;
			    padding: 6px 9px !important;
			    text-decoration: none;
			    outline: 0 none;
			}
	    </style>
	    <!--页码链接-->
    	<div id="example_paginate" class="dataTables_paginate paging_full_numbers" style="width:800px">
            {$pages}
        </div>
        <br><br><br>
	</table>
	<script type="text/javascript">
    //删除确认提示
    $('#del a:last-child').click(function(){
        var res=confirm('是否删除当前规则？');
        if(res){
            return true;
        }else{
            return false;
        }
    })
	</script>
</block>