

/* css document */

body {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px;
	line-height: 20px; font-family:"΢���ź�"; font-size:12px;
}
div {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
ul {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
li {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
dd {
	padding-bottom: 0px; list-style-type: none; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
dl {
	padding-bottom: 0px; list-style-type: none; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
dt {
	padding-bottom: 0px; list-style-type: none; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
h1 {
	padding-bottom: 0px; list-style-type: none; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}

a {
	 text-decoration: none; color:#555555;
}
a:hover {
	color:#ea1a14; text-decoration: underline
}

a{blr:expression(this.onfocus=this.close());}
a{blr:expression(this.onfocus=this.blur());}
a:focus { -moz-outline-style: none; }

img {
	border-bottom-style: none; border-left-style: none; border-top-style: none; border-right-style: none
}
.clear {
	clear: both
}

div {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
dl {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
dt {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
dd {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
ul {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
ol {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
li {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
h1 {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
h2 {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
h3 {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
h4 {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
h5 {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
h6 {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
pre {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
form {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
fieldset {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
input {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
textarea {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
blockquote {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
a {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
p {
	padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
div {
	outline-style: none; outline-width: 0px
}
input {
	vertical-align: middle
}
ul {
	list-style-type: none
}
li {
	list-style-type: none
}
table {
	/*margin: 0px auto;*/ border-spacing: 0; border-collapse: collapse
}
img {
	border-bottom: 0px; border-left: 0px;/* vertical-align:middle;*/ border-top: 0px; border-right: 0px
}
ol {
	list-style: none none outside
}
ul {
	list-style: none none outside
}
ul {
	list-style-type: none
}

table {
	 border-spacing: 0; border-collapse: collapse
}
/*header*/
.head_v1{margin:auto;}
.head_v1_c{line-height:26px;margin:0 auto;width:990px;height:26px; font-size:12px;}
.head_v1_c li{margin:0px 5px;}
.head_v1_l{width:800px;text-align:center;display:inline;float:left;height:auto; height:24px;line-height:24px;}
.head_v1_l ul{float:left;padding-right:20px;}
.head_v1_l li{display:inline;float:left;}
.head_v1_r{width:auto;float:right;}
.head_v1_r li{float:left;}
.head_v2_r{width:auto;float:right; padding-right:10px; height:auto;}
.head_v2_r li{float:left;}
.head_v2_r .head_hyn a{ color:#2578de;}
.head_v2_r .head_hyn a:hover{ color:#2578de; text-decoration:none;}
.head_gr{position:relative;text-align:center;margin:0px -3px 0px 4px;width:97px !important;background:url(../images/sjt_tou.jpg) no-repeat 85px center;height:auto;_width:102px;_padding-right:8px;z-index:999;}
.head_gr1{border-left:#dddddf 1px solid;width:95px !important;background:url(../images/ymbb_bg.jpg) no-repeat 0px 2px;border-top:solid 1px #dddddf;border-right:#dddddf 1px solid;margin:0px;height:22px;}
.head_gr ul{border-bottom:#dddddf 1px solid;position:absolute;border-left:#dddddf 1px solid;padding-bottom:0px;line-height:23px;margin:0px;padding-left:0px;width:95px;padding-right:0px;background:#fff;height:50px;top:23px;border-top:#dddddf 1px solid;border-right:#dddddf 1px solid;padding-top:0px;left:-1px;z-index:3;}
.head_gr ul li{text-align:center;padding-bottom:0px;margin:0px;padding-left:0px;/*width:100%*/;padding-right:0px;height:auto;padding-top:0px}
.head_bk{border-bottom:#dddddf 1px solid;border-top:#dddddf 1px solid;background-color:#efefef;}
.head_gr a:hover{text-decoration:none}
.head_xlwb{background:url(../images/xl.jpg) no-repeat left 2px;width:auto;height:26px; padding-left:25px;}
.head_qq{ background:url(../images/qq.png) no-repeat left 3px; width:auto; height:26px; padding-left:20px;}
.head_tb{ background:url(../images/tbo.jpg) no-repeat left 3px; width:auto; height:26px; padding-left:20px;}
.head_shg { width:1px!important;color:#fff;line-height: 35px;*line-height: 35px; background:none;}
.head_shg2{width:1px!important;color:#585858;line-height: 24px;*line-height: 24px;}
.head_shg3{ background:none;}
.head_v2{width:988px; height:55px; padding-top:5px; margin:0 auto;}
.head_v2 .head_v2_logo{ width:auto; height:auto; float:left;}
.head_v2 .head_v2_jgz{ width:auto; height:auto; float:right; padding-top:12px;}
.head_v2 .head_v2_jgz img{ padding-left:8px;}
.head_nav{height:40px; line-height:40px; background-color:#ea1a14;}
.head_navi{ width:990px; margin:0 auto;}
.head_nav_l{ float:left; color:#ffffff; font-size:18px;}
.head_nav_l li{ float:left; padding:0px 25px; background:url(../images/nav_sx.jpg) no-repeat left center; text-align:center;}
/*.nav{ float:left; clear:both;display:inline; font-size:18px;}
.nav li{ float:left; position:relative;background:url(../images/nav_sx.jpg) no-repeat right center; padding-right:1px;}
.nav li ul{ position:absolute; display:none; border:solid 1px #d3d824;width:111px;background:url(../images/xl_tm.png) repeat-y left center; font-size:14px;filter:alpha(opacity=80);opacity:0.8; z-index:9999;}*/
.list_01{ padding-right:1px;}

.list_01 a{ width:78px; height:40px;display:block;}
.list_01 a:hover{ width:78px; height:40px;background:url(../images/nav_hover_bg1.jpg) no-repeat; display:block;}
.mohover1{width:79px; color:#2377e7;height:40px;background:url(../images/nav_hover_bg.jpg) no-repeat; display:block;}

.list_02 a{ width:100px; height:40px;display:block;}
.list_02 a:hover{ width:100px; height:35px;background:url(../images/nav_hover_bg.jpg) no-repeat; display:block;}
.mohover2{width:100px;color:#2377e7; height:40px; background:url(../images/nav_hover_bg.jpg) no-repeat;display:block;}

.list_03 a{ width:100px; height:40px;display:block;}
.list_03 a:hover{ width:100px; height:40px;background:url(../images/nav_hover_bg.jpg) no-repeat;display:block;}
.mohover3{ width:100px;color:#2377e7; height:40px; background:url(../images/nav_hover_bg.jpg) no-repeat;display:block;z-index: 100;}

.list_04 a{ width:100px; height:40px;display:block;}
.list_04 a:hover{ width:100px; height:40px;background:url(../images/nav_hover_bg.jpg) no-repeat;display:block;}
.mohover4{width:102px; color:#2377e7;height:40px;background:url(../images/nav_hover_bg.jpg) no-repeat;display:block;}

.nav .list_09 a{ width:131px; height:40px;display:block;}
.nav .list_09 a:hover{ width:131px; height:40px;display:block;background:url(../images/nav_hover_bg2.jpg) no-repeat;}
.mohover9{width:131px;color:#2377e7; height:35px;background:url(../images/nav_hover_bg2.jpg) no-repeat; display:block;}

.list_08 a{ width:100px; height:40px;display:block;}
.list_08 a:hover{ width:100px; height:40px;background:url(../images/nav_hover_bg.jpg) no-repeat;display:block;}
.mohover8{width:100px; color:#2377e7;height:40px; background:url(../images/nav_hover_bg.jpg) no-repeat;display:block;}

.new{ position:absolute;background:url(../images/zh_bg.png) no-repeat -33px -56px; width:23px; height:13px; top:0px; right:0px;}
.nav li ul li{ float:none;width:110px; text-align:center; height:35px; line-height:35px; background:none;}
.nav_bor{background:url(../images/nav_bor.jpg) no-repeat center bottom; height:1px; width:102px; line-height:0px; margin:0 auto;}
.nav li ul li a{ color:#fff;background:url(../images/xl_tm.png) repeat-y left center; filter:alpha(opacity=80);opacity:0.8;}
.nav li ul li a:hover{ color:#d3d824;background:url(../images/xl_tm.png) repeat-y left center; filter:alpha(opacity=80);opacity:0.8;}
.head_nav_r{ float:left; line-height:23px; width:99px; height:41px; line-height:41px;  position:relative; z-index:2;text-align:center;display:block;border-bottom:none; font-size:12px;}
.top_r a{ color:#dade45; text-decoration:none;width:99px; height:41px; background:url(../images/zh_bg.png) no-repeat -88px -60px;}
.proname{height:34px;display:block; width:85px;}
.poppro{ position:absolute;top:40px;width:330px;padding-top:5px; overflow:hidden; z-index:1005;  padding-bottom:5px; border:2px solid #ff8f34; background-color:#fff;}
.alignleft{left:0}
.alignright{right:-1px; text-align:left; text-indent:1em;}
.poppro li{height:30px;line-height:30px;overflow:hidden; padding:0px; margin:0px;}
.poppro li a{margin-right:11px; color:#000;}
.poppro li a:hover{color:#3983e5; text-decoration:underline;}
.poppro li.nob{background:none;}
.contanar{ width:1000px; margin:0 auto; position:relative; z-index:999;}

.top_r{ float:right;}
.nav_serch{float:right;} 
.top_serch{ width:175px; height:26px; float:left; margin-top:7px; margin-right:10px;display:inline; background:url(../images/zh_bg.png) no-repeat 0px -108px;}
.top_serch input{border:0px; padding:0px; margin:0px; color:#a5a5a5; font-size:12px;}
.but_sosu{background:url(../images/zh_bg.png) no-repeat 0px -80px;width:22px; height:21px; display:block; }
.but_sosu:hover{background:url(../images/top_seach_hover.png) no-repeat;width:22px; height:21px; display:block;}
.but_sosu:active{background:url(../images/top_seach_active.png) no-repeat;width:22px; height:21px; display:block;}
.nav2{ float:left; clear:both;display:inline; font-size:16px;height:23px;line-height:23px;}
.nav2 li{ float:left; position:relative;}
.nav2 li a{display:block; width:90px; padding:6px 0px 5px; text-align:center;color:#3e4248; text-decoration:none; }
.nav2 li a:hover {color:#fff;}
.nav2 li ul{position:absolute; display:none; border:solid 1px #d3d824;width:190px;background:url(../images/xl_tm.png) repeat-y left center;}
.nav2 li ul li {  float:none;background:url(../images/dom_bg.png) no-repeat left bottom ; padding-bottom:1px; width:109px; text-align:center;}
.nav2 li ul li a{ background:url(../images/xl_tm.png) repeat-y left center; color:#fff;}
.nav2 li ul li a:hover{ color:#d3d824;}
.login_input{ width:390px; float:left; padding-top:14px;}
.login_input .text{width:80px; margin-right:5px; height:15px;}
.login_input label{ margin-right:5px;}
.login_input .button3{background:url(../images/cky_button_link.jpg) no-repeat; width:37px; height:20px; border:none; color:#fff; line-height:20px; }
.login_input .button3:hover{background:url(../images/cky_button_hover.jpg) no-repeat; width:37px; height:20px; border:none; color:#fff; line-height:20px;}
.login_input .button3:active{background:url(../images/cky_button_active.jpg) no-repeat; width:37px; height:20px; border:none; color:#fff; line-height:20px; }
.login_input .button2{background:url(../images/cky_button2_link.jpg) no-repeat; width:37px; height:20px; border:none; color:#fff; line-height:20px; }
.login_input .button2:hover{background:url(../images/cky_button2_hover.jpg) no-repeat; width:37px; height:20px; border:none; color:#fff; line-height:20px; }
.login_input .button2:active{background:url(../images/cky_button2_active.jpg) no-repeat; width:37px; height:20px; border:none; color:#fff; line-height:20px;}
.weibo dl{ width:78px;}
.weibo{ width:180px; margin:0 auto}
.weibo dt{ float:left; margin-right:5px;}
.weibo dd{ float:right; line-height:21px;}
/*foot*/
/*.foot{margin:0 auto; height:190px; clear:both;}
.footer{ background-color:#5599dd; height:35px;;line-height:35px; font-size:16px; text-align:center; color:#fff;}
.footer .first{ background:none;}
.fotbot{ clear:both; text-align:center;  color:#5f5f5f; font-size:12px;width:988px;margin:0 auto; padding-top:10px;margin-bottom: 20px;white-space: nowrap;}
.fotbot ul{ width:795px; margin:0 auto;}
.nav3 li{ float:left; margin-right:17px;}
.b0{ font-size:14px; color:#5f6e75;}
.b1{ color:#5599dd;text-align: center;font-size:12px;}
#nav{ clear:both; font-size:14px; width:990px; margin:0 auto; text-align:center; }
#nav li{float:left; position:relative;}
#nav li a{text-align:center;display:block;color:#fff;background: url(../images/foot_xian.jpg) no-repeat right center; font-size:14px;}
#nav li a:hover{padding:0;margin:0;text-decoration:none;}
#nav li ul{ position:absolute; display:none;width:236px;background:#d7dfe4; font-size:12px; height:auto; left:0px;padding-left:5px; padding-right:5px;filter: alpha(opacity=80);opacity:0.8}
#nav li ul li{ padding-bottom:1px; width:241px;text-align:center; background:url(../images/bor_bot.jpg) no-repeat bottom center;}
#nav li ul li a{ color:#6e7a82;background:#d7dfe4;font-size:12px;}
#nav li ul li a:hover{ color:#fff;background:#d7dfe4;}
.last ul li a{ width:80px; text-align:center; float:left; display:block; background:none;!important;}
.last ul li a:hover{ width:80px;color:#3e4248;}
#nav .last a{background:none;}
.sub-menu{display:none;background:#d7dfe4;}
.lj{ color:#797979; font-size:12px; height:32px; line-height:32px; clear:both}
.px7{ left:45px; background: url(../images/sjt_tou.jpg) no-repeat 135px center;}
.brand_type_1 {z-index: 4; position: absolute;  padding-bottom: 1px; line-height: 23px; padding-left: 0px; max-width:269px;width:auto; padding-right: 0px; zoom: 1; display: none; height:auto; clear: both; overflow: hidden; background:url(../images/zm_jt.png) no-repeat 255px 0; left:0px;}
.ljzc_but{ border:none;background:url(../images/ljzc_link.png) no-repeat; width:168px; height:44px; display:block; margin-left:70px;}
.ljzc_but:hover{background:url(../images/ljzc_hover.png) no-repeat; width:168px; height:44px; display:block;}
.ljzc_but:visited{background:url(../images/ljzc_active.png) no-repeat; width:168px; height:44px; display:block;}
.ljzc_but:active{background:url(../images/ljzc_active.png) no-repeat; width:168px; height:44px; display:block;}
.syg_hot img {vertical-align:middle}
.indent{ text-indent:2em;}

#cover{ z-index:0;}
.ss_tks{width:326px; margin:0 auto; height:150px; display:none;position: fixed; z-index: 1001; top: 197px; left: 680px; background:#fff;}
.ss_tc{ background:url(../images/ss_tanchuang.jpg) no-repeat; width:326px; margin:0 auto; height:150px; display:block;}
.ss_tc a{ border:none; background:url(../images/ss_tk.jpg) no-repeat; width:74px; height:24px; position:absolute; top:105px; left:130px; text-align:center; line-height:24px; font-weight:bold; cursor:pointer; display:block;}
.ss_tc a:active{ border:none; background:url(../images/ss_tk_active.jpg) no-repeat; width:74px; height:24px; position:absolute; top:105px; left:130px; text-align:center; line-height:24px; font-weight:bold; cursor:pointer;}
.open_window,.open_window1,.open_window2,.open_window3{ position:fixed; z-index:1005; background-color:#fff; display:none; overflow:visible;}
.login_window{width:362px; height:328px; top:200px; left:600px; border:solid 5px #d3d824; width:345px; height:285px;}
.login form lable{ font-size:12px; color:#3e4248; width:50px;}
.login form input{ width:218px; height:22px; border:solid 1px #d7dfe4;}
.login_btton{margin-top:20px;text-align:center;}
.login_btton a{background:url(../images/dl_bton.jpg) no-repeat; width:128px; height:34px; display:block; margin:0 auto;}
.login_open_window{ position:fixed; z-index:1005; background-color:#fff; display:none; overflow:visible;}*/
/*����*/
.content{ width:990px; margin: 40px auto 0; color:#585858;}
.right_bl{  height:190px; z-index:999; position:fixed; right:0; top:289px;}
.bl_shuang11 a{ background:url(../images/bl_weixin.jpg) no-repeat; display:block; width:62px; height:62px;}
.bl_shuang11 a:hover{background:url(../images/bl_weixin_hover.jpg) no-repeat; display:block; width:62px; height:62px;}
.b1_yjfk a{ background:url(../images/bl_yjfk.jpg) no-repeat;display:block; width:62px; height:62px;}
.b1_yjfk a:hover{background:url(../images/bl_yjfk_hover.jpg) no-repeat;display:block; width:62px; height:62px;}
.b1_fhdb a{ background:url(../images/bl_fhdb.jpg) no-repeat;display:block; width:62px; height:62px;}
.b1_fhdb a:hover{ background: url(../images/bl_fhdb_hover.jpg) no-repeat;display:block; width:62px; height:62px;}
.right_bl li{ margin-top:2px;}
.bl_weixin{ background:url(../images/weixin.jpg) no-repeat; width:140px; height:144px; margin-right:2px;}
.bl_close{ float:right;}
/*fy*/
.page_btn_a{ margin-right:5px;}
.page_btn_a:hover{ background:#ea1a14; color:#fff;}
.page_btn_a input{ cursor:auto;height:21px;line-height:21px;}
.page_btn_a input:hover{ background:#ea1a14; color:#fff;}
.fy_cont input{height:21px;line-height:21px; width:40px;border:solid 1px #d7dfe4; margin:0 3px; color:#797979;}
.fy_cont span{ width:55px; height:21px; display:inline-block; margin-right:5px; text-align:center; line-height:21px; border:solid 1px #d7dfe4;}
.fy_cont span a{color:#797979;width:25px; height:21px;}
.fy_cont span a:hover{color:#fff; text-decoration:none;}
.fy_cont .focus_num a{background:#ea1a14; width:21px; height:21px; line-height:21px; display:inline-block; color:#fff;}
.fy_cont .page_num a{ border:1px solid #ccc; width:21px; height:21px; line-height:21px; margin:0 auto; display:inline-block; text-decoration:none;color:#797979;}
.fy_cont .page_num a:hover{ background:#ea1a14; color:#fff;width:21px; height:21px; line-height:21px; display:inline-block; }
.fy_cont{ width:795px; text-align:center; padding:13px 0; float:left; margin-top:37px;}
.fy_cont ul{margin:0 auto; }
.fy_cont li {display:inline;}
.fy_cont span, .pagediv a { display:inline-block;width:55px; text-align:center;}
.fy_cont span {color:#fff;}
.right_bianlan{ width:347px; height:319px; border:5px solid #2577e3; position:fixed; top:30%; left:40%; background:#fff; z-index:1999;}
.bianlan_title{ height:35px; line-height:35px; margin:0 3px; border-bottom:1px solid #2577e3;}
.bianlan_zi{ color:#585858; font-size:16px; margin-left:7px; float:left;}
.bianlan_img{ float:right; margin:8px;}
.bianlan_input{ clear:both; width:270px; height:140px; margin:19px 37px; * margin-left:20px;}
.bianlan_input textarea{width:270px;  height:112px; color:#757575; font-size:12px; margin-left:0px;}
.bianlan_br{ text-align:right; color:#a09d9d; margin-top:2px; font-size:12px; }
.bianlan_p{ margin-left:37px; color:#585858; font-size:14px;}
.bianlan_p input{ width:183px; height:20px; color:#585858;}
.tijiao_img{ border:0; background:url(../images/bianlan_tijiao.png) no-repeat; width:127px; height:33px; margin-left:110px; margin-top:30px;}
.tijiao_img:hover{ background:url(../images/bianlan_tijiao_hover.png) no-repeat;}
.tijiao_img:active{ background:url(../images/bianlan_tijiao_active.png) no-repeat;}
.bianlan_img{background:url(../images/zh_bg.png) no-repeat 0px 0px; width:16px; height:15px; display:block}
