@charset "utf-8";
/* CSS Document */

body{ background-color:#f8f8f8;}
body,ul,li { margin:0; padding:0; font-size:12px;}
*{margin:0;padding:0;list-style-type:none; font-family:"微软雅黑"; color:#333;}
a,img{border:0;}
a{ text-decoration:none;}
.clear{overflow: hidden;font-size:0;line-height:0;width:100%;clear:both;}

.theme-popover-mask {
	z-index: 9998;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.4;
	filter:alpha(opacity=40);
	display:none
}

.theme-popover {
	z-index:9999;
	position:fixed;
	top:50%;
	left:50%;
	width:505px;
	height:470px;
	margin:-250px 0 0 -270px;
	border-radius:5px;
	background-color:#fff;
	display:none;
	box-shadow: 0 0 10px #666;
}

.theme-poptit .close {
	float:right;
	color:#999;
	font:bold 14px/14px simsun;
	margin-right:10px;
}
.theme-poptit .close:hover {
	color:#444;
}
.tc_denglu{ padding:0px 25px 15px 25px;  }
.tc_denglu a{text-decoration:underline;}
.fanweik{ width:355px; height:280px; margin:auto; margin-top:20px;}
.fanweik p{line-height:25px; font-size:14px;}
.fanweik p input{ width:340px;height:20px;padding:5px;outline: none; border:1px solid #DDDDDD; border-radius:3px;}
.fanweik p input:hover{ width:340px;height:20px;padding:5px;outline: none; border:1px solid #E51A14;border-radius:3px;}
.jizhu{ margin-top:30px;}
.wangji_1{margin-left:295px; margin-top:-17px;}
.dl_anniu_1{ padding-top:30px;}
.cuowu_1{ margin-left:150px; margin-top:-25px; color:#DF484F}
.fanweik1{ width:355px; height:80px; margin:auto; }
.zh_xz{ padding-top:15px;}
.zh_1{ line-height:30px; height:30px; margin-top:10px;}
.zhz_1{ height:30px; line-height:30px; margin-left:35px; margin-top:-30px;}
.zh1_1{ line-height:30px; height:30px; margin-left:110px; margin-top:-30px;}
.zhz1_1{ height:30px; line-height:30px; margin-left:145px; margin-top:-30px;}
.zh2_1{ line-height:30px; height:30px;margin-left:220px; margin-top:-30px;}
.zhz2_1{ height:30px; line-height:30px; margin-left:255px; margin-top:-30px;}




/*新搜索*/

.zh_main{ width:1180px; height:500px; margin: auto; margin-top: 90px;}
.tishi{ margin-top: 40px; font-size:22px;}
.zh_xian{border-top:1px solid #4b4b4b; margin-top:15px;}
.zh_mima_lan{width:750px; height:auto; margin:auto;}
.sjhk{ width:340px;height:35px; padding:0 10px; border-radius:3px;border:1px solid #CDCDCD; font-size:14px;}
.sjhk:hover{ width:340px;height:35px; border:1px solid #bc0000;}
.yzmk{ width:150px;height:35px; padding:0 10px; border-radius:3px;border:1px solid #CDCDCD;font-size:14px;}
.yzmk:hover{ width:150px;height:35px;border:1px solid #bc0000;}
.xmmk{ width:340px;height:35px; padding:0 10px; border-radius:3px;border:1px solid #CDCDCD;font-size:14px;}
.xmmk:hover{ width:340px;height:35px;border:1px solid #bc0000;}
.sjhz{margin-top:60px;}
.yzmz{ margin-top:10px;}
.xmmz{ margin-top:10px;}
.yanBtn1{width:130px; height:35px;margin-left:15px;height:34px; line-height:32px;padding:0;color:#f8f8f8; background:#949494; cursor: pointer;border: solid 1px #C6C6C6;outline: none; border-radius:4px;}
.yanBtn2{width:130px; height:35px;margin-left:15px;height:34px; line-height:32px;padding:0;color:#f8f8f8; background:#949494; cursor: pointer;border: solid 1px #C6C6C6;outline: none;}
.yanBtn3{width:130px; height:35px;margin-left:15px;height:34px; line-height:32px;padding:0;color:#f8f8f8; background:#949494; cursor: pointer;border: solid 1px #C6C6C6;outline: none;}
.xiugaishouji_1{margin-left:230px; margin-top:30px;}
.class1_2{width:130px; height:35px;margin-left:15px;height:34px; line-height:32px;padding:0;color:#959595; background:#fff; cursor: pointer;border: solid 1px #C6C6C6;outline: none;border-radius:4px;}
.class1_3{width:130px; height:35px;margin-left:15px;height:34px; line-height:32px;padding:0;color:#959595; background:#fff; cursor: pointer;border: solid 1px #C6C6C6;outline: none;border-radius:4px;}
.dl{ margin-top:10px; width:120px; height:35px; text-align:center; border-radius:4px; background-color:#bc0000; color:#FFF; border:1px solid #bc0000;}
.dl_tishi{margin-left:15px; height:37px; line-height:37px; color:#bc0000}


.footer{ background-image:url(../images/footer_bg.jpg);width:100%; height:120px; clear:bold; }
.footer_center{ width:940px; height:120px; margin:auto;}
.L1{width:203px; height:17px; padding-top:20px; }
.l_tu{background-image:url(../images/f_bg.jpg); width:5px; height:17px; }
.l_zi{margin-top:-17px; line-height:17px; margin-left:15px;  color:#fff;}
.L2{ width:200px; height:17px; margin-left:200px; margin-top:-17px;}
.L3{ width:200px; height:17px; margin-left:400px; margin-top:-17px;}
.L4{ width:200px; height:17px; margin-left:600px; margin-top:-17px;}
.L5{ width:200px; height:17px; margin-left:800px; margin-top:-17px;}
.banquan{width:1180px; margin:auto; text-align:center; margin-top:-40px; color:#fff;}