@charset "utf-8";
/* CSS Document */
body{margin:0; padding:0; font-size:16px; color:#333; font-family:"微软雅黑"; background-color:#F4F4F4;}
*{border:0;margin:0;padding:0;}
ul{margin:0;padding:0;list-style:none;}
li{margin:0;padding:0;list-style: none;}
img{border:0;}
a{text-decoration:none;}
.top_bg{ width:100%; height:50px; background-color:#E51A14;}

.logo{ margin-top:-80px; margin-left:5%;}

.biaoti{ width:85%; color:#333; font-size:28px; margin:0 auto; font-weight:500;}
.xinxi{width:85%; color:#333; font-size:15px; margin:0 auto; margin-top:15px;}
.xinxi jianjv{ margin-left:15px;}
.xx_jv{ margin-left:40px;}
.zt_border{width:85%; margin:0 auto; }
.zt_border img{ width:100%;}
.wap_wenzhang_tu1{ width:100%; height:auto;  margin-top:30px; background:#9C0;}
.wap_wenzi2{ width:100%; margin:auto; margin-bottom:20px; margin-top:20px; }
.wap_wenzi3{ width:100%; margin:auto; margin-top:0px;}
.wap_wenzi4{ width:100%; margin:auto; margin-top:0px; }
.wap_shipin{ width:100%; height:auto; margin:0 auto; margin-top:10px;}
.wap_video{ position:relative;}
.wap_video2{ position:absolute; left:42%; top:45%;}
.shipinan{ position:relative; top:; left:0%;}
.qita_wenzhang{ width:100%; height:auto; border:1px solid #E2E2E2; background-color:#FFF; margin:0 auto; margin-top:20px; font-size:12px;}
.wenzhangk{ border-bottom:1px solid #E2E2E2;}
.wap_bt{ padding-left:20px; font-size:14px; line-height:25px; margin-top:10px;}
.wap_time{ padding-left:20px; font-size:12px; line-height:25px; margin-bottom:10px;}
.xgwz{ width:100px; height:30px; line-height:30px; background-color:#E51A14; color:#FFF; position:relative; top:20px; text-align:center;}

.dizhi{ line-height:35px; height:35px; width:85%; margin:0 auto;}
.dizhi a{ text-decoration:none; color:#000;}

.jtbt{ background: #ee262b;width: 100%;height: 50px;color:#fff;font-size: 16px;font-family: '微软雅黑';line-height: 50px;text-align: center;}
.zihao{ font-size:14px; float:left; margin-left:7%; font-weight:bold;}
.zihao a{ font-size:18px; color:#fff; text-decoration:none;}
.bt{ font-weight:bold; font-family:"微软雅黑"; font-size:18px;}
.top_bg2{ width:100%; height:35px; background-color:#f6f6f6; border-bottom:1px solid #9C9C9C;}
.fbt{ border-top:1px solid #9C9C9C;border-bottom:1px solid #9C9C9C; height:auto;padding:10px 6% 10px 6%; font-size:20px;}
.daoyv{ width:auto; margin:0 auto;background-color:#FFF; padding:10px 6% 10px 6%;border-bottom:1px solid #9C9C9C;}
.daoyv span{background-color:red; color:#fff; font-size:18px; padding:0 10px; border-radius:4px;}
.time span a{ border:none;}
.xinxi span{color:#9C9C9C;}
.time{ margin-top:10px; color:#9c9c9c;}
.foot{ position:fixed; bottom:0px; width:100%; background:#000; opacity:0.8; color:#dedede;}
.foot ul li{ width:50%; height:40px; text-align:center; float:left; line-height:50px;}
.one_1{ background:url(../images/footer1.png) no-repeat 12px 12px; }
.one_1 a{ color:#ff0000; }
.two_1{ background:url(../images/sc1.png) no-repeat 12px 12px;}
.two_1 a{ color:#dedede;}
.one_2{ background:url(../images/pl.png) no-repeat 12px 12px;}
.one_2 a{ color:#dedede;}
.two_2{ background:url(../images/sc.png) no-repeat 12px 12px;}
.two_2 a{ color:#ff0000;}
