@charset "utf-8";
/* CSS Document */
.cg_main{ width:1180px; height:auto; margin:auto; margin-top:100px;}
.zccg{ font-size:22px;}
.zccg2{ font-size:14px;}
.zccg2 a{color:#528AA5; text-decoration:underline;font-size:14px;}
.zccg3{font-size:14px;}
.cg_erweima{ margin-top:55px;}
.gfwx{ width:158px; text-align:center; height:25px; line-height:25px; font-size:14px;}
