<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Language" content="zh-CN">
        <title>详情页_网上预订_Mojito 柠•漾-Mcake官网</title>
        <meta name="Keywords" content="Mcake,M'cake,蓝莓轻乳拿破仑,经典香草拿破仑,拿破仑莓恋,拿破仑，胡桃布拉吉，榛果摩卡布拉吉，魅影歌剧院，巧克力格调，天使巧克力，魔鬼巧克力，蒸清抹茶，蔓越莓红丝绒，沙布雷巴菲，巧克力狂想曲，卡法香缇，瑞可塔厚爱，法香奶油可丽，莓果青柠慕斯＂">
        <meta name="Description" content="Mcake把法国传统蛋糕文化带入中国，提供纯正的欧式味觉体验，同时也将欧洲的上好材质、经典工艺以及优雅的文艺气质，融入产品的每一个细节之中，带给客户更多的享受与愉悦。">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta http-equiv="cache-control" content="max-age=1800">
        
        <link rel="shortcut icon" href="__PUBLIC__/images/icons/favicon.ico">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Index/css/comm_header.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Index/css/Landing_city.css">

        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Index/css/ebsig.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Index/css/goods.css">
        
        <script src="__PUBLIC__/Index/js/goods.js" async="" type="text/javascript"></script>
        <script src="__PUBLIC__/Index/js/mv.js" async="" type="text/javascript"></script>
        <script src="__PUBLIC__/Index/js/mba.js" async="" type="text/javascript"> </script>
        <script src="__PUBLIC__/Index/js/s.js" async="" type="text/javascript"></script>
        <script src="__PUBLIC__/Index/js/mvl.js" async="" type="text/javascript"></script>
        <script src="__PUBLIC__/Index/php/core.php" charset="utf-8" async="" type="text/javascript"></script>
        
        <script type="text/javascript" src="__PUBLIC__/Index/js/jquery.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Index/js/LandingDialog.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Index/js/superscrollorama.js"></script>
        

        <script type="text/javascript" src="__PUBLIC__/Index/js/uaredirect.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Index/php/iplookup.php"></script>
        <script type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Index/css/index.css">
    </head>
    <body>
<!--header 开始 -->
    <a name="top"></a>

    <div class="header">
        
        <div class="header_top_box">
            <div class="header_top">
                <div style="width:100%; height:100px; background:#FFF; position:absolute; z-index:9;webkit-box-shadow: 3px 3px 3px #e1e1e1;-moz-box-shadow: 3px 3px 3px #e1e1e1;box-shadow: 3px 3px 3px #e1e1e1
    ">
                    <div style="width:100%; height:30px; border-bottom:1px solid #eaeaea">
                        <div class="wallbox wall_top">
                            <div id="scrollobj" style="position:absolute; left:50%;margin-left:-300px;top:0; width:560px; line-height:30px;white-space:nowrap;overflow:hidden; color:#F00"></div>
        <script language="javascript" type="text/javascript">
        $(function(){
             E.ajax_post({
                 action: 'activity',
                 operFlg: 999,
                 data:{
                     config_code:'rolling_tips'
                 },
                call: function( o ) {
                     if(o.code == 200){
          $("#scrollobj").html('<span>'+ o.message+'</span>');
          setInterval("scroll(document.getElementById('scrollobj'))",25);
                     }
                 }
             });
             if($("#activity_list")){
                 E.ajax_get({
                     action: 'content',
                     operFlg: 3,
                     call: function( o ) {
          var html = '';
          $.each(o.data,function(k, v){
              html += '<li>';
              html += '<a href="'+v.link+'" target="_blank">';
              html += '<img src="'+v.img_link+'" width="100%" alt=""/>';
              html += '</a>';
              html += '</li>';
          });
          if(html != ''){
              $("#activity_list").html(html);
          }
                     }
                 });
             }
                                });
                                
             function scroll(obj) {
             var tmp = (obj.scrollLeft)++;
             
             if (obj.scrollLeft==tmp) obj.innerHTML += obj.innerHTML;
             
             if (obj.scrollLeft>=obj.firstChild.offsetWidth) obj.scrollLeft=0;
                                }
            </script>
            <div class="logoer">
                <a href="{:U(Home/Index/index)}">
                    <img src="__PUBLIC__/Index/images/logo/logo.png">
                </a>
            </div>
            <ul class="navbar" id="welcome">
                <li>
                    <a href="http://www.mcake.com/shop/login.html" class="Gold">LOG IN 登录</a>
                </li>
                <li>
                    <a href="http://www.mcake.com/shop/register.html" class="Gold">SIGN UP 注册</a>
                </li>
            </ul>
            <ul class="navbar">
                <li class="m_mail" style="display: none;">
                    <a href="http://www.mcake.com/shop/member_message.html" class="Gold" target="_blank"><i></i> <span id="msg_count">0</span>封</a>
                </li>
                <li class="m_cart">
                    <a href="http://www.mcake.com/shop/cart.html" class="Gold" target="_blank"><i></i> <span id="cart_amount">0</span>件</a>
                </li>
           </ul>
            <div class="clear"></div>
            </div>
            </div>
            <div class="wallbox">
                <div class="header_right">
                    <ul class="phone_delivery">
                        <li class="phone">
                            <span>4006-678-678</span><i></i>
                        </li>
                        <li class="delivery">
                            <span>
                                <a href="http://www.mcake.com/shop/article-48.html#city_675" target="_blank">北京配送范围内免费配送</a>
                            </span><i></i>
                        </li>
                    </ul>
                <div class="city" id="city">
                    <ul>
                        <li id="city-110" data-id="110">
                            <a href="javascript:%20void(0);">上海市</a>
                        </li>
                        <li id="city-641" data-id="641">
                            <a href="javascript:%20void(0);">杭州市</a>
                        </li>
                        <li id="city-665" data-id="665">
                            <a href="javascript:%20void(0);">苏州市</a>
                        </li>
                        <li class="cur" id="city-675" data-id="675">
                            <a href="javascript:%20void(0);">北京市</a>
                        </li>
                    </ul>
                    <samp></samp>
                </div>
            </div>
                <ul class="menu">
                    <li>
                        <a href="http://www.mcake.com/shop/675/index.html#mainer" class="ebsig_all_goods" target="_blank"><samp>Nos Produits</samp><span>全部产品</span>
                        </a>
                    </li>
                    <li>
                                
                        <a href="http://www.mcake.com/shop/napoleon_cake.html" target="_blank"><samp>Napoléon</samp><span>拿破仑系列</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.mcake.com/r.php?i=activity" target="_blank"><samp>Nouveauté</samp><span>最新活动</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.mcake.com/shop/member_center.html" target="_blank">
             <samp>Mon M'CAKE</samp>
             <span>会员中心</span>
                        </a>
                    </li>
                </ul>
                    <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!--header 结束 -->

<!-- contents 开始-->
      
  <div id="page_mainer">
    <div class="page_details_box">
        <div class="Product_details_box">
            <div class="view_pro_img">
   <!--小图列表-->
   <div class="samll_left">
       <div class="top_btn"><i></i></div>
       <div class="samll_img_box">
           <ul id="thumblist" class="pro_small_img">
         <li class="cur">
          <a href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: '__PUBLIC__/Index/order_images/middle_2027_1.jpg',largeimage: 'http://www.mcake.com/postsystem/docroot/images/goods/20150818/2027/big_2027_1.jpg'}">
              <img src="__PUBLIC__/Index/order_images/small_2027_1.jpg">
          </a>
      </li>
         <li class="cur">
          <a href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: 'http://www.mcake.com/postsystem/docroot/images/goods/20150818/2027/middle_2027_2.jpg',largeimage: 'http://www.mcake.com/postsystem/docroot/images/goods/20150818/2027/big_2027_2.jpg'}">
              <img src="__PUBLIC__/Index/order_images/small_2027_2.jpg">
          </a>
      </li>
         <li class="cur">
          <a href="javascript:void(0);" rel="{gallery: 'gal1', smallimage: 'http://www.mcake.com/postsystem/docroot/images/goods/20150818/2027/middle_2027_3.jpg',largeimage: 'http://www.mcake.com/postsystem/docroot/images/goods/20150818/2027/big_2027_3.jpg'}">
              <img src="__PUBLIC__/Index/order_images/small_2027_3.jpg">
          </a>
      </li>
             </ul>
       </div>
       <div class="bottom_btn nocur"><i></i></div>
   </div>
   <!--大图展示-->
   <div class="pro_big_img">
       <a style="outline-style: none; text-decoration: none;" href="http://www.mcake.com/postsystem/docroot/images/goods/20150818/2027/big_2027_1.jpg" class="jqzoom" rel="gal1" title="">
           <div class="zoomPad"><img style="opacity: 1;" title="" src="__PUBLIC__/Index/order_images/middle_2027_1.jpg" class="img340"><div style="display: none;" class="zoomPup"></div><div style="position: absolute; display: none; z-index: 5001; left: 490px; top: 0px;" class="zoomWindow"><div style="width: 300px;" class="zoomWrapper"><div style="width: 100%; position: absolute; display: block;" class="zoomWrapperTitle">triumph</div><div style="width: 100%; height: 300px;" class="zoomWrapperImage"></div></div></div><div style="visibility: visible; top: 218.5px; left: 195px; position: absolute;" class="zoomPreload">Loading zoom</div></div>
       </a>
       <div class="pro_copy" style="float:left; width:400px;">
           <p class="en_copy">
               Une mousse au citron vert légèrement 
aromatisée au rhum blanc, une gélée verte de menthe, le Mojito vous 
présente une harmonie entre l’acidité et la fraîcheur.
           </p>
           <p class="cn_copy">
               Mojito 柠•漾，柔滑慕斯内蕴Q弹酒冻，绝妙配比带来口感的平衡，不太浓烈也不过于寡淡，青柠独特的酸甜带出白朗姆酒的微醺之意。
           </p>
       </div>
   </div>
            </div>
            <div class="Pro_parameters_box">
   <div class="pro_name"><span>Le MOJITO</span> Mojito 柠•漾</div>
   <div class="pro_pire">￥<span id="price">298.00</span></div>
   <ul class="change_p">
     <li id="size_id_11358" edible="适合2-3人食用" size="SIZE:15cm*4.5cm" aheadtime="需提前5小时预定">
               <div></div>
               <span>1磅</span>
           </li>
     <li class="cur" id="size_id_11359" edible="适合4-7人食用" size="SIZE:18cm*5.0cm" aheadtime="需提前5小时预定">
               <div></div>
               <span>2磅</span>
           </li>
     <li id="size_id_11360" edible="适合8-12人食用" size="SIZE:22cm*5.0cm" aheadtime="需提前24小时预定">
               <div></div>
               <span>3磅</span>
           </li>
          </ul>
   <div class="pro_desc">
       <span id="g_edible">适合4-7人食用</span>
       <span id="g_size">SIZE:18cm*5.0cm</span>
       <p id="g_aheadTime">需提前5小时预定</p>
   </div>
   <div class="cake_num">
       <span>数量</span>
       <dl>
           <dd class="n_left nopoint"></dd>
           <dt><input name="" value="1" class="num_1" id="buy_number" type="text"></dt>
           <dd class="n_right"></dd>
       </dl>
   </div>
   <ul class="buy_btn_box">
              <li>
           <input value="加入购物车" class="add_cart" id="add_cart" type="button">
       </li>
       
       <li>
           <input value="立即购买" class="buy_now" id="buy_now" type="button">
       </li>
       <input value="11359" id="pro_id" type="hidden">
   </ul>
   <div class="pro_Explain"></div>
   <ul class="Select_view">
       <li class="cur"><span>Best Ingredient</span><p>优质原材料</p></li>
       <li><span>Evaluation</span><p id="comments_count">累计点评(0)</p></li>
   </ul>
   <ul class="view_list">
       <li class="m_cake cur">
           <dl>
 <dd><img src="__PUBLIC__/Index/order_images/2014081310573865350.jpg"><span>法国奶油</span></dd>
         <dd><img src="__PUBLIC__/Index/order_images/2014081311051082745.jpg"><span>新西兰黄油</span></dd>
         <dd><img src="__PUBLIC__/Index/order_images/2014081311071089296.jpg"><span>法国果茸</span></dd>
         <dd><img src="__PUBLIC__/Index/order_images/2014081311103875350.jpg"><span>比利时白巧克力</span></dd>
         <dd><img src="__PUBLIC__/Index/order_images/2015081714295193313.jpg"><span>马来西亚薄荷糖浆</span></dd>
         <dd><img src="__PUBLIC__/Index/order_images/2015081714300728083.png"><span>世界臻选青柠檬</span></dd>
         <dd><img src="__PUBLIC__/Index/order_images/2015081714303287216.jpg"><span>波多黎各朗姆酒</span></dd>
         <dd><img src="__PUBLIC__/Index/order_images/2015081714304869240.png"><span>臻选薄荷叶</span></dd>
             </dl>
         <ul>
               <li class="Basic">
      <dl>
    <dd>
              <span>Texture</span>
              <span>口感</span>
       <samp>
     入口即化
     </samp>
            </dd>
          <dd>
              <span>Flavor</span>
              <span>口味</span>
       <samp>
     水果/巧克力
     </samp>
            </dd>
          <dd>
              <span>Base</span>
              <span>口味基底</span>
       <samp>
     Mousse
     </samp>
            </dd>
          <dd>
              <span>Acidité</span>
              <span>酸味</span>
       <ul class="Sweet acid">
      <li></li>
      <li></li>
               </ul>
            </dd>
             
      </dl>
               </li>
           </ul>
     </li>
       <li>
           <!--评论类别-->
           <ul class="Review_top">
               <li>
      <dl>
      </dl>
               </li>
           </ul>
           <!--评论类别 end-->
           <!--评论列表-->
           <ul class="Review_list" id="comment_list"><li><p class="com_txt">可以，就是小点！价位略贵~不过吃着还行</p><div><p><span>189****4602</span></p><small>2015-08-24 15:09:51</small></div></li><li><p class="com_txt">可以，就是小点！价位略贵~不过吃着还行</p><div><p><span>189****4602</span></p><small>2015-08-24 15:09:36</small></div></li></ul>
           <div class="Review_nav" id="paging"></div>
           <!--评论列表结束-->
       </li>
   </ul>
            </div>
        </div>
    </div>
    <div class="Details_box">
        <!--设计师-->
<div class="Designer">
    <h1>
        <img src="__PUBLIC__/Index/order_images/2014082814023131480.png" alt="设计师 bear"> 
    </h1>
    <p>
        Les menthes fraîches, les citrons verts et le rhum blanc, tous les 
ingrédients du cocktail Mojito sont dans ce gâteau, le MOJITO vous 
apportera le fraîcheur et le goût inoubliable, votre aventure avec ce 
cocktail mangeable commence. <br>
炎炎夏日，你是否渴望在沙滩的躺椅上享受一杯清凉的Mojito鸡尾酒呢？清凉的薄荷搭配酸爽的青柠，佐以纯正的白朗姆酒，为夏日带来无限清爽；“Mojito 柠•漾”不仅仅是一款蛋糕，更是一“杯”可以吃的Mojito鸡尾酒。
    </p>
</div>
<!--设计师 end-->
<!--莫吉托-->
<div class="pro_Layered cake_42">
    <!--莫吉托 end-->
</div>
           <div class="class_title"><div class="hot_pro"><samp></samp><span>销量排行榜</span></div></div>
        <!--产品列表-->
        <div class="listbox view_pro_box">
            <ul class="image-grid" id="list">
      <li class="ms" data-id="id-1">
       <div class="pro_box">
           <a href="http://www.mcake.com/shop/goods-11111.html" target="_blank">
               <img src="__PUBLIC__/Index/order_images/list_1839_1.jpg" height="216" width="216">
           </a>
           <div class="mask">
               <a href="http://www.mcake.com/shop/goods-11111.html" target="_blank"><font>蓝莓轻乳拿破仑</font></a>
               <div class="Sweetness_box">
      <samp>1</samp>
      <span>甜度指数：</span>
      <ul class="Sweetness">
            <li></li>
    </ul>
      <div class="buy_icon"><a href="javascript:%20void(0);" class="tobuy" onclick="G.cart.general.add(11111, 1);"></a></div>
               </div>
           </div>
       </div>
       <div class="pro_title">
           <a href="http://www.mcake.com/shop/goods-11111.html" target="_blank">
               <span class="font01">Napoléon aux myrtilles</span>
               <span>2磅/288RMB</span>
           </a>
       </div>
   </li>
      <li class="ms" data-id="id-1">
       <div class="pro_box">
           <a href="http://www.mcake.com/shop/goods-11275.html" target="_blank">
               <img src="__PUBLIC__/Index/order_images/list_1976_1.jpg" height="216" width="216">
           </a>
           <div class="mask">
               <a href="http://www.mcake.com/shop/goods-11275.html" target="_blank"><font>尼诺</font></a>
               <div class="Sweetness_box">
      <samp>1</samp>
      <span>甜度指数：</span>
      <ul class="Sweetness">
            <li></li>
    </ul>
      <div class="buy_icon"><a href="javascript:%20void(0);" class="tobuy" onclick="G.cart.general.add(11275, 1);"></a></div>
               </div>
           </div>
       </div>
       <div class="pro_title">
           <a href="http://www.mcake.com/shop/goods-11275.html" target="_blank">
               <span class="font01">Nino</span>
               <span>2磅/288RMB</span>
           </a>
       </div>
   </li>
      <li class="ms" data-id="id-1">
       <div class="pro_box">
           <a href="http://www.mcake.com/shop/goods-11141.html" target="_blank">
               <img src="__PUBLIC__/Index/order_images/list_1864_1.jpg" height="216" width="216">
           </a>
           <div class="mask">
               <a href="http://www.mcake.com/shop/goods-11141.html" target="_blank"><font>蔓越莓红丝绒</font></a>
               <div class="Sweetness_box">
      <samp>1</samp>
      <span>甜度指数：</span>
      <ul class="Sweetness">
            <li></li>
    </ul>
      <div class="buy_icon"><a href="javascript:%20void(0);" class="tobuy" onclick="G.cart.general.add(11141, 1);"></a></div>
               </div>
           </div>
       </div>
       <div class="pro_title">
           <a href="http://www.mcake.com/shop/goods-11141.html" target="_blank">
               <span class="font01">Velour rouge</span>
               <span>2磅/288RMB</span>
           </a>
       </div>
   </li>
      <li class="ms" data-id="id-1">
       <div class="pro_box">
           <a href="http://www.mcake.com/shop/goods-11123.html" target="_blank">
               <img src="__PUBLIC__/Index/order_images/list_1849_1.jpg" height="216" width="216">
           </a>
           <div class="mask">
               <a href="http://www.mcake.com/shop/goods-11123.html" target="_blank"><font>香溢新芝</font></a>
               <div class="Sweetness_box">
      <samp>1</samp>
      <span>甜度指数：</span>
      <ul class="Sweetness">
            <li></li>
    </ul>
      <div class="buy_icon"><a href="javascript:%20void(0);" class="tobuy" onclick="G.cart.general.add(11123, 1);"></a></div>
               </div>
           </div>
       </div>
       <div class="pro_title">
           <a href="http://www.mcake.com/shop/goods-11123.html" target="_blank">
               <span class="font01">Fromage Velouté</span>
               <span>2磅/288RMB</span>
           </a>
       </div>
   </li>
      <li class="ms" data-id="id-1">
       <div class="pro_box">
           <a href="http://www.mcake.com/shop/goods-11336.html" target="_blank">
               <img src="__PUBLIC__/Index/order_images/list_2019_1.jpg" height="216" width="216">
           </a>
           <div class="mask">
               <a href="http://www.mcake.com/shop/goods-11336.html" target="_blank"><font>rose•裸蛋糕</font></a>
               <div class="Sweetness_box">
      <samp>1</samp>
      <span>甜度指数：</span>
      <ul class="Sweetness">
            <li></li>
    </ul>
      <div class="buy_icon"><a href="javascript:%20void(0);" class="tobuy" onclick="G.cart.general.add(11336, 1);"></a></div>
               </div>
           </div>
       </div>
       <div class="pro_title">
           <a href="http://www.mcake.com/shop/goods-11336.html" target="_blank">
               <span class="font01">rose.gâteau nu</span>
               <span>1磅/298RMB</span>
           </a>
       </div>
   </li>
               </ul>
        </div>
        <!--产品列表 end-->
        
    </div>
</div>



<!-- footer开始 -->

    <div id="footer">
        <!-- 底部小活动li 开始 -->
        <div id="wallbox" class="wallbox">
            <ul class="activity_list" id="activity_list">
                <li>
                    <a href="http://www.mcake.com/shop/goods-11275.html" target="_blank">
                        <img src="__PUBLIC__/Index/images/2015072811191115080.jpg" alt="" width="100%">
                    </a>
                </li>
                <li>
                    <a href="http://www.mcake.com/activity/2015/mojito.html?clickpoint=botomad" target="_blank">
                        <img src="__PUBLIC__/Index/images/2015082009154299636.jpg" alt="" width="100%">
                    </a>
                </li>
                <li>
                    <a href="http://www.mcake.com/shop/activity/recomm.html" target="_blank"><img src="__PUBLIC__/Index/images/2015070313312260770.jpg" alt="" width="100%">
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <!-- 底部小活动li 结束 -->
        
        <div class="wallbox_1000">
            <div class="m_copy">
                <ul class="Share">
                    <li class="Swb">
                        <a href="http://weibo.com/mcake1893" target="_blank"></a>
                    </li>
                    <li class="Twx">
                        <a href="javascript:void(0);"></a>
                    </li><!--<li class="Tkj"><a href="#"></a></li>-->
                </ul>
                <div class="wxqr"><samp></samp></div>
                <p>Copyright © 2012-2015            </p>
                <p>上海卡法电子商务有限公司 版权所有</p>
                <p class="icp_no">沪ICP备12022075号</p>
                <p class="icp_no">地址：上海市普陀区同普路1130弄3号</p>
                <p class="icp_no">客服热线：4006-678-678</p>
                <p class="icp_no">客服邮箱：cs@mcake.com</p>
            </div>
            <div class="foot_nav_bar">
                 <dl>
                    <dt>
                        <a href="http://www.mcake.com/shop/article-48.html">发现</a>
                    </dt>
                    <dd>
                        <a href="http://www.mcake.com/shop/article-48.html" target="_blank">配送服务</a>
                    </dd>
                    <dd>
                        <a href="http://weibo.com/mcake1893" target="_blank">微博</a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="http://www.mcake.com/shop/article-62.html">关于我们</a>
                    </dt>
                    <dd>
                        <a href="http://www.mcake.com/shop/article-62.html" target="_blank">媒体合作</a>
                    </dd>
                    <dd>
                        <a href="http://www.mcake.com/shop/article-61.html" target="_blank">招贤纳士</a>
                    </dd>
                    <dd>
                        <a href="http://www.mcake.com/shop/article-47.html" target="_blank">呼叫中心</a>
                    </dd>
                    </dl>
                    <dl>
                        <dt>
                            <a href="http://www.mcake.com/shop/article-59.html">帮助中心</a>
                        </dt>
                        <dd>
                            <a href="http://www.mcake.com/shop/article-59.html" target="_blank">会员权益</a>
                        </dd>
                        <dd>
                            <a href="http://www.mcake.com/shop/article-58.html" target="_blank">购物指南</a>
                        </dd>
                        <dd>
                            <a href="http://www.mcake.com/shop/article-57.html" target="_blank">支付类</a>
                        </dd>
                        <dd>
                            <a href="http://www.mcake.com/shop/article-56.html" target="_blank">订单相关</a>
                        </dd>
                 </dl>
        </div>
            <div class="m_wb" style="text-align: center;"><img src="__PUBLIC__/Index/images/icons/wx_icon.png" <="" div="">
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- footer结束 -->
    
    </body>
</html>