<extend name="Index/index" />
<block name="con">
    
<div class="page-title">
    <div class="title_left">
        <h3>BANNER管理</h3>
    </div>
</div>

<div style="height:600px;" class="x_panel">
    <div class="x_title">
        <h2>请合理使用每一个广告位：</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-wrench"></i></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    
    <div class="x_content">
        <div class="row">
        
            <div class="col-md-12">

    <!-- price element -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="pricing">
            <div class="title">
                <h2><strong>广告位</strong></h2>
                <h1>ONE</h1>
                <span>Free</span>
            </div>
            <div class="x_content">

                <form action="{:U('Admin/Banner/update')}" method="post" enctype="multipart/form-data"><input type="hidden" name="id" value="1">

                <div class="">
                    <div class="pricing_features">
                                                       
                        <input type="text" name="theme" placeholder="主标题:20字以内" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" style="margin-bottom:30px;width:100%;margin-top:10px">
                                                            
                        <input type="text" name="subhead" placeholder="副标题:35字以内" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" style="margin-bottom:30px;width:100%">
                                                            
                        <input type="text" name="link" placeholder="广告链接" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" style="margin-bottom:30px;width:100%">
                             
                        <input type="text" placeholder="广告图片617*328" id="f_file" style="width:105px;height:33px;margin-right:10px;margin-bottom:20px"><input type="button" value="浏览..." onClick="t_file.click()">
                        <input name="img" type="file" id="t_file" onchange="f_file.value=this.value" style="display:none">

                    </div>
                </div>
                <div class="pricing_footer">
                    <button class="btn btn-success btn-block" type="submit">发布广告</button>
                    <p>
                        <a href="" onclick="one.click();return false;">重置</a>
                        <input id="one" type="reset" style="display:none">
                    </p>
                </div>
                </form>
            </div>
        </div>
    </div>   
    <!-- price element -->

    <!-- price element -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="pricing">
            <div class="title">
                <h2><strong>广告位</strong></h2>
                <h1>TWO</h1>
                <span>Free</span>
            </div>
            <div class="x_content">
                <form action="{:U('Admin/Banner/update')}" method="post" enctype="multipart/form-data"><input type="hidden" name="id" value="2">
                <div class="">
                    <div class="pricing_features">
                               
                        <input type="text" name="theme" placeholder="主标题:20字以内" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" style="margin-bottom:30px;width:100%;margin-top:10px">
                                                            
                        <input type="text" name="subhead" placeholder="副标题:35字以内" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" style="margin-bottom:30px;width:100%">
                                                            
                        <input type="text" name="link" placeholder="广告链接" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" style="margin-bottom:30px;width:100%">
                             
                        <input type="text" placeholder="广告图片617*328" id="f_file" style="width:105px;height:33px;margin-right:10px;margin-bottom:20px"><input type="button" value="浏览..." onClick="t_file.click()">
                        <input name="img" type="file" id="t_file" onchange="f_file.value=this.value" style="display:none">

                    </div>
                </div>
                <div class="pricing_footer">
                    <button class="btn btn-success btn-block" type="submit">发布广告</button>
                    <p>
                        <a href="" onclick="two.click();return false;">重置</a>
                        <input id="two" type="reset" style="display:none">
                    </p>
                </div>
                </form>
            </div>
        </div>
    </div>   
    <!-- price element -->

    <!-- price element -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="pricing">
            <div class="title">
                <h2><strong>广告位</strong></h2>
                <h1>THREE</h1>
                <span>Free</span>
            </div>
            <div class="x_content">
                <form action="{:U('Admin/Banner/update')}" method="post" enctype="multipart/form-data"><input type="hidden" name="id" value="3">
                <div class="">
                    <div class="pricing_features">
                               
                        <input type="text" name="theme" placeholder="主标题:20字以内" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" style="margin-bottom:30px;width:100%;margin-top:10px">
                                                            
                        <input type="text" name="subhead" placeholder="副标题:35字以内" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" style="margin-bottom:30px;width:100%">
                                                            
                        <input type="text" name="link" placeholder="广告链接" class="form-control col-md-7 col-xs-12" required="required" id="first-name" data-parsley-id="4702" style="margin-bottom:30px;width:100%">
                             
                        <input type="text" placeholder="广告图片617*328" id="f_file" style="width:105px;height:33px;margin-right:10px;margin-bottom:20px"><input type="button" value="浏览..." onClick="t_file.click()">
                        <input name="img" type="file" id="t_file" onchange="f_file.value=this.value" style="display:none">
                             
                    </div>
                </div>
                <div class="pricing_footer">
                    <button class="btn btn-success btn-block" type="submit">发布广告</button>
                    <p>
                        <a href="" onclick="three.click();return false;">重置</a>
                        <input id="three" type="reset" style="display:none">
                    </p>
                </div>
                </form>
            </div>
        </div>
    </div>   
    <!-- price element -->

    <!-- price element -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="pricing ui-ribbon-container">
            <div class="ui-ribbon-wrapper">
                <div class="ui-ribbon">
                    100% Off
                </div>
            </div>
            <div class="title">
                <h2><strong>全景底图</strong></h2>
                <h1>FOUR</h1>
            </div>
            <div class="x_content">
                <form action="{:U('Admin/Banner/update')}" method="post" enctype="multipart/form-data"><input type="hidden" name="id" value="0">
                <div class="">
                    <div class="pricing_features">

                        <input type="text" placeholder="全景图片2064*427" id="f_file" style="width:105px;height:33px;margin-right:10px;margin-bottom:118px;margin-top:104px"><input type="button" value="浏览..." onClick="t_file.click()">
                        <input name="img" type="file" id="t_file" onchange="f_file.value=this.value" style="display:none">

                    </div>
                </div>
                <div class="pricing_footer">
                    <button class="btn btn-success btn-block" type="submit">提交设置</button>
                    <p>
                        <a href="" onclick="four.click();return false;">重置</a>
                        <input id="four" type="reset" style="display:none">
                    </p>
                </div>
                </form>
            </div>
        </div>
    </div>   
    <!-- price element -->

</div>
        
        </div>
    </div>
    
</div>

<script type="text/javascript">
    //设置检测变量
    var t=false;
    var s=false;
    var i=false;
    //主标题绑定失去焦点事件
    $('input[name=theme]').blur(function(){
       //获取主标题文本框的值
       var text=$(this).val();
       //判断输入字数
       if(text.length>20){
           alert('请精简至20字以内!');
           $(this).css('color','red');
       }else{
           i=true;
       }
       $(this).focus(function(){
           $(this).css('color','#73879c');
       })
    })
    //副标题绑定失去焦点事件
    $('input[name=subhead]').blur(function(){
        //获取副标题文本框的值
        var text=$(this).val();
        //判断输入字数
        if(text.length>35){
            alert('请精简至35字以内!');
            $(this).css('color','red');
        }else{
            s=true;
        }
        $(this).focus(function(){
            $(this).css('color','#73879c');
        })
    })

    //上图片框绑定失去焦点事件
    //$('input[name=uploadImg]').blur(function(){
        //发送ajax请求获取服务器图片路径
        // $.ajax({
        //     type:'psot',
        //     url:{:U('Admin/Banner/find')},
        //     data:{name:id},
        //     async:false,
        //     success:function(data){
        //         if(data==0){

        //         }
        //     }
        // })

    //             var file = $(this).val();
    //             if(!/.(gif|jpg|jpeg|png|GIF|JPG|png)$/.test(file)){
    //                 alert("图片类型必须是.gif,jpeg,jpg,png中的一种"); 
    //                 return false;
    //             }else{
    //                 var image = new Image(); 
    //                 image.src = file; 
    //                 console.log(image);//die;
    //                 var height = image.height; 
    //                 var width = image.width; 
    //                 var filesize = image.filesize;  
    //                 alert(height+"X"+filesize); 
    //                 if(width>617 && height>328 && filesize>409600){ 
    //                     alert('请上传617*328像素 或者大小小于400k的图片');  
    //                     return false; 
    //                     }
    //             } 
    //                 alert("图片通过");
    // })

    //表单绑定提交事件
    // $('form').submit(function(){
    //     //程序内触发事件
    //     $('input[name=theme]').trigger('blur');
    //     $('input[name=subhead]').trigger('blur');
    //     $('input[name=img]').trigger('blur');
    //     //判断
    //     if(t && s){
    //         return true;
    //     }else{
    //         return false;
    //     }
    // })
</script>




<!-- <script type="text/javascript" src="__PUBLIC__/Admin/production/js/parsley/parsley.min.js"></script> -->
        
       
</block>
