<extend name="Index/index" />
<block name="title">
后台管理--友链添加页
</block>
<block name="con">

<div class="page-title">
    <div class="title_left">
        <h3>友情链接管理</h3>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <h2>友链添加 <small></small></h2>
        <ul class="nav navbar-right panel_toolbox">
           
            <li class="dropdown">
                <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"> 
                </a>
            </li>
                
            
        </ul>
        <div class="clearfix"></div>
    </div>
	<div class="x_content">
	    <br>
	    <form action="{:U(insert)}" class="form-horizontal form-label-left" data-parsley-validate="" id="demo-form2" name="goods_insert" novalidate="" method="post" enctype="multipart/form-data">
				
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">网站名称
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="text" style="width: 500px;" class="form-control col-md-7 col-xs-12" required="required" id="fname" name="fname" data-parsley-id="4702" value=""><span></span>
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">网址
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="text" style="width: 500px;"  class="form-control col-md-7 col-xs-12" required="required" id="furl" name="furl" data-parsley-id="4702" value=""><span></span>
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">彩色标志(logo)
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="file" id="image_c" name="fimage[]" data-parsley-id="4702" value="" onchange="javascript:setImagePreviewC();"><span><span style="font-size:12px;"> ! 建议上传图片大小 规格:200px(像素)*100px(像素)</span></span>
	            </div>
				<div id="localImag_c" style="margin-left: 250px;margin-top:50px;width:212px;height:111px;border: 1px solid #ddd;padding:5px;" ><img  id="preview_c" width=-1 height=-1 style="diplay:none" />
				</div>
	        </div>
	        <div class="form-group">
	            <label for="first-name" class="control-label col-md-3 col-sm-3 col-xs-12">黑白标志(logo)
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="file" id="image_bw" name="fimage[]" data-parsley-id="4702" value="" onchange="javascript:setImagePreviewB();"><span><span style="font-size:12px;"> ! 建议上传图片大小 规格:200px(像素)*100px(像素)</span></span>
	            </div>
				<div id="localImag_bw" style="margin-left: 250px;margin-top:50px;width:212px;height:111px;border: 1px solid #ddd;padding:5px;" ><img  id="preview_bw" width=-1 height=-1 style="diplay:none" />
				</div>
	        </div>
	        <div class="form-group">
	            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
	                <button class="btn btn-success" type="submit">添加</button>
	                <button class="btn btn-primary" type="reset">重置</button>
	            </div>
	        </div>

	    </form>
	</div>
</div>

<script type="text/javascript" src="__PUBLIC__/Admin/production/js/parsley/parsley.min.js"></script>
<script type="text/javascript">

/*添加内容判断  以及样式 开始*/
	var T = false;
	var A = false;
	var D = false;
	var C = false;
	
	$('#fname').blur(function(){
		var tit = $(this).val();
		var re = /^[\u4e00-\u9fa5_a-zA-Z0-9]+[\s]?[\u4e00-\u9fa5_a-zA-Z0-9]+$/;
		var r = tit.match(re);
		// alert(111);
		if(tit=='' || tit.length>50 || r==null){
			$(this).css({border:'1px solid rgba(230,3,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(230,3,3,0.2)'});
			var s = '[ 网站名称 ]不能为空,或格式不正确,且不能超出50个字符'
			$(this).siblings('span').html(s);
			return T=false;
		}else{
			$(this).css({border:'1px solid rgba(3,130,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(3,230,3,0.2)'});
			$(this).siblings('span').remove();
			return T=true;
		}
	})
//     //
	$('#furl').blur(function(){
		var aut = $(this).val();
		var re = /^[A-Za-z0-9]*[\.]?[A-Za-z0-9]+\.[A-Za-z]+$/;
		var r  = aut.match(re);
		if(aut=='' || aut.length>50 || r==null){
			$(this).css({border:'1px solid rgba(230,3,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(230,3,3,0.2)'});
			var s = '[ 网址 ]不能为空,或格式不正确,且不能超出50个字符'
			$(this).siblings('span').html(s);
			return A=false;
		}else{
			$(this).css({border:'1px solid rgba(3,130,3,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(3,230,3,0.2)'});
			$(this).siblings('span').remove();
			return A=true;
		}
	})
	
	$('form').submit(function(){
		//如果没有上传图片,提示
		//彩色
		if($('#image_c').val()==""){
			$('localImag_c').css({border:'1px solid rgba(230,3,3,0.8)',boxShadow:'2px 1px 4px 1px rgba(230,3,3,0.2)'});
			alert('没有上传彩色logo图片');
			return D;
		}
		//黑白
		if($('#image_bw').val()==""){
			$('localImag_bw').css({border:'1px solid rgba(230,3,3,0.8)',boxShadow:'2px 1px 4px 1px rgba(230,3,3,0.2)'});
			alert('没有上传黑白logo图片');
			return C;
		}
		if(T!=true){
			$('#fname').css({border:'1px solid rgba(3,3,230,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(3,3,230,0.2)'});
			alert('网站格式确认');
			return T;
		}
		var aut = $('#furl').val();
		if(A!=true){
			$('#furl').css({border:'1px solid rgba(3,3,230,0.3)',borderRadius:'3px',boxShadow:'2px 1px 4px 1px rgba(3,3,230,0.2)'});
			alert('网址格式确认');
			return A;
		}
		
		if(T==false || A==false){
			return false;
		}
		return true;
	})
/*添加内容判断  以及样式 结束*/

/*图片上传预览 开始*/
//彩色图片处理
function setImagePreviewC() {  
        var docObj=document.getElementById("image_c");  
   
        var imgObjPreview=document.getElementById("preview_c");  
                if(docObj.files &&    docObj.files[0]){  
                        //火狐下，直接设img属性  
                        imgObjPreview.style.display = 'block';  
                        imgObjPreview.style.width = '200px';  
                        imgObjPreview.style.height = '99px';                     
      //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式    
      imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);  
  
  
                }   
                return true;  
        }  
//黑白图片处理
function setImagePreviewB() {  
        var docObj=document.getElementById("image_bw");  
   
        var imgObjPreview=document.getElementById("preview_bw");  
                if(docObj.files &&    docObj.files[0]){  
                        //火狐下，直接设img属性  
                        imgObjPreview.style.display = 'block';  
                        imgObjPreview.style.width = '200px';  
                        imgObjPreview.style.height = '99px';                     
      //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式    
      imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);  
  
  
                }
                return true;    
        }
/*图片上传预览 结束*/


</script>
        
       
</block>