<extend name="Index/index" />
            <block name="con">  
            <html><head>
		<title>发货单列表</title>
		<meta charset="utf-8">
		<link href="/test/3.2.2/83-fanke-OK/progect/Public/Admin/Css/bootstrap.css" rel="stylesheet">
		<link href="/test/3.2.2/83-fanke-OK/progect/Public/Admin/Css/z_delivery.css" rel="stylesheet">
		<script src="/test/3.2.2/83-fanke-OK/progect/Public/Admin/Js/jquery.js"></script>
		<script type="text/javascript">
			$(function(){
				$("tr:odd").addClass("odd");  /* 奇数行添加样式*/
				$("tr:even").addClass("even"); /* 偶数行添加样式*/
			})
		</script>
		<style>
			.even { 
				background:#FFF38F;
			}  /* 偶数行样式*/
			.odd { 
				background:#FFFFEE;
			}  /* 奇数行样式*/
		</style>
	</head>
	<body>

		<div id="delivery_main">
		<img src="__PUBLIC__/fapiaotemp.jpg" >
	

		
	
	
		<div id="delivery_main" style="margin-top:-545px;width:820px;margin-left:100px;">
			<div class="delivery_title"></div>
			<div id="delivery_content">
				<input type="hidden" value="16" name="id">

				<foreach name="res" item='res'>
				<table class="delivery_modify" >
					<tbody>
					<tr>
						<th width="80px" width="50px"></th><td></td><th></th><td colspan="4" style="margin-left:-20px;">{$res.code}</td>
					</tr>
					<tr height="20px">
						<th ></th><td>{$Think.now }<!--开票日期-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$res.title}</td><th ></th><td colspan="2"></td><th></th><td></td>
					</tr>
					<tr>
						<th>&nbsp;</th><td></td><th></th><td colspan="2"></td><th></th><td></td>
					</tr>
					<tr>
						<th>&nbsp;</th><td></td><th></th><td colspan="2"></td><th></th><td></td>
					</tr>
					<tr>
						<th>公司/个人</th><td colspan="4">{$res.company}|{$res.privateperson}</td><th></th><td></td>
					</tr>
					<tr>
						<th colspan="2">内容：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$res.content}</th><th></th><th></th><th></th><th colspan="2"></th>
					</tr>

					<!-- 商品遍历开始 -->
					<tr>
						<th colspan="2">金额: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${$res.total}.00元</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
										<!-- 商品遍历结束 -->
					<tr>
						<th></th><td colspan="6">&nbsp;</td>
					</tr>
					<tr>
						<th></th><td colspan="4"></td><td colspan="2"></td>
					</tr>
					<tr>
						<th></th><td colspan="2"></td>
						<th colspan="2"></th><td colspan="2"></td>
					</tr>
					<tr><th>品牌</th><td colspan="2">Mcake蛋糕&nbsp;&nbsp;
					MCAKE，唇齿间浪漫优雅的愉悦体验。法国本土品牌，巴黎名流生活的一面镜子~百年来对于浪漫和优雅的坚持体现<td><th></th><td colspan="2"></td></tr>
					</tr>
					<tr><th>公司</th><td colspan="2">上海麦心食品有限公司<td><th></th><td colspan="2"></td></tr>
				</tbody></table>
				</foreach>
			</div>
		</div> 
	
	
</div>
</body></html>
					
<!--打印-->
            <script language="javascript">
			function printsetup(){
			// 打印页面设置
			web.execwb(8,1);
			}
			function printpreview(){
			// 打印页面预览        
			web.execwb(7,1);      
			}
			function printit()
			{
			if (confirm('确定打印吗？')) {
			web.execwb(6,6)
			}
			}
			</script>
	<div style="margin-top:380px;margin-left:200px;">

			<OBJECT classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"
			height=0 id=web name=web width=0>
			</OBJECT>

			<input type="button" name=button_print value="打印" onclick="javascript:printit()">
			<input type="button" name="button_setup" value="打印页面设置"
			onclick="javascript:printsetup();"> 
			<input type="button" name="button_show" value="打印预览"
			onclick="javascript:printpreview();"> 
			<input type="button" name="button_fh" value="关闭"
			onclick="javascript:window.close();">
     </div>           <!--打印结束-->
            </block>