<extend name="Index/index" />
<block name="con">

    
<div class="page-title">
    <div class="title_left">
        <h3>修改密码</h3>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <h2>修改密码 <small>请认真填写</small></h2>
        <div class="clearfix"></div>
    </div>
	<div class="x_content">
	    <br>
	    <form class="form-horizontal form-label-left" method="post" action="{:U('Admin/Auser/repass')}" data-parsley-validate="" id="demo-form2" novalidate="">
	        
	         <div class="form-group">
	            <label for="last-name" class="control-label col-md-3 col-sm-3 col-xs-12">新密码<span class="required">*</span>
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="password" class="form-control col-md-7 col-xs-12" required="required" name="apass" id="last-name" data-parsley-id="4073" value=""><span></span>
	            </div>
	        </div>
	         <div class="form-group">
	            <label for="last-name" class="control-label col-md-3 col-sm-3 col-xs-12">确认密码<span class="required">*</span>
	            </label>
	            <div class="col-md-6 col-sm-6 col-xs-12">
	                <input type="password" class="form-control col-md-7 col-xs-12" required="required" name="reapass" id="last-name" data-parsley-id="4073" value=""><span></span>
	            </div>
	        </div>
	        <input type="hidden" name="id" value="{$ausers['id']}">
	        <div class="ln_solid"></div>
	        <div class="form-group">
	            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
	                <button class="btn btn-success" type="submit">确认修改</button>
	                <button class="btn btn-primary" type="reset">重置</button>
	            </div>
	        </div>

	    </form>
	</div>
</div>

<script type="text/javascript">
	//判断两次密码是否一致
	var R = false;
	$('input[name=reapass]').blur(function() {
		/* Act on the event */
		//获取两次密码的值
		var v = $('input[name=apass]').val();
		var rv = $(this).val();
		//判断两次密码是否一致
		if(rv!=v){
			R = false;
			$(this).next().html('确认密码输入有误').css('color','red');
		}else{
			R = true;
			$(this).next().html('')
		}
	});	
	//绑定提交
	$('#demo-form2').submit(function() {
		/* Act on the event */
		var pass = $('input[name=apass]').val();
		if(!pass){
			$('input[name=apass]').next().html('密码不能为空').css('color','red');
			return false;
		}else{
			$('input[name=apass]').next().html('')
		};
		$('input[name=reapass]').trigger('blur');
		$('input[name=apass]').trigger('blur');
		if(R){
			return true;
		}else{
			return false;
		}
	});
</script>
       
</block>
