<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>定制订单选择页</title>
<link rel="stylesheet" href="__CSS__/communal.css" />
<link rel="stylesheet" href="__CSS__/dingzhi_dingdan.css" />
</head>

<body>

<div class="zhengti">

<div class="header"  id="heads">
  <!--logo nav-->
    <ul class="ull">
      <li class="lil"><a href="#"><img src="__IMG__/logo.png" width="111" height="57" alt="logo" /></a></li>
      <li class="lil"><a href="#" class="xuanze">首页</a></li>
      <li class="lil"><a href="#">我要查找</a></li>
    </ul>
	<!--sousuo-->
    <div class="sousuo">
       <form action="#">
         <input type="text" placeholder="请输入要搜索的内容" class="sousuok" />
		 <input type="submit" value="" class="sousuoa" />
       </form>
    </div>
    <div class="wdlzc" style="display:none">
	   <a href="#">登录</a>&nbsp;/&nbsp;<a href="#">注册</a>
	</div>
	<div class="dlzck">
	
	<div class="dlzc">
	    <span><img id="tx" src="__IMG__/tx.png" width="44" height="44" style="vertical-align:middle;" /></span>
			  <div id="tanchu">
			       <ul>
					  <li>用户名</li>
					  <li>个人中心</li>
					  <li>我的收藏</li>
					  <li>我的关注</li>
					  <li>我的作品</li>
					  <li>我的订单</li>
					  <li>我的交易</li>
					  <li>我的个人页</li>
				   </ul>
                   <div class="tuichu">退出</div>
			  </div>
		
	</div>
    <span class="dlzcld">
    <img src="__IMG__/ld.png" width="44" height="44" style="vertical-align:middle;" />
      <span class="xiaoxi">(2)</span>
    </span>
	</div>
  </div>
  
  <div class="dingzhi_main">
  	<div class="dingdan_leixing">请选择您想定制的订单类型</div>
    
    <div class="dingzhi_xuanze">
		<a href="__URL__/model.html">
    	<div class="huadong_xk">
        	<div class="huadong_xk_n">
            	        	<img src="__IMG__/dd_che.png" width="79" height="62" class="dingzhigg" /><div class="dd_hg_wz">模型</div>
            </div>
        </div>
		</a>
    </div>
	
	<div class="dingzhi_xuanze">
		<a href="__URL__/ad_pic.html">
    	<div class="huadong_xk">
        	<div class="huadong_xk_n">
            	        	<img src="__IMG__/dd_ad.png" width="79" height="62" class="dingzhigg" /><div class="dd_hg_wz">广告图</div>
            </div>
        </div>
		</a>
    </div>
	<div class="dingzhi_xuanze">
		<a href="__URL__/manual.html">
    	<div class="huadong_xk">
        	<div class="huadong_xk_n">
            	        	<img src="__IMG__/dd_ben.png" width="79" height="62" class="dingzhigg" /><div class="dd_hg_wz">产品说明书</div>
            </div>
        </div>
		</a>
    </div>
	<div class="dingzhi_xuanze">
		<a href="__URL__/video_script.html">
    	<div class="huadong_xk">
        	<div class="huadong_xk_n">
            	        	<img src="__IMG__/dd_sp.png" width="79" height="62" class="dingzhigg" /><div class="dd_hg_wz">视频脚本</div>
            </div>
        </div>
		</a>
    </div>
	<div class="dingzhi_xuanze">
		<a href="__URL__/video.html">
    	<div class="huadong_xk">
        	<div class="huadong_xk_n">
            	        	<img src="__IMG__/dd_sxt.png" width="79" height="62" class="dingzhigg" /><div class="dd_hg_wz">视频</div>
            </div>
        </div>
		</a>
    </div>
	
  </div>
  
  <div class="footer">
	    <div class="guanyv_lianxi">
        <a href="#" target="_blank" class="ys">关于我们</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="#" target="_blank" class="ys">联系我们</a>
        </div>
        <div class="banquan">
          版权所有:**********<br />
          Copyright:2006-2013&nbsp;www.justeasy.cn&nbsp;All&nbsp;rights&nbsp;reserved<br />
          南京设易网络科技有限公司&nbsp;登记序号：苏ICP备11003578号-2<br />
        </div>
	</div>
	
	<div class="gjl">
 <a href=""><div class="gjl_1"></div></a>
 <a href=""><div class="gjl_2"></div></a>
 <a href=""><div class="gjl_3"></div></a>
 <a href=""><div class="gjl_4"></div></a>
 <a href=""><div class="gjl_5"></div></a>
 <a href="#heads"><div class="gjl_6"></div></a>
</div>
  <div class="clear"></div>
</div>

</body>
</html>
