<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>定制订单-视频脚本</title>
<link rel="stylesheet" href="__CSS__/communal.css" />
<link rel="stylesheet" href="__CSS__/custom.css" />
<script src="__JS__/jquerya.js"></script>
</head>
<body>
<div class="concent">
     <div class="header"  id="heads">
  <!--logo nav-->
            <ul class="ull">
              <li class="lil"><a href="#"><img src="__IMG__/logo.png" width="111" height="57" alt="logo" /></a></li>
              <li class="lil"><a href="#" class="xuanze">首页</a></li>
              <li class="lil"><a href="#">我要查找</a></li>
            </ul>
  <!--sousuo-->
            <div class="sousuo">
               <form action="#">
                 <input type="text" placeholder="请输入要搜索的内容" class="sousuok" />
                 <input type="submit" value="" class="sousuoa" />
               </form>
            </div>
            <div class="wdlzc" style="display:none">
               <a href="#">登录</a>&nbsp;/&nbsp;<a href="#">注册</a>
            </div>
            <div class="dlzck">
            
            <div class="dlzc">
                <span><img id="tx" src="__IMG__/tx.png" width="44" height="44" style="vertical-align:middle;" /></span>
                      <div id="tanchu">
                           <ul>
                              <li>用户名</li>
                              <li>个人中心</li>
                              <li>我的收藏</li>
                              <li>我的关注</li>
                              <li>我的作品</li>
                              <li>我的订单</li>
                              <li>我的交易</li>
                              <li>我的个人页</li>
                           </ul>
                           <div class="tuichu">退出</div>
                      </div>             
     </div>
        <span class="dlzcld">
        <img src="__IMG__/ld.png" width="44" height="44" style="vertical-align:middle;" />
          <span class="xiaoxi">(2)</span>
        </span>
    </div>   
 </div>
<!--头部结束-->
 <div class="custom-con">
   <h3>视频脚本订单</h3>   
   <form>
        <table class="table-one tab">
         <tr>
             <td class="texttd">项目名称：</td>
             <td class="distancefl" width="620px"><input type="text"  class="cusinp1"/></td>
         </tr>
         <tr>
             <td class="texttd">项目描述：</td>
             <td class="distancefl width="620px""><textarea></textarea></td>
         </tr>
            <tr>
             <td class="texttd">项目预算：</td>
             <td class="distancefl" width="620px"><input type="text"  class="cusinp1"/></td>
             <td class="textfl">元（人民币）</td>
           </tr>
        </table>
        <div class="cycle">
             <span class="texttdsp fl">预算周期：</span>
             <span class="fl"><input type="text"  class="cusinp2"/></span>
             <span class="fl zhi">至</span>
             <span class="fl"><input type="text"  class="cusinp2"/></span>
             <div class="clear"></div>
        </div>
        <div class="inline"></div>
        <div class="customdan radiocss scenarios">
                <span class="texttd fl " style=" margin-top:5px;">应用场景：</span> 
                 <div class="fl " >
                         <label>
                            功能详解 <input type="radio"  checked="checked" name="sport" style=" display:none;" >
                         </label> 
                         <label style=" margin-left:40px;">
                            品牌宣传 <input type="radio"  name="sport" style=" display:none;" >
                         </label>
                         <label style=" margin-left:40px;">
                          产品宣传 <input type="radio"  name="sport" style=" display:none;" >
                         </label>
                         <label style=" margin-left:40px;">
                         其他<input type="radio"  name="sport" style=" display:none;" >
                         </label>
                         <span><input type="text" style=" width:218px; height:30px; text-indent:10px; vertical-align:middle;" placeholder="请填写应用场景"/></span>
                  
                 </div>
                 <div class="clear"></div>  
        </div>
        <div class="inline"></div>
        <div class="customdan radiocss way">
                <span class="texttd fl " style=" margin-top:5px;">输出渠道：</span> 
                 <div class="fl " >
                      <label>
                       电视 <input type="radio"  checked="checked" name="sport" style=" display:none;" >
                     </label>
                     
                     <label style=" margin-left:40px;">
                      网络 <input type="radio"  name="sport" style=" display:none;" >
                     </label>
                     
                     <label style=" margin-left:40px;">
                      现场发布 <input type="radio"  name="sport" style=" display:none;" >
                     </label>
                     
                     <label style=" margin-left:40px;">
                      其他 <input type="radio"  name="sport" style=" display:none;" >
                     </label>
                     <span><input type="text" style=" width:218px; height:30px; text-indent:10px; vertical-align:middle; " placeholder="请填写渠道"/></span>

                 <div class="clear"></div>  
        </div>
        <div class="inline"></div>
        <div class="chex">
           <span class="texttd fl " style=" margin-top:5px;">产品（车型）：</span>
           <span class="fl selezi">品牌</span>
           <div class="fl">
                 <dl class="select wid130 cuselect">
                  <dt>奥迪</dt>
                  <dd>
                      <ul>
                          <li><a href="#">16:9</a></li>
                          
                      </ul>
                  </dd> 
              </dl>                  
           </div>
           <span class="fl selezi">车系</span>
           <div class="fl">
                 <dl class="select wid130 cuselect">
                  <dt>A2</dt>
                  <dd>
                      <ul>
                          <li><a href="#">16:9</a></li>
                          
                      </ul>
                  </dd> 
              </dl>                  
           </div>
           <span class="fl selezi">车款</span>
           <div class="fl">
                 <dl class="select wid300 cuselect">
                  <dt>2015款SPORTBACK 35TFSI 手动 进取型</dt>
                  <dd>
                      <ul>
                          <li><a href="#">16:9</a></li>
                          
                      </ul>
                  </dd> 
              </dl>                  
           </div>
           
           <div class="clear"></div>
        </div>
        <div class="inline"></div>
        <div class="contacts">
             <span class="texttd fl" style=" margin-top:5px;">联系人：</span>  
             <span class="fl"><input class="cusinp3"/></span>
             <div class="clear"></div>
        </div> 
        <div class="inline"></div>
        <div class="number">
             <span class="texttd fl" style=" margin-top:5px;">联系电话：</span>  
             <span class="fl"><input class="cusinp3"/></span>
             <div class="clear"></div>
        </div> 
        <div class="inline"></div>
        <h3>视频脚本信息</h3>
        <div class="customdan radiocss sclayout">
                <span class="texttd fl ">输出格式：</span> 
                 <div class="fl " >
                     <label>
                      mov <input type="radio"  checked="checked" name="sport" style=" display:none;" >
                     </label>         
                     <label style=" margin-left:40px;">
                     mp4<input type="radio"  name="sport" style=" display:none;" >
                     </label> 
                     <label style=" margin-left:40px;">
                     wvm<input type="radio"  name="sport" style=" display:none;" >
                     </label> 
                     <label style=" margin-left:40px;">
                     avi<input type="radio"  name="sport" style=" display:none;" >
                     </label>
                     
                 </div>
                 <div class="clear"></div>  
       </div>
       <div class="inline"></div>
       <div class="carcolor">
           <span class="texttd fl" style=" margin-top:5px;">主打车型颜色：</span>
           <div class="fl">
                 <dl class="select wid170 cuselect">
                  <dt>自定义颜色</dt>
                  <dd>
                      <ul>
                          <li><a href="#">16:9</a></li>
                          
                      </ul>
                  </dd>       
           </div>
           <span class="fl"><input type="text" class="cusinp4" style=" margin-left:25px"/></span>
           <div class="clear"></div>
       </div>  
       <div class="inline"></div>
       <div class="movies">
           <span class="texttd fl" style=" margin-top:5px;">影片预计时长：</span>
           <span class="fl"><input type="text" class="cusinp4" /> <label style=" padding-left:10px;">秒</label></span>
           <div class="clear"></div>
       </div> 
       <div class="inline"></div>
        <div class="customdan radiocss environment">
                <span class="texttd fl " style=" margin-top:5px;">环境要求：</span> 
                 <div class="fl " >
                                      <label>
                      城市 <input type="radio"  checked="checked" name="girl" style=" display:none;" >
                     </label>
                     <label style=" margin-left:40px;">
                     自然环境  <input type="radio"  name="girl" style=" display:none;" >
                     </label>
                     <label style=" margin-left:40px;">
                     非真实环境<input type="radio"  name="girl" style=" display:none;" >
                     </label>
                     <label style=" margin-left:40px;">
                      其他 <input type="radio"  name="girl" style=" display:none;" >
                     </label>
                     <span><input type="text" style=" width:218px; height:30px; text-indent:10px; vertical-align:middle; " placeholder="请填写渠道"/></span>

                 </div>
                 <div class="clear"></div>  
        </div> 
        <div class="customdan radiocss style">
                <span class="texttd fl " >影片风格：</span> 
                 <div class="fl " >
                      <div>
                             <label>
                                 清新<input type="radio"  name="sport" style=" display:none;" checked="checked" >
                             </label>
                             <label style=" margin-left:40px;">
                                 温馨<input type="radio"  name="sport" style=" display:none;" >
                             </label>
                             <label style=" margin-left:40px;">
                                 梦幻<input type="radio"  name="sport" style=" display:none;" >
                             </label>
                             <label style=" margin-left:40px;">
                                 产品介绍型<input type="radio"  name="sport" style=" display:none;" >
                             </label>
                             <label style=" margin-left:40px;">
                                 野性<input type="radio"  name="sport" style=" display:none;" >
                             </label>
                       </div> 
                       <div style="margin-top:10px">                                
                        <label style="">其它</label>
                        <span><input type="text" style=" width:218px; height:30px; text-indent:10px; vertical-align:middle; " placeholder="请填写具体展示"/></span>
                     </div>
                 </div>
                 <div class="clear"></div>  
        </div>
        <div class="inline"></div> 
        <div class="customdan shows">
                <span class="texttd fl " >具体要求展览内容：</span> 
                 <div class="fl " >
                      <div class="miaoshu">（可多选，建议15秒一个；30秒2~3个；60秒4~5ge；90秒5~7个；180秒7~9个）</div>
                      <div class="martop20">
                         <span class="check">
                             <input type="checkbox" value="外形设计" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">外形设计</span>
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="内饰设计" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">内饰设计</span>                        
                             <input type="checkbox" />
                         </span><span class="palf10">
                             <input type="checkbox" value="空间" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">空间</span>                        
                             <input type="checkbox" />
                         </span>
                          </span><span class="palf10">
                             <input type="checkbox" value="动力" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">动力</span>                        
                             <input type="checkbox" />
                         </span>
                          <span class="palf10">
                             <input type="checkbox" value="节油" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">节油</span>                        
                             <input type="checkbox" />
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="环保" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">环保</span>                        
                             <input type="checkbox" />
                         </span>
                          <span class="palf10">
                             <input type="checkbox" value="舒适" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">舒适</span>                        
                             <input type="checkbox" />
                         </span>
                      </div> 
                      <div class="martop20">
                         <span class="check">
                             <input type="checkbox" value="邮电混合" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">邮电混合</span>
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="纯电动" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">纯电动</span>                        
                             
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="被动安全" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">被动安全</span>                        
                          
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="主动安全" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">主动安全</span>                        
                             
                         </span>
                          <span class="palf10">
                             <input type="checkbox" value="家用型" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">家用型</span>                        
                             
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="商用" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">商用</span>                        
                            
                         </span>
                     </div> 
                     <div class="martop20">
                         <span class="check">
                             <input type="checkbox" value="多功能" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">多功能</span>
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="其他" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">其他</span> 
                             <span><input type="text"class="cusinp4"  placeholder="请填写具体展示"/></span>                       
                         </span>   
 
                     </div> 
                       
                 </div>
                 <div class="clear"></div>  
        </div> 
        <div class="inline"></div>
        <div class="customdan cyys">
            <span class="texttd fl">必要场景元素：</span>
            <div class="fl">
                 <div class="miaoshu">（可多选，建议15秒一个；30秒2~3个；60秒4~5ge；90秒5~7个；180秒7~9个）</div>
                 <div class="martop20">
                         <span class="check">
                             <input type="checkbox" value="海" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">海</span>
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="大桥" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">大桥</span>                        
                             
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="山脉" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">山脉</span>                        
                          
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="公路" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">公路</span>                        
                             
                         </span>
                          <span class="palf10">
                             <input type="checkbox" value="沙漠" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">沙漠</span>                        
                             
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="车库" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">车库</span>                        
                            
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="独栋住宅" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">独栋住宅</span>                        
                             
                         </span>
                     </div> 
                     <div class="martop20">
                         <span class="check">
                             <input type="checkbox" value="商业街" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">商业街</span>
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="乡村" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">乡村</span>                        
                             <input type="checkbox" />
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="竹林" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">竹林</span>                        
                             <input type="checkbox" />
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="冰面" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">冰面</span>                        
                             <input type="checkbox" />
                         </span>
                          <span class="palf10">
                             <input type="checkbox" value="小区" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">小区</span>                        
                             <input type="checkbox" />
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="其他" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">其他</span> 
                             <span><input type="text" class="cusinp4" placeholder="请填写渠道"/></span>                          
                         </span>
                     </div>   
            </div>
            <div class="clear"></div>
        </div>
        <div class="inline"></div>
        <div class="customdan shang">
             <span class="texttd fl" style=" margin-top:10px;">参考风格：</span>
             <div class="fl">
                 <button class="shanganniu">点击上传</button>
                 <span style=" font-size:12px; color:#666;">(从收藏选择或本地上传)</span>
             </div>
             <div class="clear"></div>
        </div>
        <div class="inline"></div>
        <div class="customdan jiaose">
             <span class="texttd fl" style=" margin-top:3px;" >是否需要角色人物：</span>
             <div class="fl">
                <dl class="select wid130 cuselect">
                  <dt>无</dt>
                  <dd>
                      <ul>
                          <li><a href="#">16:9</a></li>
                          
                      </ul>
                  </dd>       
             </div>
             <div class="fl">
                 <span>动物</span>
                 <input type="text" class="cusinp4" placeholder="请填写动物名称"/>
             </div>
             <div class="clear"></div>
        </div>
        <div class="inline"></div> 
        <div class="customdan radiocss soundp">
            <span class="texttd fl" >是否需要特殊展示部件：</span> 
            <div class="fl">
                <div class="soundp-title">
                    <ul>
                           <li title="shide">     
                                <label>
                                 是<input type="radio"  name="sport" style=" display:none;" >
                                </label>      
                           </li>
                           <li title="bushi"> 
                                <label style=" margin-left:40px;">
                                 否<input type="radio"  checked="checked" name="sport" style=" display:none;" >
                                </label>   
                           </li>      
                    </ul>
                </div>
                
                <div class="soundp-con">
                     <div class="shide" style="display:none">         
                      <div style=" padding:15px 0">需要特殊展示部件<span class="miaoshu">（改订单显示金额不含MAX模型制作类内容，如需查看价格，可创建模型制作订单查看详情或咨询平台客服）</span></div>
                      <div class="martop20">
                         <span class="check">
                             <input type="checkbox" value="发动机" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">发动机</span>
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="变速器" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">变速器</span>                        
                             
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="钢架" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">钢架</span>                        
                             
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="底盘" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">底盘</span>                        
                             
                         </span>
                          <span class="palf10">
                             <input type="checkbox" value="悬挂" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">悬挂</span>                        
                             
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="大灯" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">大灯</span>                        
                             
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="座椅" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">座椅</span>                        
                            
                         </span>
                     </div>                              
                     <div class="martop20"> 
                             <span >
                             <input type="checkbox" value="轮胎" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">轮胎</span>                        
                             
                         </span>
                          <span class="palf10">
                             <input type="checkbox" value="音响" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">音响</span>                        
                             
                         </span>
                         <span class="palf10">
                             <input type="checkbox" value="其他" name=""/>
                             <img src="__IMG__/checkbox.png" style=" vertical-align:middle;" onclick="javascript:mycheck(this);" />
                             <span class="agree">其他</span> 
                             <span><input type="text" class="cusinp4" placeholder="请填写渠道"/></span>                          
                         </span>           
                     </div>
                   </div>
                     <div class="bushi"></div>
                </div>
            </div>
            <div class="clear"></div>     
        </div> 
        <div class="inline"></div>
        <div class="customdan shang">
             <span class="texttd fl" style=" margin-top:10px;">参考风格：</span>
             <div class="fl">
                 <button class="shanganniu">上传附件</button>
                 <span style=" font-size:12px; color:#666;">(参考图片 三视图  工业模型)</span>
             </div>
             <div class="clear"></div>
        </div> 
        <div class="inline"></div>
         <div class="customdan beizhu">
             <span class="texttd fl" style=" margin-top:10px;">备注：</span>
             <div class="fl">
                  <textarea style=" width:620px; height:96px"></textarea>  
             </div>
             <div class="clear"></div>
        </div> 
        <div class="inline"></div>
        <div class="customdan fuwu">
            <span class="texttd fl" >服务费：</span>
            <span>总费用的15%</span> 
        </div>
        <div class="fuwu" style="padding-bottom:20px">
            <span class="texttd fl" >税费：</span>
            <span>总费用的15%</span> 
        </div> 
        <div class="inline"></div> 
        <div class="customdan yugao">
            <span class="texttd fl" >费用预告：</span>
            <span>1000~2000元</span>
            <span class="miaoshu">(该订单的显示金额不含MAX模型制作类内容，如需查看价格，可创建模型制作订单查看详情或咨询平台客服)</span> 
        </div>
        <div class="inline"></div> 
        <div class="dabtn customdan">
            <input type="shanganniu">确认下单</button>
            <button style=" margin-left:70px;" type="shanganniu">保存订单</button>
        </div>
        <div class="inline"></div>
  
   </form>   
 </div> 
        <div class="footer">
                <div class="guanyv_lianxi">
                <a href="#" target="_blank" class="ys">关于我们</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#" target="_blank" class="ys">联系我们</a>
                </div>
                <div class="banquan">
                  版权所有:**********<br />
                  Copyright:2006-2013&nbsp;www.justeasy.cn&nbsp;All&nbsp;rights&nbsp;reserved<br />
                  南京设易网络科技有限公司&nbsp;登记序号：苏ICP备11003578号-2<br />
                </div>
        </div>       
</div>
<script>
 <!--应用场景-->
    $('.scenarios label').each(function(){
        $(this).bind('click',function(){
            $('.scenarios label').removeAttr('class');
            $(this).attr('class', 'checked');
            $('.scenarios label').find('input').removeAttr('checked', 'checked');
            $(this).find('input').attr('checked', 'checked');
        });
    });

     <!--输出渠道-->
  $('.way label').each(function(){
        $(this).bind('click',function(){
            $('.way label').removeAttr('class');
            $(this).attr('class', 'checked');
            $('.way label').find('input').removeAttr('checked', 'checked');
            $(this).find('input').attr('checked', 'checked');
        });
    }); 
       <!--输出格式-->
 $('.sclayout label').each(function(){
        $(this).bind('click',function(){
            $('.sclayout label').removeAttr('class');
            $(this).attr('class', 'checked');
            $('.sclayout label').find('input').removeAttr('checked', 'checked');
            $(this).find('input').attr('checked', 'checked');
        });
    });
   
        <!--环境要求-->
 $('.environment label').each(function(){
        $(this).bind('click',function(){
            $('.environment label').removeAttr('class');
            $(this).attr('class', 'checked');
            $('.environment label').find('input').removeAttr('checked', 'checked');
            $(this).find('input').attr('checked', 'checked');
        });
    });
  
   <!--影片风格-->
    $('.style label').each(function(){
        $(this).bind('click',function(){
            $('.style label').removeAttr('class');
            $(this).attr('class', 'checked');
            $('.style label').find('input').removeAttr('checked', 'checked');
            $(this).find('input').attr('checked', 'checked');
        });
    });
          <!--影视包装-->
   $('.baoz label').each(function(){
        $(this).bind('click',function(){
            $('.baoz label').removeAttr('class');
            $(this).attr('class', 'checked');
            $('.baoz label').find('input').removeAttr('checked', 'checked');
            $(this).find('input').attr('checked', 'checked');
        });
    });
            <!--背景音乐标题 music-title-->
   $('.music-title label').each(function(){
        $(this).bind('click',function(){
            $('.music-title label').removeAttr('class');
            $(this).attr('class', 'checked');
            $('.music-title label').find('input').removeAttr('checked', 'checked');
            $(this).find('input').attr('checked', 'checked');
        });
    });
            <!--背景音乐-->
  $('.bjmusic-con label').each(function(){
        $(this).bind('click',function(){
            $('.bjmusic-con label').removeAttr('class');
            $(this).attr('class', 'checked');
            $('.bjmusic-con label').find('input').removeAttr('checked', 'checked');
            $(this).find('input').attr('checked', 'checked');
        });
    });
       
   <!--音效-->
  $('.soundeffct label').each(function(){
        $(this).bind('click',function(){
            $('.soundeffct label').removeAttr('class');
            $(this).attr('class', 'checked');
            $('.soundeffct label').find('input').removeAttr('checked', 'checked');
            $(this).find('input').attr('checked', 'checked');
        });
    });
     <!--人声配音-->
    $('.soundp label').each(function(){
        $(this).bind('click',function(){
            $('.soundp label').removeAttr('class');
            $(this).attr('class', 'checked');
            $('.soundp label').find('input').removeAttr('checked', 'checked');
            $(this).find('input').attr('checked', 'checked');
        });
    });
        function mycheck(obj)
        {  var fn=obj.src;
            fn=fn.substring(fn.lastIndexOf("/")+1);
            if(fn=='checkbox.png'){
                obj.src='__IMG__/checkboxs.png';
                obj.previousSibling.checked = false;
        

            }else{
                obj.src='__IMG__/checkbox.png';
                obj.previousSibling.checked = true;               }
        }
  
     $('')    
    
  $(function(){
    $('.music-title ul li').click(function(){
      var $shi = $(this).attr('title');
      $('.' + $shi).show().siblings().hide();
      
      })
      $('.soundp-title ul li').click(function(){
      var $shide = $(this).attr('title');
      $('.' + $shide).show().siblings().hide();
      
      })
    
    })
    $(function(){
  $(".select").each(function(){
    var s=$(this);
    var z=parseInt(s.css("z-index"));
    var dt=$(this).children("dt");
    var dd=$(this).children("dd");
    var _show=function(){dd.slideDown(200);dt.addClass("cur");s.css("z-index",z+1);};   //展开效果
    var _hide=function(){dd.slideUp(200);dt.removeClass("cur");s.css("z-index",z);};    //关闭效果
    dt.click(function(){dd.is(":hidden")?_show():_hide();});
    dd.find("a").click(function(){dt.html($(this).html());_hide();});     //选择效果（如需要传值，可自定义参数，在此处返回对应的“value”值 ）
    $("body").click(function(i){ !$(i.target).parents(".select").first().is(s) ? _hide():"";});
  })
})  

 
</script>
</body>
</html>

